{% use "AppBundle:Widget:base.html.twig"  %}

{% block customersearch_container %}
<div class="portlet widget_container" id="{{ block_id }}">
    <div class="portlet-heading portlet-default">
        <h3 class="portlet-title text-dark">{{ widget.property('title') }}</h3>
        <div class="portlet-widgets">
            <span class="divider"></span>
            <a data-toggle="collapse" data-parent="#accordion1" href="#{{ block_id }}_collapse"><i class="ion-minus-round"></i></a>
            <span class="divider"></span>
            <a href="{{ path('app.dashboard_widget_remove', {"widgetId": widget.getId()}) }}" class="widget-remove" data-toggle="remove"><i class="ion-close-round"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="{{ block_id }}_collapse" class="panel-collapse collapse in">
        <div class="portlet-body">
            {{ widget_render_block(widget, 'widget') }}
        </div>
    </div>
</div>
{% endblock customersearch_container %}

{% block customerCounter_widget %}
<div class="filters" id="{{ id }}_list">
    <table id="{{ id }}_table" class="table table-striped table-bordered dt-responsive nowrap" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Currency</th>
                <th>KYC Status</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock customerCounter_widget %}

{% block customersearch_widget %}
<div>
    <div class="row customer">
        <div class="col-md-12">
            <div class="form-inline">
                <form action="{{ path('member.list_page') }}" target="_blank">
                    <div class="form-group m-r-10 ft-date">
                        <div class="m-t-10">
                            <div class="form-group form-group-sm m-r-10">
                                <div class="m-t-5">
                                    <div class="input-group">
                                        <input class="form-control cls-date" name="from" placeholder="From" type="input" id="">
                                        <span class="input-group-addon bg-white text-default"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-sm m-r-10">
                                <div class="m-t-5">
                                    <div class="input-group">
                                        <input class="form-control cls-date" name="to" placeholder="To" type="input" id="">
                                        <span class="input-group-addon bg-white text-default"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-sm m-r-10 xs-filter">
                                <div class="m-t-5">
                                    <select name= "currency[]" class="form-control selectpicker" data-container="body" data-width="auto" data-style="btn-white btn-sm" title="Select Currency" multiple="multiple">
                                        {% for currency in widget.getCurrency() %}
                                        <option value="{{ currency.id }}">{{ currency.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-group-sm m-r-10 xs-filter">
                                <div class="m-t-5">
                                    <select name="country[]" class="form-control selectpicker" data-container="body" data-width="auto" data-style="btn-white btn-sm" data-size="5" title="Select Country" multiple="multiple">
                                        {% for country in widget.getCountry() %}
                                        <option value="{{ country.id }}">{{ country.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-group-sm m-r-10 xs-filter">
                                <div class="m-t-5">
                                    <select name= "status[]" class="form-control selectpicker" data-container="body" data-width="auto" data-style="btn-white btn-sm" title="Select Status" multiple="multiple">
                                        <option value="registered">Registered</option>
                                        <option value="enabled">Enabled</option>
                                        <option value="suspended">Suspended</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group form-group-sm m-r-10 xs-filter">
                                <div class="m-t-5">
                                    <select name= "KYC[]" class="form-control selectpicker" data-container="body" data-width="auto" data-style="btn-white btn-sm" title="Select KYC" multiple="multiple">
                                        <option value="1">Verified</option>
                                        <option value="0">Not Verified</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-group-sm m-r-10 p-l-0 xs-filter">
                                <div class="m-t-5">
                                    <input type="text" class="form-control" id="" name="search" placeholder="Search Member Name">
                                </div>
                            </div>
                            <div class="widget-filter-btn">
                                <input type="submit" value="Search" class="btn btn-sm btn-success m-t-5">
                                <button type="reset" value="Reset" class="btn btn-sm btn-warning resetBtn1 m-t-5">Reset Filters</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock customersearch_widget %}

{% block customersearch_javascript %}
<script type="text/javascript">
$(function () {
    $('.cls-date').datepicker();

    $( ".resetBtn1" ).click(function() {
        $(".customer select").val('default');
        $(".customer select").selectpicker("refresh");
    });

});
</script>
{% endblock customersearch_javascript %}

{% block customerCounter_assetjs %}
{{ asset_render('js', 'default', [asset('bundles/app/js/ZTable.js')]) }}
{% endblock customerCounter_assetjs %}

{% block customerCounter_javascript %}
<script type="text/javascript">
    $(function () {
        var {{ id }}_list = new ZTable('#{{ id }}_list', {
            'dom': "t",
            'ajax': {
                'headers': {
                    'X-WIDGET-REQUEST': 'onGetCustomer',
                    'X-WIDGET-PATH': '{{ widget_path }}',
                    'X-WIDGET-ID': '{{ id }}'
                },
                'dataFilter': function (str) {
                    return str;
                },
                'dataSrc': '',
            },
            'columns': [
                {
                    'data': '0.full_name',
                },
                {
                    'data': '0.country.name'
                },
                {
                    'data': '0.currency.name',
                },
                {
                    'data': '0.verified_at',
                    'name': 'c.verifiedAt',
                    'defaultContent': '',
                    'render': function(isVerified) {
                        return (isVerified) ? "Verified" : "Not Verified";
                    }
                },
                {
                    'data': 'id',
                    'responsivePriority': 1,
                    'render': function (data, type, full) {
                        var status = 'Registered';
                        if (!full[0].details.enabled && full[0].is_activated) {
                            status = 'Registered';
                        } else if (!full[0].is_activated) {
                            status = 'Suspended';
                        } else if (full[0].details.enabled && full[0].is_activated) {
                            status = 'Enabled';
                        }

                        return status;
                    }
                },
                {
                    'data': 'id',
                    'responsivePriority': 1,
                    'render': function (data, type, full) {
                        return "<a href='" + full["0"]["@link"] +  "' target='_blank' class = 'btn btn-sm btn-primary waves-effect waves-light'>View</a>"
                        ;
                    }
                }
            ],
            'dt': {
                'processing': true,
                'serverSide': false,
                'deferLoading': null,
                'paginate': false,
                'paging': false,
                'bPaginate': false,
                'bInfo': false,
                'initComplete': function (settings, json) {
                    if (json.length === 0) {
                        $('#{{ id }}_list .dataTables_empty').attr('tabindex', 0);
                    }
                }
            }
        });

        $('#{{ id }}_container .zTable-refresh').click(function(){
            {{ id }}_list.dataTable.api().ajax.reload();
        });
    });
</script>
{% endblock customerCounter_javascript %}