<div class="row">
    {{ form_start(securityForm) }}
    <div class="col-md-6">
        <div class="card-box cls-sec">
            {{ form_widget(securityForm.user) }}
            {{ form_widget(securityForm.savePassword) }}
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card-box cls-sec">
            {{ form_widget(securityForm.transactionPassword) }}
            {{ form_widget(securityForm.saveTransactionPassword) }}
            <div class="clearfix"></div>
        </div>
    </div>
    {{ form_end(securityForm) }}
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card-box cls-sec">
            <h4 class="header-title">
                <b>{{ "activation.title"|trans({},'CustomerBundle') }}</b>
            </h4>

            <p>
                <em>{{ "activation.sentOn"|trans({},'CustomerBundle') }} {{ customer.user.activationSentTimestamp|date('m/d/Y H:i:s') }}.</em>

                {% if customer.user.activationTimestamp %}
                    <br/>
                    <em>{{ "activation.activatedOn"|trans({},'CustomerBundle') }} {{ customer.user.activationTimestamp|date('m/d/Y H:i:s') }}.</em>
                {% endif %}
            </p>

            {% if not customer.user.activationTimestamp %}
                <a href="#activate" id="activate" class="btn btn-success">{{ "activation.button"|trans({},'CustomerBundle') }}</a>
                <button id="activateCustomer" class="btn btn-primary">{{ "activation.buttonActivate"|trans({},'CustomerBundle') }}</button>
            {% endif %}
        </div>
    </div>

    {% if customer.user.activationTimestamp %}
        <div class="col-md-6">
            <div class="card-box">
                <h4 class="header-title">
                    <b>{{ "resetPassword.title"|trans({},'CustomerBundle') }}</b>
                </h4>

                {% if customer.user.resetPasswordSentTimestamp %}
                    <p>
                        <em>{{ "resetPassword.sentOn"|trans({},'CustomerBundle') }} {{ customer.user.resetPasswordSentTimestamp|date('m/d/Y H:i:s') }}.</em>
                    </p>
                {% endif %}

                <a href="#resetPassword" id="resetPassword" class="btn btn-success">{{ "resetPassword.button"|trans({},'CustomerBundle') }}</a>
            </div>
        </div>
    {% endif %}
</div>