<div class="modal-dialog modal-responsive">
    <div class="modal-content create-product-content">
        {{ form_start(form) }}
        <div class="modal-header"> 
            <h4 class="panel-title create-product-title">
                <span class='new'>{{ "page.Create Product"|trans({},"CustomerProductBundle") }}</span>
                <span class='update'>{{ "page.Update Product"|trans({},"CustomerProductBundle") }}: <span class='id'></span></span>
            </h4> 
        </div> 
        <div class="modal-body"> 
            <div class="row">
            {{ form_row(form.customer, { 'value': customer.id }) }}
            {{ form_row(form.userName) }}
            {{ form_row(form.product) }}

            <div class="balance-container">
                <div class="col-sm-12 form-group">
                    <label class="control-label required" for="CustomerProduct_balance"><span class="text text-danger">*</span> Balance
                        <span id="betAdminBalanceSpan"></span>
                    </label>
                    {{ form_widget(form.balance) }}
                    {{ form_errors(form.balance) }}
                </div>
            </div>
           
            {{form_row(form.brokerageSyncId)}}
            {{form_row(form.brokerageFirstName)}}
            {{form_row(form.brokerageLastName)}}
            {{form_row(form.isActive)}}
            </div>
        </div> 
        <div class="modal-footer">
            {{form_row(form.saveModal)}}            
            <button type="button" class="btn btn-inverse waves-effect" data-dismiss="modal">Cancel</button> 
        </div>
        {{ form_end(form) }}
    </div>
</div>