{% block dashboard_widgets_container %}
    {% if widget.property('type') == 'row' %}
    <div class="row" id="{{ id }}">
    {% else %}
    <div class="col-md-{{ widget.property('size', 12) }}" id="{{ id }}">
        <div class="row">
    {% endif %}
    <div class="masonry-container">
        <div class="grid-sizer col-md-1"></div>
    {% for child in widget.children() %}
        {% if widget_name == 'collection' and child.property('type') == 'column' %}
            {{ widget_render(child) }}
        {% else %}
            <div class="grid-item col-md-{{ child.property('size', 12) }} col-sm-12">
                {{ widget_render(child) }}
            </div>
        {% endif %}
    {% endfor %}
    </div>
    {% if widget.property('type') == 'row' %}
    </div>
    {% else %}
        </div>
    </div>
    {% endif %}
{% endblock dashboard_widgets_container %}

{% block dashboard_widgets_javascript %}
    <script type="text/javascript">
        $(window).load(function(){
            var $container = $('.masonry-container');
            $container.isotope({
                itemSelector: '.grid-item',
                percentPosition: true,
                masonry: {
                    columnWidth: '.grid-sizer',
                    horizontalOrder: true
                }
            });
            $(document).bind('ajaxComplete',function(event, xhr, settings) {
                $container.isotope('layout');
            });

            $(".widget_container").on("click", "td", function() {
                if($("td").attr("tabindex")== 0){
                    $container.isotope('layout');
                }
            });
        });
        $(function () {
            
        });
    </script>
    {% for child in widget.children() %}
        {{ widget_render_block(child, 'javascript') }}
    {% endfor %}
{% endblock dashboard_widgets_javascript %}

{% block dashboard_widgets_assetjs %}
    {{ asset_render('js', 'default', [asset('assets/plugins/isotope/js/isotope.pkgd.min.js')]) }}
    {% for child in widget.children() %}
        {{ widget_render_block(child, 'assetjs') }}
    {% endfor %}
{% endblock dashboard_widgets_assetjs %}

{% block collection_container %}
    {% if widget.property('type') == 'row' %}
    <div class="row" id="{{ id }}">
    {% else %}
    <div class="col-md-{{ widget.property('size', 12) }}" id="{{ id }}">
        <div class="row">
    {% endif %}
    {% for child in widget.children() %}
        {% if widget_name == 'collection' and child.property('type') == 'column' %}
            {{ widget_render(child) }}
        {% else %}
            <div class="col-md-{{ child.property('size', 12) }}">
                {{ widget_render(child) }}
            </div>
        {% endif %}
    {% endfor %}
    {% if widget.property('type') == 'row' %}
    </div>
    {% else %}
        </div>
    </div>
    {% endif %}
{% endblock collection_container %}

{% block collection_button %}
{% endblock collection_button %}