{% extends 'TransactionBundle:Default:transaction.html.twig' %}

{% form_theme form with ["TransactionBundle:Form:Theme/transaction.html.twig", _self] %}

{% block title -%}
    {{ "page.title.transfer"|trans({},"TransactionBundle") }}
{%- endblock %}

{% block pageTitle -%}
    {{ "page.Transfer"|trans({},"TransactionBundle") }}
{%- endblock %}

{% block breadcrumb -%}
    <li>{{ "breadcrumb.transaction"|trans({},"AppBundle") }}</li>
    <li>
        <a href="{{ path("transaction.list_page") }}">{{ "breadcrumb.list"|trans({},"TransactionBundle") }}</a>
    </li>
    <li class="{{ transaction.id|default(false) ? "" : "active" }}}">
        {% if transaction.id|default(false) %}
            <a href="{{ path("transaction.create_page", {"type": "transfer"}) }}">{{ "menus.Transfer"|trans({},"TransactionBundle") }}</a>
        {% else %}
            {{ "menus.Transfer"|trans({},"TransactionBundle") }}
        {% endif %}
    </li>
    {% if transaction.id|default(false) %}
    <li class="active">
        {{ transaction.number }}
    </li>
    {% endif %}
{%- endblock %}

{% block _Transaction_subTransactions_errors -%}
    {% if errors|length > 0 -%}
    <div class="alert alert-danger">
        <ul class="list-unstyled">
            {%- for error in errors -%}
                <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
            {%- endfor -%}
        </ul>
    </div>
    {%- endif %}
{%- endblock %}

{% block _Transaction_subTransactions_row %}
    <div class="hide" id="{{ form.vars.id }}" data-index="0">
        {{ form_errors(form) }}
        <div class="card-box">
            <h4 class="header-title m-b-30 m-t-0">
                From Products
                {%- if form.vars.addSubtransaction -%}
                &nbsp;|<button type="button" class="btn btn-success btn-sm btn-add-from-product"><i class="fa fa-plus" title="Add Product"></i></button>
                {%- endif %}
            </h4>
            <div class="from-product-list">
            </div>
        </div>
        <div class="card-box">
            <h4 class="header-title m-b-30 m-t-0">
                To Products
                {%- if form.vars.addSubtransaction -%}
                &nbsp;|<button type="button" class="btn btn-success btn-sm btn-add-to-product"><i class="fa fa-plus" title="Add Product"></i></button>
                {%- endif %}
            </h4>
            <div class="to-product-list">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var products = null;
        function customerProductLoad(data) {
            products.clear();
            
            products.setProducts(data);
            
            {% for child in form.subTransactions.children -%}
                    {%- if child.vars.data.type == 1 -%}
                        products.add({
                            'type': '{{ child.vars.data.type }}',
                            'customerProduct': '{{ child.vars.data.customerProduct.id|default(null) }}',
                            'amount': '{{ child.vars.data.amount }}',
                            'enabled': false,
                            'renderTo': '.to-product-list',
                            'errors': {{ form_errors(child) }}
                        });
                    {%- elseif child.vars.data.type == 2 -%}
                        products.add({
                            'type': '{{ child.vars.data.type }}',
                            'customerProduct': '{{ child.vars.data.customerProduct.id|default(null) }}',
                            'amount': '{{ child.vars.data.amount }}',
                            'enabled': false,
                            'renderTo': '.from-product-list',
                            'errors': {{ form_errors(child) }}
                        });
                    {%- endif -%}
            {% else %}
            products.add({
                'type': 2,
                'customerProduct': null,
                'amount': 0,
                'enabled': true,
                'renderTo': '.from-product-list'
            });
            products.add({
                'type': 1,
                'customerProduct': null,
                'amount': 0,
                'enabled': true,
                'renderTo': '.to-product-list'
            });
            {%- endfor %}
        }
        
        $(function() {
            $('#{{ form.customer.vars.id }}').on('select2:select', function(event) {
                products.clear();
            });
            
            $('.btn-add-from-product').click(function() {
                products.add({
                    'type': 2,
                    'customerProduct': null,
                    'amount': 0,
                    'enabled': true,
                    'renderTo': '.from-product-list'
                });
            });
            
            $('.btn-add-to-product').click(function() {
                products.add({
                    'type': 1,
                    'customerProduct': null,
                    'amount': 0,
                    'enabled': true,
                    'renderTo': '.to-product-list'
                });
            });
            
            var subTransactionPrototype = '{{ form_row(form.subTransactions.vars.prototype)|e('js') }}';
            
            products = new Products("transfer",{
                'prototype': subTransactionPrototype,
                'elem': '#{{ form.subTransactions.vars.id }} .from-product-list'
            });
            
            $('#{{ form.customer.vars.id }}').trigger('select2:select');
        });
    </script>
{% endblock %}
    
{% block summary_template %}
<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0">
    <xsl:output method="xml"/>
    <xsl:template match="transaction">
        <div class='card-box'>
        <div class='card-box'>
            <div class='row'>
                <div class='col-md-6'>
                    <b>{{ "Status"|trans({},"TransactionBundle") }}</b>
                </div>
                <div class='col-md-6 '>
                    <xsl:choose>
                        <xsl:when test="statusinfo/id = 2 and voided = 1">
                            <span class="label label-danger">{{ "Voided"|trans({}, "TransactionBundle") }}</span>
                        </xsl:when>
                        <xsl:when test="statusinfo/id = 3">
                            <span class="label label-danger"><xsl:value-of select="statusinfo/label"/></span>
                        </xsl:when>
                        <xsl:otherwise>
                            <span class="label label-success"><xsl:value-of select="statusinfo/label"/></span>
                        </xsl:otherwise>
                    </xsl:choose>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <b>{{ "Transaction Number"|trans({},"TransactionBundle") }}</b>
                </div>
                <div class='col-md-6 '>
                    <span><xsl:value-of select="number"/></span>
                </div>
            </div>
        </div>
        <div class='card-box'>
            <h4 class="header-title m-t-0">{{ "Products"|trans({}, "TransactionBundle") }}</h4>
            <hr />
            <xsl:choose>
                <xsl:when test='not ((status = 2) or (status = 3))'>
                <div class='row'>
                    <div class='col-sm-4'><b>{{ "Product"|trans({}, "TransactionBundle") }}</b></div>
                    <div class='col-sm-4'><b>{{ "Current"|trans({}, "TransactionBundle") }}</b></div>
                    <div class='col-sm-4'><b>{{ "After"|trans({}, "TransactionBundle") }}</b></div>
                </div>
                <xsl:for-each select="subtransactions/i">
                    <div class='row subtransaction'>
                        <xsl:attribute name='data-index'>
                            <xsl:value-of select='index' />
                        </xsl:attribute>
                        <div class='col-sm-4'><span><xsl:value-of select="customerproduct/username"/></span></div>
                        <div class='col-sm-4'><span><xsl:value-of select="customerproduct/balance"/></span></div>
                        <div class='col-sm-4'><span><xsl:value-of select="afterbalance"/></span></div>
                    </div>
                </xsl:for-each>
                </xsl:when>
                <xsl:otherwise>
                <div class='row'>
                    <div class='col-sm-4'><b>{{ "Product"|trans({}, "TransactionBundle") }}</b></div>
                    <div class='col-sm-8'><b>{{ "Balance"|trans({}, "TransactionBundle") }}</b></div>
                </div>
                <xsl:for-each select="subtransactions/i">
                    <div class='row subtransaction'>
                        <xsl:attribute name='data-index'>
                            <xsl:value-of select='index' />
                        </xsl:attribute>
                        <div class='col-sm-4'><span><xsl:value-of select="customerproduct/username"/></span></div>
                        <div class='col-sm-8'><span><xsl:value-of select="customerproduct/balance"/></span></div>
                    </div>
                </xsl:for-each>
                </xsl:otherwise>
            </xsl:choose>
        </div>
        
        <div class='card-box'>
            <div class='row'>
                <div class='col-md-6'>
                    <b>{{ "Total Amount"|trans({},"TransactionBundle") }}</b>
                </div>
                <div class='col-md-6 '>
                    <span><xsl:value-of select="sum_withdraw_products"/></span>
                </div>
            </div>
        </div>
        </div>
    </xsl:template>
    
</xsl:stylesheet>
{% endblock %}

{% block _Transaction_customerFee_widget %}
{% endblock %}

{% block _Transaction_companyFee_widget %}
{% endblock %}

{% block left -%}
    <div class="card-box">
        <div class="row">
        {{ form_row(form.number) }}
        {{ form_row(form.currency) }}
        {{ form_row(form.date) }}
        </div>
    </div>
    <div class="card-box hide">
        <div class="row">
            {{ form_row(form.customerFee) }}
            {{ form_row(form.companyFee) }}
        </div>
    </div>
    {{ form_row(form.subTransactions) }}
    <div class="card-box">
        <div class="row">
        {{ form_row(form.actions) }}
        </div>
    </div>
{%- endblock %}