{% extends 'AppBundle:Layout:base.html.twig' %}

{% block title %}{{ "page.title.list"|trans({},"MemberBundle") }}{% endblock %}

{% block stylesheets %}
    <!-- DataTables -->
    <link href="{{ asset('assets/plugins/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/responsive.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/dataTables.colVis.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pageTitle -%} Inactive Members (no activity for last 6 months) {%- endblock %}

{% block pageHeaderExtra %}
    <div class="pull-right">
        <a class="btn btn-primary waves-effect waves-light pull-right m-b-10" href="#" id="refresh-list" title="the system updates this list automatically, but in case you want to update it manually just click this button"><span><i class="fa fa-refresh m-r-5" id="update-list-spinner"></i></span> Update List</a>
    </div>
{% endblock pageHeaderExtra %}

{% block breadcrumb -%}
    {#<li>{{ "breadcrumb.finance"|trans({},"AppBundle") }}</li>#}
    {#<li class="active">{{ "breadcrumb.list"|trans({},"GatewayBundle") }}</li>#}
    These are members with no <b>completed</b>/<b>valid</b> transactions (deposit / withdrawal / bonus / transfer / p2p transfer / dwl / bet) for the past 6 months
{% endblock %}

{% block page -%}
    <div class="col-sm-12">
        <div class="card-box">
            <div id="inactive-list">
                <table id="datatable-responsive"
                       class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
                       width="100%">
                    <thead>
                    <tr>
                        <th data-priority="1">Full Name</th>
                        <th data-priority="1">Currency</th>
                        <th data-priority="1">Date Joined</th>
                        <th data-priority="1">Balance</th>
                        <th data-priority="1" title="( Deposit / Withdrawal / Bonus / Transfer / P2pTransfer / DWL / Bet )">Last Transaction Date</th>
                        <th data-priority="1">Listed as Inactive At</th>
                        <th> Action </th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>
{%- endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/ZTable.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.bootstrap.js') }}"></script>

    <script src="{{ asset('assets/plugins/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/responsive.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.colVis.js') }}"></script>

    <script>
        $('#refresh-list').click(function () {
            updateList();
        });

        function updateList()
        {
            runSpinner();
            $.post('{{ path('member.inactive.update_list') }}', function( data ) {
                reloadTable();
                stopSpinner();
            });
        }

        function reloadTable()
        {
            $('#inactive-list').data('ztable').reloadTable();
        }

        function runSpinner()
        {
            $('#refresh-list').prop('disabled', true);
            $('#update-list-spinner').addClass('fa-spin');
        }

        function stopSpinner()
        {
            $('#refresh-list').prop('disabled', false);
            $('#update-list-spinner').removeClass('fa-spin');
        }

    </script>

    <script type="text/javascript" >
        var userPreferences = {{ app.user.getPreference('ui.inactive-members.list.column.visibility')|json_encode()|raw }};
        $(function(){
            var listTable = new ZTable('#inactive-list',  {
                'ajax': {
                    'url': '{{ path("member.inactive.list_search") }}',
                    'data': function (data, dataTable) {
                        return {
                            'search': data.filters.search,
                            'length': data.length,
                            'start': dataTable.start,
                            'datatable': true,
                            'route': true,
                            'draw': dataTable.draw,
                            'order': data.order,
                            'filter' : data.filters

                        };
                    },
                    'dataFilter': function (str) {
                        return str;
                    }
                },
                'colvis': {
                    'hidden': function () {
                        var hidden = [];
                        for (var i in userPreferences) {
                            if (userPreferences[i] == 'false') {
                                hidden.push(eval(i));
                            }
                        }

                        return hidden;
                    },
                    'exclude': ['gateway.name']
                },
                'dom': "<'row m-b-10'<'col-md-12'<'pull-right'C>F>><'row form-inline'<'col-md-6 col-sm-6 col-xs-6'l><'col-md-6 col-sm-6 col-xs-6 text-right's>>t",
                'featuresDom': "<'form-inline'"
                + "<'form-group m-r-10 ft-date'<'xs-date'ft>>"
                + "ftcsodb"
                + "<'form-group' <'m-t-10'b>>>",
                'features': {
                },
                'columns': [
                    {   'data': 'name',
                        'name': 'name',
                        'render': function(memberName,type,inactiveMember) {
                            var linkString = '<a target="_blank" href="{{ path('member.update_page',{'id':'__MEMBER_ID__','activeTab':'profile'}) }}">' + memberName +'</a>';
                            linkString = linkString.replace('__MEMBER_ID__', inactiveMember.memberId);
                            return linkString;
                        }
                    },
                    {   'data': 'currencyCode',
                        'name': 'currencyCode'
                    },
                    {   'data': 'dateJoined',
                        'name': 'dateJoined'
                    },
                    {
                        'data': 'balance'
                    },
                    {
                        'data': 'lastTransactionDate'
                    },
                    {
                        'data': 'listedAsInactiveAt'
                    },
                    {
                        'data': 'memberId',
                        'defaultContent': '',
                        'render': function(memberId, type, inactiveMember) {
                            return '<button class="btn btn-danger" data-member-id="'+ memberId +'" data-member-name="'+ inactiveMember.name +'" title="Manually remove Member from this list (Inactive Members will still be added back once the list is updated)">Remove</button>';
                        }
                    }
                ]
            });

            $('#inactive-list').on('ztable.change.column.visible', function (e, colvis, ztable) {
                saveUserPreferences({'ui.inactive-members.list.column.visibility': ztable.getColumnVisibility()});
            });

            $('#inactive-list').on('click', 'tr td button', function (e) {
                e.preventDefault();
                var memberId = $(this).attr('data-member-id');
                var memberName = $(this).attr('data-member-name');
                removeMemberFromList(memberId, memberName);
            });

            function removeMemberFromList(memberId, memberName)
            {
                var memberRemovalUrl = '{{ path('member.inactive.remove_member',{'memberId':'__MEMBER_ID__'}) }}';
                memberRemovalUrl = memberRemovalUrl.replace('__MEMBER_ID__', memberId);
                confirm2('Are you sure you want to remove Member ('+ memberName +') from this list?  ', 'Remove From Inactive List', {
                    'type': 'warning',
                    'confirmButtonClass': 'btn-success btn-md',
                    'confirmButtonText': 'Yes',
                    'html': true,
                    'showLoaderOnConfirm': true,
                    'closeOnConfirm': false,
                    'closeOnCancel': true
                }, function(isConfirm) {
                    if (isConfirm) {
                        $.post(memberRemovalUrl, function( data ) {

                            reloadTable();
                            alert2(' Member ('+ memberName +') has been removed', "Success", {
                                'type': 'success',
                            });
                        });
                    }
                });
            }
        });
    </script>
{% endblock %}