{% extends 'AppBundle:Layout:base-v2.html.twig' %}

{% widget_template page.getWidget('list') _self %}

{% block title %}{{ "page.title.list"|trans({},"MemberBundle") }}{% endblock %}

{% block stylesheet_plugins %}
    {{ widget_render_block(page.getWidget('list'), 'assetcss') }}
{% endblock stylesheet_plugins %}

{% block stylesheets %}
    {{ widget_render_block(page.getWidget('list'), 'stylesheet') }}
{% endblock %}

{% block pageTitle -%} {{ "page.text.Member"|trans({},"MemberBundle") }} {%- endblock %}

{% block pageHeaderExtra %}
    <div class="pull-right">
        <a class="btn btn-primary waves-effect waves-light pull-right m-b-10"
           href="{{ path("member.create_page") }}"><span><i
                        class="ti-plus m-r-5"></i></span> {{ 'Add Member'|trans({}, 'MemberBundle') }}</a>
        <ul class="list-inline quicklinks font-13 font-normal text-right">
            <li>Quick Links:</li>
            <li><a href="{{ path("member.create_page") }}"> {{ "Add Member"|trans({},"MemberBundle") }}</a></li>
            |
            <li><a href="{{ path("customer.group_list_page") }}"> {{ "Member Group"|trans({},"MemberBundle") }}</a></li>
            |
            <li><a href="{{ path("transaction.list_page") }}"> {{ "Transaction List"|trans({},"MemberBundle") }}</a>
            </li>
        </ul>
    </div>
{% endblock pageHeaderExtra %}

{% block breadcrumb -%}
    <li>{{ "Member"|trans({},"MemberBundle") }}</li>
    <li class="active">{{ "Member List"|trans({},"MemberBundle") }}</li>
{%- endblock %}

{% block page %}
    <div class="col-sm-12">
        <div class="card-box">
            {{ widget_render(page.getWidget('list')) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function listFullname(data, text, full) {
            var fullName = data.fullName;
            if (data.user.activationTimestamp !== null) {
                fullName = fullName + "&nbsp;<i  class=' icon-user-following cls-activate' title='AMS Activated'></i>";
            }

            if (data.tags !== null) {
                fullName = fullName + "&nbsp;<span class='label label-inverse m-l-5'><i class='fa fa-tag'></i> " + data.tags + "</span>";
            }

            return fullName;
        }

        function listKyc(data, text, full) {
            console.log(data);
            return (data) ? "Verified" : "Not Verified";
        }

        function listCreator(data, text, full) {
            return (data !== null) ? data.username : "";
        }

        function listCountry(data, text, full) {
            return (data !== null) ? data.name : "";
        }

        function listStatus(data, text, full) {
            var status = 'Registered';
            if (!data.details.enabled && data.user.isActive) {
                status = 'Registered';
            } else if (!data.user.isActive) {
                status = 'Suspended';
            } else if (data.details.enabled && data.user.isActive) {
                status = 'Enabled';
            }

            return status;
        }

        function {{ page.getWidget('list').getFullId() }}_extendData(ztableData, dataTable) {
            var filters = {};
            var newData = ztableData;
            filters.filter = ztableData.data.filters;
            newData.data.filters = filters;
            newData.data.search = ztableData.data.filters.filter.search;
            newData.data.filters.search = ztableData.data.filters.filter.search;
            newData.data.orders = [
                {'column': 'c.joinedAt', 'dir': 'desc'}
            ];

            return newData;
        }

        function listPaymentOption(data, text, full) {
            var paymentOptions = '';
            var time = 0;
            data.forEach(function (e) {
                if (e.paymentOption) {
                    if (time >= 1) {
                        paymentOptions = paymentOptions + ', ';
                    }
                    paymentOptions = paymentOptions + e.paymentOption.code.toString();
                }
                time++;
            });
            return paymentOptions;
        }

        function listTag(data) {
            var tag = '';
            var isCustomer = data.isCustomer;
            var isAffiliate = data.isAffiliate;

            if (isCustomer === true) {
                tag = 'Member';
                if (isAffiliate === true) {
                    tag = 'Member, Affiliate';
                }
            } else if (isAffiliate === true) {
                tag = 'Affiliate';
            }
            return tag;

        }

        function listAction(data, text, full) {
            console.log(data);
            var action = "<a class='btn btn-primary waves-effect waves-light btn-xs ' title='Profile' href='" + full.routes.update + "/profile'><i class='ti-user'></i> </a>";
            var finance = "<a action='transaction' href='" + full.routes.update + "/transactions' title='Transaction History' class='btn btn-icon waves-effect waves-light btn-xs btn-purple btn-icn active-state-action'><i class='ti-money'></i></a>";
            var product = "<a action='product' href='" + full.routes.update + "/product' title='Product'  class='btn btn-icon waves-effect waves-light btn-warning btn-xs btn-icn active-state-action'> <i class='ti-bag'></i> </button>";
            var customer = "<a action='customer' href='" + full.routes.update + "/referrals' title='" + full.referralCount + "' class='btn btn-icon waves-effect waves-light btn-info btn-xs btn-icn active-state-action'> <i class='icon-people'></i> </button>";

            action = action + '' + finance;
            action = action + '' + product;
            action += ' ' + customer;

            return action;
        }
    </script>
    {{ widget_render_block(page.getWidget('list'), 'javascript') }}
{% endblock %}