{% extends 'AppBundle:Layout:base-v2.html.twig' %}

{% widget_template page.getWidget('list') _self %}

{% block title %}{{ "page.title.list"|trans({},"MemberBundle") }}{% endblock %}

{% block stylesheet_plugins %}
    {{ widget_render_block(page.getWidget('list'), 'assetcss') }}
{% endblock stylesheet_plugins %}

{% block stylesheets %}
    {{ widget_render_block(page.getWidget('list'), 'stylesheet') }}
{% endblock %}

{% block pageTitle -%} {{ "page.text.Member"|trans({},"MemberBundle") }} {%- endblock %}

{% block pageHeaderExtra %}
    <div class="pull-right">
        <a class="btn btn-primary waves-effect waves-light pull-right m-b-10" href="{{ path("member.create_page") }}"><span><i class="ti-plus m-r-5"></i></span> {{ 'Add Member'|trans({}, 'MemberBundle') }}</a>
        <ul class="list-inline quicklinks font-13 font-normal text-right">
            <li>Quick Links:</li>
            <li><a href="{{ path("member.create_page") }}"> {{ "Add Member"|trans({},"MemberBundle") }}</a></li>|
            <li><a href="{{ path("customer.group_list_page") }}"> {{ "Member Group"|trans({},"MemberBundle") }}</a></li>|
            <li><a href="{{ path("transaction.list_page") }}"> {{ "Transaction List"|trans({},"MemberBundle") }}</a></li>
        </ul>
    </div>
{% endblock pageHeaderExtra %}

{% block breadcrumb -%}
    <li>{{ "Member"|trans({},"MemberBundle") }}</li>
    <li class="active">{{ "Member List"|trans({},"MemberBundle") }}</li>
{%- endblock %}

{% block page %}
    <div class="col-sm-12">
        <div class="card-box">
            {{ widget_render(page.getWidget('list')) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function listFullname(data, text, full)
        {
            var fullName = data.fullName;
            if (data.user.activationTimestamp !== null) {
                fullName = fullName + "&nbsp;<i  class=' icon-user-following cls-activate' title='AMS Activated'></i>";
            }

            if (data.tags !== null) {
                fullName = fullName + "&nbsp;<span class='label label-inverse m-l-5'><i class='fa fa-tag'></i> " + data.tags + "</span>";
            }

            return fullName;
        }

        function listKyc(data, text, full)
        {
            return (data) ? "Verified" : "Not Verified";
        }

        function listCreator(data, text, full)
        {
            return (data !== null) ? data.username : "";
        }

        function listStatus(data, text, full)
        {
            var status = 'Registered';
            if (!data.details.enabled && data.user.isActive) {
                status = 'Registered';
            } else if (!data.user.isActive) {
                status = 'Suspended';
            } else if (data.details.enabled && data.user.isActive) {
                status = 'Enabled';
            }

            return status;
        }

        function {{ page.getWidget('list').getFullId() }}_extendData(ztableData, dataTable)
        {
            var filters = {};
            var newData = ztableData;
            filters.filter = ztableData.data.filters;
            filters.filter.searchCategory = $('#{{ page.getWidget('list').getFullId() }}_container').find('select[name=ztable_search_category]').val() || [];
            newData.data.filters = filters;
            newData.data.search = ztableData.data.filters.filter.search;
            newData.data.filters.search = ztableData.data.filters.filter.search;
            newData.data.orders = [
                {'column': 'c.joinedAt', 'dir': 'desc'}
            ];

            newData.data.filters.length = 0;
            newData.data.filters.limit = 0;
            {% if is_granted('ROLE_VIEW_MEMBER_LIST') %}
                newData.data.filters.length = 10;
                newData.data.filters.limit = 10;
                newData.data.filters.viewAll = true;
            {% endif %}

            {% if is_granted('ROLE_USE_MEMBER_LIST_FILTERS') %}
                let fData = newData.data.filters.filter, hasFilterData = false;
                for (let i in fData) {
                    if (!_.isEmpty(fData[i])) {
                        hasFilterData = true; break;
                    }
                }

                if (hasFilterData) {
                    newData.data.filters.length = 10;
                    newData.data.filters.limit = 10;

                    if (!newData.data.filters.search) delete newData.data.filters.search;
                }
            {% endif %}

            {% if is_granted('ROLE_USE_MEMBER_SEARCH') %}
                if ((!_.isEmpty(newData.data.filters.filter.searchCategory) && !newData.data.filters.filter.search) || (_.isEmpty(newData.data.filters.filter.searchCategory) && newData.data.filters.filter.search)) {
                    newData.data.filters.length = 0;
                    newData.data.filters.limit = 0;
                } else if (!_.isEmpty(newData.data.filters.filter.searchCategory) && newData.data.filters.filter.search) {
                    newData.data.filters.length = 10;
                    newData.data.filters.limit = 10;
                }
            {% endif %}
            return newData;
        }

        function listAction(data, text, full)
        {
            var action = "<a class='btn btn-primary waves-effect waves-light btn-xs ' title='Profile' href='" + full.routes.update + "/profile'><i class='ti-user'></i> </a>";
            var finance = "<a action='transaction' href='" + full.routes.update + "/transactions' title='Transaction History' class='btn btn-icon waves-effect waves-light btn-xs btn-purple btn-icn active-state-action'><i class='ti-money'></i></a>";
            var product = "<a action='product' href='" + full.routes.update + "/product' title='Product'  class='btn btn-icon waves-effect waves-light btn-warning btn-xs btn-icn active-state-action'> <i class='ti-bag'></i> </button>";
            var customer = "<a action='customer' href='" + full.routes.update + "/referrals' title='"+ full.referralCount +"' class='btn btn-icon waves-effect waves-light btn-info btn-xs btn-icn active-state-action'> <i class='icon-people'></i> </button>";

            action = action + '' + finance;
            action = action + '' + product;
            action += ' ' + customer;

            return action;
        }

        function getCountryName(data, text, full) {
            if (data) {
                return data.name;
            }

            return '';
        }

        function {{ page.getWidget('list').getFullId() }}_generateSearchInput()
        {
            var obj = {'searchInput': ''};
            {% if is_granted('ROLE_USE_MEMBER_SEARCH') %}
                var options = '';
                {% for key,val in page.getWidget('list').property('searchCategory') %}
                    options += '<option value="{{ key }}">{{ val }}</option>';
                {% endfor %}

                obj['searchInput'] = '' +
                    '<div class="form-group form-group-sm m-r-10">' +
                        '<select class="selectpicker" data-none-selected-text="Select Category" data-style="btn-white btn-sm" multiple="multiple" name="ztable_search_category">' + options + '</select>' +
                    '</div>' +
                    '<input type="text" class="ztable_search_input" name="search"  /><i class="form-control-feedback l-h-30 fa fa-search"></i>';

                $('#{{ page.getWidget('list').getFullId() }}_container').on('change', 'select[name=ztable_search_category]', function () {
                    {{ page.getWidget('list').getFullId() }}Table.reloadTable();
                });

            {% endif %}

            return obj;
        }

    </script>
    {{ widget_render_block(page.getWidget('list'), 'javascript') }}
{% endblock %}