<ul class="nav navtab-bg tabs-vertical">
  <li class="li-customer-tab active">
      <a href="#profile" aria-expanded="true" class="customer-tab">
          <span class="visible-xs visible-sm visible-md tooltip-members" data-toggle="tooltip" title="Profile">
              <i class="ti-user"></i>
          </span>
          <span class="hidden-xs hidden-sm hidden-md">
              <i class="ti-user"></i>
              {{ "page.tab.profile"|trans({},"MemberBundle") }}
          </span>
      </a>
  </li>
  <li class="li-customer-tab">
      <a href="#security" aria-expanded="true" class="customer-tab">
          <span class="visible-xs visible-sm visible-md tooltip-members" data-toggle="tooltip" title="Security">
              <i class="ti-key"></i>
          </span>
          <span class="hidden-xs hidden-sm hidden-md">
              <i class="ti-key"></i>
              {{ "page.tab.security"|trans({},"MemberBundle") }}
          </span>
      </a>
  </li>
  <li class="li-customer-tab">
      <a href="#contacts" aria-expanded="true" class="customer-tab">
          <span class="visible-xs visible-sm visible-md tooltip-members" data-toggle="tooltip" title="Contacts">
              <i class="ti-id-badge"></i>
          </span>
          <span class="hidden-xs hidden-sm hidden-md">
              <i class="ti-id-badge"></i>
              {{ "page.tab.contacts"|trans({},"MemberBundle") }}
          </span>
      </a>
  </li>
  <li class="li-customer-tab">
      <a href="#socials" aria-expanded="true" class="customer-tab">
          <span class="visible-xs visible-sm visible-md tooltip-members" data-toggle="tooltip" title="Socials">
              <i class="ti-star"></i>
          </span>
          <span class="hidden-xs hidden-sm hidden-md">
              <i class="ti-star"></i>
              {{ "page.tab.socials"|trans({},"MemberBundle") }}
          </span>
      </a>
  </li>
  <li class="li-customer-tab">
      <a href="#product" aria-expanded="true" class="customer-tab">
          <span class="visible-xs visible-sm visible-md tooltip-members" data-toggle="tooltip" title="Products">
              <i class="ti-bag"></i>
          </span>
          <span class="hidden-xs hidden-sm hidden-md">
              <i class="ti-bag"></i>
              {{ "page.tab.products"|trans({},"MemberBundle") }}
          </span>
      </a>
  </li>
  {#<li class="li-customer-tab">#}
      {#<a href="#commissions" aria-expanded="true" class="customer-tab">#}
          {#<span class="visible-xs visible-sm visible-md tooltip-members" data-toggle="tooltip" title="Affiliate Setting">#}
              {#<i class="ti-link"></i>#}
          {#</span>#}
          {#<span class="hidden-xs hidden-sm hidden-md">#}
              {#<i class="ti-link"></i>#}
              {#{{ "page.tab.commissions"|trans({},"MemberBundle") }}#}
          {#</span>#}
      {#</a>#}
  {#</li>#}
  <li class="li-customer-tab">
      <a href="#transactions" aria-expanded="true" class="customer-tab">
          <span class="visible-xs visible-sm visible-md tooltip-members" data-toggle="tooltip" title="Transaction History">
              <i class="ti-reload"></i>
          </span>
          <span class="hidden-xs hidden-sm hidden-md">
              <i class="ti-reload"></i>
              {{ "page.tab.transactionHistory"|trans({},"MemberBundle") }}
          </span>
      </a>
  </li>
  <li class="li-customer-tab">
      <a href="#payments" aria-expanded="true" class="customer-tab">
          <span class="visible-xs visible-sm visible-md tooltip-members" data-toggle="tooltip" title="Payments">
              <i class="ti-money"></i>
          </span>
          <span class="hidden-xs hidden-sm hidden-md">
              <i class="ti-money"></i>
              {{ "page.tab.payments"|trans({},"MemberBundle") }}
          </span>
      </a>
  </li>
  {#<li class="li-customer-tab">#}
      {#<a href="#docs" aria-expanded="true" class="customer-tab">#}
          {#<span class="visible-xs visible-sm visible-md tooltip-members" data-toggle="tooltip" title="Documents">#}
              {#<i class="ti-folder"></i>#}
          {#</span>#}
          {#<span class="hidden-xs hidden-sm hidden-md">#}
              {#<i class="ti-folder"></i>#}
              {#{{ "page.tab.documents"|trans({},"MemberBundle") }}#}
          {#</span>#}
      {#</a>#}
  {#</li>#}
  <li class="li-customer-tab">
      <a href="#referrals" aria-expanded="true" class="customer-tab">
          <span class="visible-xs visible-sm visible-md tooltip-members" data-toggle="tooltip" title="Referrals">
              <i class="fa fa-users"></i>
          </span>
          <span class="hidden-xs hidden-sm hidden-md">
              <i class="fa fa-users"></i>
              {{ "page.tab.referrals"|trans({},"MemberBundle") }}
          </span>
      </a>
  </li>
  <li class="li-customer-tab">
      <a href="#referral_tool" data-toggle="tab" aria-expanded="true" class="customer-tab">
          <span class="visible-xs visible-sm visible-md tooltip-members" data-toggle="tooltip" title="Referral Tool">
              <i class="ti-stats-up"></i>
          </span>
          <span class="hidden-xs hidden-sm hidden-md">
              <i class="ti-stats-up"></i>
              {{ "page.tab.referralTools"|trans({},"MemberBundle") }}
          </span>
      </a>
  </li>
</ul>
