<!-- Button mobile view to collapse sidebar menu -->
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="">
            <div class="pull-left">
                <button class="button-menu-mobile open-left waves-effect waves-light">
                    <i class="md md-menu"></i>
                </button>
                <span class="clearfix"></span>
            </div>
            <div class="row">
                <div class="pull-right cls-nav">
                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="">
                            <a class="waves-effect waves-light">MS: <span id="msCount">-</span></a>
                        </li>
                        <li class="">
                            <a class="waves-effect waves-light">BO: <span id="boCount">-</span></a>
                        </li>
                        <li class="">
                            <a href="{{ path('media.list_page') }}" class="waves-effect waves-light"><i class="ti-gallery"></i></a>
                        </li>
                        <li class="dropdown top-menu-item-xs">
                            <a href="#" data-target="#" id="read-notification" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                                <i class="icon-bell"></i> <span class="badge badge-xs badge-danger notification-counter"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-lg">
                                <li class="notifi-title">
                                    <span class="label label-default pull-right">
                                        {{ 'layout.New'|trans({},"AppBundle") }} <span class="notification-counter">0</span>
                                    </span>
                                     {{ 'layout.Notification'|trans({},"AppBundle") }}
                                </li>
                                <li class="list-group slimscroll-noti notification-list"></li>
                            </ul>
                        </li>

                        <li class="hidden-xs">
                            <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="icon-size-fullscreen"></i></a>
                        </li>
                        <li class="dropdown top-menu-item-xs">
                            <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                                <img src="{{ asset("assets/images/users/telemarketer.png") }}" alt="user-img" class="img-circle" />
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('user.myaccount_page') }}">
                                        <i class="ti-user m-r-10 text-custom"></i>
                                        {{ 'menus.Profile'|trans({},"AppBundle") }}
                                    </a>
                                </li>
                                {# <li>
                                    <a href="javascript:void(0)">
                                        <i class="ti-lock m-r-10 text-custom"></i>
                                        {{ 'menus.Lock Screen'|trans({},"AppBundle") }}
                                    </a>
                                </li> #}
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path('app.logout') }}">
                                        <i class="ti-power-off m-r-10 text-danger"></i>
                                        {{ 'menus.Logout'|trans({},"AppBundle") }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="cls-nav">
                    <ul id="statusLabel" class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>