<!-- ========== Left Sidebar Start V2 ========== -->

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li class="has_sub" id="menu-dashboard">
                    <a href="{{ path("app.dashboard_page") }}" class="waves-effect">
                        <i class="ti-dashboard"></i>
                        <span> Dashboard </span>
                    </a>
                </li>

                {% if is_granted(['ROLE_CURRENCY_VIEW', 'ROLE_PRODUCT_VIEW', 'ROLE_GATEWAY_VIEW', 'ROLE_DWL_VIEW']) %}

                <li class="has_sub" id="menu-finance">
                    <a class="waves-effect" href="javascript:void(0)">
                        <i class="ti-money"></i>
                        <span>Finance</span>
                        <span class="menu-arrow"></span>
                        <span class="menu-label label-primary pull-right hide">0</span>
                    </a>
                    <ul class="list-unstyled">
                        {% if is_granted('ROLE_GATEWAY_VIEW') %}
                            <li><a href="{{ path("gateway.list_page") }}">Gateway</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}

                {% if is_granted(['ROLE_CUSTOMER_*']) %}
                <li class="has_sub" id="menu-customer">
                    <!-- <a class="waves-effect" href="{{ path("customer.list_page") }}"><i class="ti-user"></i> <span>Customer</span></a> -->
                    <a class="waves-effect" href="javascript:void(0)">
                        <i class="ti-user"></i>
                        <span>Member</span>
                        <span class="menu-arrow"></span>
                        <span class="menu-label label-primary pull-right hide">0</span>
                    </a>
                    <ul class="list-unstyled">
                        {% if is_granted('ROLE_CUSTOMER_VIEW') %}
                            <li><a href="{{ path("member.list_page") }}">Member List</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_CUSTOMER_GROUP_VIEW') %}
                            <li><a href="{{ path("customer.group_list_page") }}">Member Group</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_CUSTOMER_VIEW') %}
                            <li><a href="{{ path("member.inactive.list_page") }}">Inactive Member List</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="has_sub" id="menu-member-request">
                    <a class="waves-effect" href="javascript:void(0)">
                        <i class="ti-exchange-vertical"></i>
                        <span>Member Requests</span>
                        <span class="menu-arrow"></span>
                        <span class="menu-label label-primary pull-right hide">0</span>
                    </a>
                    <ul class="list-unstyled">
                        {% if is_granted('ROLE_MEMBER_REQUEST_VIEW') %}
                            <li><a href="{{ path("member_request.pending") }}">Pending</a></li>
                            <li><a href="{{ path("member_request.history") }}">Request History</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                {% if is_granted(['ROLE_TRANSACTION_VIEW', 'ROLE_GATEWAY_TRANACTION_VIEW', 'ROLE_GATEWAY_LOG_VIEW'])  %}
                <li class="has_sub" id="menu-transaction">
                    <a class="waves-effect" href="javascript:void(0)">
                        <i class="ti-exchange-vertical"></i>
                        <span>Transactions</span>
                        <span class="menu-arrow"></span>
                        <span class="menu-label label-primary pull-right hide">0</span>
                    </a>
                    <ul class="list-unstyled">
                        {% if is_granted('ROLE_TRANSACTION_VIEW') %}
                        <li><a href="{{ path("transaction.list_page", {'filter': 'pending'}) }}">Pending</a></li>
                        <li><a href="{{ path("transaction.list_page") }}">Transaction History</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_GATEWAY_TRANSACTION_VIEW') %}
                        <li><a href="{{ path("gateway_transaction.list_page") }}">Payment Gateway Transaction</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_GATEWAY_LOG_VIEW') %}
                        <li><a href="{{ path("gateway_log.list_page") }}">Payment Gateway Transaction History</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}


                {% if is_granted('ROLE_CUSTOMER_VIEW') %}
                <li class="has_sub" id="menu-affiliate">
                    <a class="waves-effect" href="javascript:void(0)">
                        <i class="ti-announcement"></i>
                        <span>Marketing</span>
                        <span class="menu-arrow"></span>
                        <span class="menu-label label-primary pull-right hide">0</span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="{{ path("affiliate.list_page") }}">Affiliates</a></li>
                        <li class="hidden"><a href="javascript:void(0)">Promo Code</a></li>
                        <li class="hidden"><a href="javascript:void(0)">Affiliate tracking ID</a></li>
                    </ul>
                </li>
                {% endif %}


                <li class="has_sub hidden" id="menu-ticket">
                    <a class="waves-effect" href="{{ path("ticket.list_page", {'filter': 'pending'}) }}"><i class="ti-ticket"></i> <span>Ticket</span></a>
                </li>

                <li class="has_sub hidden" id="menu-bonus">
                    <a class="waves-effect" href="{{ path("bonus.list_page") }}"><i class="ti-gift"></i> <span>Bonus</span></a>
                </li>

                <li class="has_sub hidden" id="menu-notice">
                    <a class="waves-effect" href="{{ path("notice.list_page") }}"><i class="ti-alert"></i> <span>Notice</span></a>
                </li>

                {% if is_granted('ROLE_REPORT_*') %}
                {#<li class="has_sub" id="menu-reports">
                    <a class="waves-effect" href="javascript:void(0)">
                        <i class="ti-folder"></i>
                        <span>Reports</span>
                        <span class="menu-arrow"></span>
                        <span class="menu-label label-primary pull-right hide">0</span>
                    </a>
                    <ul class="list-unstyled">
                        {% if is_granted('ROLE_REPORT_CUSTOMER_VIEW') %}
                        <li><a href="{{ path("report.customers") }}">Member Summary</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_REPORT_GATEWAY_VIEW') %}
                        <li><a href="{{ path("report.gateways") }}">Payment Gateway</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_REPORT_PRODUCT_VIEW') %}
                        <li><a href="{{ path("report.products") }}">Product Summary</a></li>
                        {% endif %}
                    </ul>
                </li>#}
                {% endif %}

                {% if is_granted(['ROLE_USER_VIEW', 'ROLE_GROUP_VIEW', 'ROLE_COUNTRY_VIEW', 'ROLE_AUDIT_VIEW']) %}
                <li class="has_sub" id="menu-admin">
                    <a class="waves-effect" href="javascript:void(0)">
                        <i class="ti-user"></i>
                        <span>Admin</span>
                        <span class="menu-arrow"></span>
                        <span class="menu-label label-primary pull-right hide">0</span>
                    </a>
                    <ul class="list-unstyled">
                        {% if is_granted('ROLE_USER_VIEW') %}
                        <li><a href="{{ path("user.list_page") }}">Users</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_GROUP_VIEW') %}
                        <li><a href="{{ path("group.list_page") }}">User Group</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_COUNTRY_VIEW') %}
                        <li><a href="{{ path("country.list_page") }}">Country</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_AUDIT_VIEW') %}
                        <li><a href="{{ path("audit.list_page", { 'type' : 'support' }) }}">Support Log</a></li>
                        <li><a href="{{ path("audit.list_page", { 'type' : 'member' }) }}">Member Log</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                {% if is_granted('ROLE_UPDATE_SETTINGS') %}
                <li class="has_sub" id="menu-settings">
                    <a class="waves-effect" href="javascript:void(0)">
                        <i class="ti-settings"></i>
                        <span>Settings</span>
                        <span class="menu-arrow"></span>
                        <span class="menu-label label-primary pull-right hide">0</span>
                    </a>
                    <ul class="list-unstyled">
                        {#% if is_granted('ROLE_MAINTENANCE') %}
                        <li><a href="{{ path("app.setting.maintenance_page") }}">Maintenance</a></li>
                        {% endif %#}
                        {% if is_granted('ROLE_CURRENCY_CHANGE_BASE') %}
                        <li><a href="{{ path("currency.setting.currency_page") }}">Currency</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_PAYMENTOPTION_VIEW') %}
                            <li><a href="{{ path("app.setting.paymentoptions_page") }}">Payment Options</a></li>
                        <li><a href="{{ path('payment.bitcoin.setting_page') }}">Bitcoin Setting</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_TRANSACTION_SETTING_PROCESS') %}
                        <li><a href="{{ path("transaction.setting.transaction_page") }}">Transactions</a></li>
                        {% endif %}
                        <li><a href="{{ path("app.setting.scheduler_page") }}">Task Scheduler</a></li>
                        <li><a href="{{ path("customer.risk_setting") }}">Risk Setting</a></li>
                        <li><a href="{{ path('session_setting') }}">Session Configuration</a></li>
                        <li><a href="{{ path('referral.setting') }}">Referral</a></li>
                        <li><a href="{{ path('commission.setting_page') }}">Revenue Share</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->
