<!-- ========== Left Sidebar Start ========== -->

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">{{ 'menus.Navigation'|trans({},"AppBundle") }}</li>
                {% for key, menu in getMenus()  %}
                    {% if is_granted(menu.permission) %}
                        <li class="has_sub{{ menu.active?" active":"" }}" id="menu-{{ key }}">
                            <a href="{{ menu.uri.path }}" class="waves-effect{{ menu.active ? " active" : "" }}">
                                {% if menu.icon is defined %}
                                <i class="{{ menu.icon }}"></i>
                                {% endif %}
                                <span> {{ menu.label|trans({}, menu.translation_domain) }} </span> 
                                {% if menu.subMenus is defined and menu.subMenus is not empty %}
                                    <span class="menu-arrow"></span>
                                    <span class="menu-label label label-primary pull-right hide">0</span>
                                {% endif %}
                            </a>
                            {% if menu.subMenus is defined and menu.subMenus is not empty %}
                                <ul class="list-unstyled">
                                    {% for subMenu in menu.subMenus %}
                                        {% if is_granted(subMenu.permission) %}
                                        <li class="{{ subMenu.active ? "active" : "" }}">
                                            <a href="{{ subMenu.uri.path }}" class="{{ subMenu.active?"active":"" }}">{{ subMenu.label|trans({}, subMenu.translation_domain) }}</a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>    
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
                {% if is_granted('ROLE_UPDATE_SETTINGS') %}
                <li class="has_sub">
                    <a href="javascript:void(0)">
                        <i class="ti-settings"></i>
                        <span>{{ "menus.Setting"|trans({}, "AppBundle") }}</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        {% for settingMenu in getSettingMenus() %}
                            {% if is_granted(settingMenu.permission) %}
                                <li><a href="{{ settingMenu.uri }}">{{ settingMenu.label|trans({},settingMenu.label_domain) }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->