{% block form %}
    {% form_theme form _self %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <div class="m-t-10">
        <button class="btn btn-primary btn-custom waves-effect waves-light" id="addConfirmation" type="button"><i class="fa fa-plus"></i> Add Confirmation</button>
        <button class="btn btn-success pull-right waves-effect waves-light" id="saveConfirmation" type="button"><i class="fa fa-save"></i> Save</button>
    </div>
{% endblock form %}

{% block script %}
    <script type="text/javascript" src="{{ absolute_url(asset('assets/plugins/jquery-form/jquery.form.min.js')) }}"></script>
    <script type="text/javascript" id="{{ form.vars.id }}_script">
        $(function () {
            var prototype = '{{- form_row(form.vars.prototype)|e('js') -}}';
            var loopId = $('.confirmation-row').length;
            $('#addConfirmation').click(function (e) {
                var elem = prototype;
                elem = elem.replace(/{{ form.vars.prototype.vars.name }}/g, loopId);
                elem = $(elem);
                elem.find('.confirmation-num').html($('.confirmation-row').length);
                $('#{{ form.vars.id }}').append(elem);
                loopId++;
            });

            $('#{{ form.vars.id }}').on('click', '.btn-confirmation-remove', function () {
                $(this).closest('.confirmation-row').remove();
                var num = 0;
                $('.confirmation-num').each(function () {
                    $(this).html(num);
                    num++;
                });
            });

            $('#{{ form.vars.id }}').ajaxForm({
                'statusCode': {
                    422: function (xhr, textStatus, errorThrown) {
                        $(this).data('global-ajax-error', false);
                        var errors = xhr.responseJSON.errors;
                        for (var index in errors) {
                            var error = errors[index];
                            $('#' + error.formId)
                                .closest('.form-group').addClass('has-error')
                                .find('.help-block ul')
                                .append('<li>' + error.message + '</li>');
                        }
                    }
                },
                'success': function (data) {
                    if (data.success) {
                        notification('Saved', 'Bitcoin Confirmations Saved', 'success');
                    }
                }
            });
            $('#saveConfirmation').click(function () {
                $('#{{ form.vars.id }}').submit();
            });
        });
    </script>
{% endblock script %}

{% block _confirmations_widget %}
    <div class="row">
        <div class="col-sm-1"><b>Number</b></div>
        <div class="col-sm-5"><b>Label</b></div>
        <div class="col-sm-5"><b>Transaction Status</b></div>
    </div>
{% endblock _confirmations_widget %}

{% block _confirmations_entry_row %}
    <div class="row confirmation-row m-t-10">
        <div class="col-sm-1">
            <span class="form-control confirmation-num">{{ form.vars.name }}</span>
        </div>
        <div class="col-sm-5">
            {{ form_widget(form.confirmationLabel) }}
        </div>
        <div class="col-sm-5">
            {{ form_widget(form.confirmationTransactionStatus) }}
        </div>
        <div class="col-md-1 text-right">
            <button class="btn btn-danger btn-confirmation-remove" type="button"><i class="fa fa-close"></i></button>
        </div>
    </div>
{% endblock _confirmations_entry_row  %}