{{ form_start(form) }}
    <div class="card-box">
        <h4 class="header-title"><b>Auto Decline</b></h4>
        <div class="row">
            {{ form_row(form.minutesInterval) }}
            {{ form_row(form.status) }}
        </div>
    </div>
    <div class="card-box">
        <h4 class="header-title"><b>Transaction</b></h4>
        <div class="row">
            {{ form_row(form.minimumAllowedDeposit) }}
            {{ form_row(form.maximumAllowedDeposit) }}
            {{ form_row(form.minimumAllowedWithdrawal) }}
            {{ form_row(form.maximumAllowedWithdrawal) }}
        </div>
    </div>
    <div class="card-box">
        <div class="row">
            {{ form_row(form.autoLock) }}
            {{ form_row(form.minutesLockDownInterval) }}
        </div>
    </div>
    {{ form_row(form.saveConfigurationButton) }}
{{ form_end(form) }}