<div class="row">
    <div class="col-md-12">
        <div class="b-1 m-t-30">
            <ul class="nav nav-tabs navtab-bg nav-justified btc-deposit-withdraw">
                <li class="active">
                    <a href="#deposit" data-toggle="tab" aria-expanded="false">
                        <span class="visible-xs"><i class="fa fa-home"></i></span>
                        <span class="hidden-xs">DEPOSIT</span>
                    </a>
                </li>
                <li class="">
                    <a href="#withdrawal" data-toggle="tab" aria-expanded="true">
                        <span class="visible-xs"><i class="fa fa-user"></i></span>
                        <span class="hidden-xs">WITHDRAWAL</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="deposit">
                    {{ form_start(form, {'style': 'horizontal', 'attr': {'novalidate': 'novalidate'} }) }}
                    <div class="col-md-12">
                        <table id="btc-rate-tbl" class="table table-bordered m-0">
                            <tbody>
                            <tr>
                                <th class="btc-wrap" colspan="3">Blockchain BTC rate</th>
                                <th class="btc-wrap" colspan="3">Adjusted BTC rate</th>
                            </tr>
                            <tr>
                                <td>1 BTC</td>
                                <td class="btc-wrap">=</td>
                                <td id="btcActualRate">{{ bitcoinAdjustment.latestBaseRate }}</td>
                                <td>1 BTC</td>
                                <td class="btc-wrap">=</td>
                                <td id="adjustedRate">{{ bitcoinAdjustment.adjustedRate(1, constant('DbBundle\\Entity\\Transaction::TRANSACTION_TYPE_DEPOSIT')) }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <table id="rateSettingsTable" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th colspan="2">BTC Range</t>
                            <th colspan="2">Amount in Euros</th>
                            <th colspan="2">% Amount in Euros</th>
                            <th>Last Updated By</th>
                            <th>Date Last Updated</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td colspan="2">Default
                                {{ form_widget(form.defaultRateSetting.rangeFrom, {attr: {class: 'hidden'}}) }}
                                {{ form_widget(form.defaultRateSetting.rangeTo, {attr: {class: 'hidden'}}) }}
                            </td>
                            <td class="btc-wrap"><strong>&ndash;</strong></td>
                            <td>
                                {% if form.defaultRateSetting.fixedAdjustment.vars.errors | length > 0 %}
                                    {{ form_row(form.defaultRateSetting.fixedAdjustment) }}
                                {% else %}
                                    {{ form_widget(form.defaultRateSetting.fixedAdjustment, {attr: {class: 'input-sm'}}) }}
                                    <span class="help-block"><ul></ul></span>
                                {% endif %}
                            </td>
                            <td class="btc-wrap"><strong>&ndash;</strong></td>
                            <td>
                                {% if form.defaultRateSetting.percentageAdjustment.vars.errors | length > 0 %}
                                    {{ form_row(form.defaultRateSetting.percentageAdjustment) }}
                                {% else %}
                                    {{ form_widget(form.defaultRateSetting.percentageAdjustment, {attr: {class: 'input-sm'}}) }}
                                    <span class="help-block"><ul></ul></span>
                                {% endif %}
                            </td>
                            <td>
                                <p>
                                    {% if form.defaultRateSetting.vars.value.lastTouchedBy %}
                                        {{ form.defaultRateSetting.vars.value.lastTouchedBy.username }}
                                    {% endif %}
                                </p>
                            </td>
                            <td>
                                <p>
                                    {% if form.defaultRateSetting.vars.value.dateLastTouched %}
                                        {{ form.defaultRateSetting.vars.value.dateLastTouched | date('Y/m/d g:i:s A') }}
                                    {% endif %}
                                </p>
                            </td>
                        </tr>

                        {% for setting in form.bitcoinRateSettings %}
                            <tr data-index={{ setting.vars.name }}>
                                <td class="text-center"><button type="button" class="btn btn-xs btn-danger delete-button"><span class="fa fa-times"></span></button></td>
                                <td>
                                    <span class="rangeFromText hidden">{{ setting.vars.value.rangeFrom }}</span>
                                    {% if setting.rangeFrom.vars.errors | length > 0 %}
                                        {{ form_row(setting.rangeFrom) }}
                                    {% else %}
                                        {{ form_widget(setting.rangeFrom, {attr: {class: 'input-sm'}}) }}
                                        <span class="help-block"><ul></ul></span>
                                    {% endif %}
                                    <button type="button" class="btn btn-xs edit-range-button hidden"><span class="fa fa-edit"></span></button>
                                </td>
                                <td>
                                    <span class="rangeToText">{{ setting.vars.value.rangeTo}}</span>
                                    {% if setting.rangeTo.vars.errors | length > 0 %}
                                        {{ form_row(setting.rangeTo) }}
                                    {% else %}
                                        {{ form_widget(setting.rangeTo, {attr: {class: 'hidden'}}) }}
                                        <span class="help-block"><ul></ul></span>
                                    {% endif %}
                                </td>
                                <td class="btc-wrap"><strong>&ndash;</strong></td>
                                <td>
                                    <p class="amount-in-euros-text hidden">{{ setting.fixedAdjustment.vars.value }}</p>
                                    {% if setting.fixedAdjustment.vars.errors | length > 0 %}
                                        {{ form_row(setting.fixedAdjustment) }}
                                    {% else %}
                                        {{ form_widget(setting.fixedAdjustment, {attr: {class: 'input-sm'}}) }}
                                        <span class="help-block"><ul></ul></span>
                                    {% endif %}

                                    <button type="button" class="btn btn-xs edit-amount-in-euros-button hidden"><span class="fa fa-edit"></span></button>
                                </td>
                                <td class="btc-wrap"><strong>&ndash;</strong></td>
                                <td>
                                    <p class="percentage-amount-in-euros-text hidden">{{ setting.percentageAdjustment.vars.value }}</p>

                                    {% if setting.percentageAdjustment.vars.errors | length > 0 %}
                                        {{ form_row(setting.percentageAdjustment) }}
                                    {% else %}
                                        {{ form_widget(setting.percentageAdjustment, {attr: {class: 'input-sm'}}) }}
                                        <span class="help-block"><ul></ul></span>
                                    {% endif %}

                                    <button type="button" class="btn btn-xs edit-percentage-amount-in-euros-button hidden"><span class="fa fa-edit"></span></button>
                                </td>
                                <td>
                                    <p class="amount-in-euros-text">
                                        {% if setting.vars.value.lastTouchedBy %}
                                            {{ setting.vars.value.lastTouchedBy.username }}
                                        {% endif %}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {% if setting.vars.value.dateLastTouched %}
                                            {{ setting.vars.value.dateLastTouched | date('Y/m/d g:i:s A') }}
                                        {% endif %}
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div data-field-name="rangeFrom" data-prototype="{{ form_widget(form.bitcoinRateSettings.vars.prototype.rangeFrom)|e('html_attr') }}"></div>
                    <div data-field-name="rangeTo" data-prototype="{{ form_widget(form.bitcoinRateSettings.vars.prototype.rangeTo)|e('html_attr') }}"></div>
                    <div data-field-name="fixedAdjustment" data-prototype="{{ form_widget(form.bitcoinRateSettings.vars.prototype.fixedAdjustment)|e('html_attr') }}"></div>
                    <div data-field-name="percentageAdjustment" data-prototype="{{ form_widget(form.bitcoinRateSettings.vars.prototype.percentageAdjustment)|e('html_attr') }}"></div>

                    <button id="add-row-button" type="button" class="btn btn-primary btn-custom waves-effect waves-light"><span class="fa fa-plus"></span> Add Row</button>
                    <button type="button" id="btnRateSave" class="btn btn-md btn-default btn-success waves-effect waves-light pull-right"><span class="fa fa-save"></span> Save</button>
                    {{ form_end(form) }}
                </div>
                <div class="tab-pane" id="withdrawal">
                    {{ form_start(formWithdrawal) }}
                    <div class="col-md-12">
                        <table id="btc-rate-tbl" class="table table-bordered m-0">
                            <tbody>
                            <tr>
                                <th class="btc-wrap" colspan="3">Blockchain BTC rate</th>
                                <th class="btc-wrap" colspan="3">Adjusted BTC rate</th>
                            </tr>
                            <tr>
                                <td>1 BTC</td>
                                <td class="btc-wrap">=</td>
                                <td id="btcActualWithdrawalRate">{{ bitcoinWithdrawalAdjustment.latestBaseRate }}</td>
                                <td>1 BTC</td>
                                <td class="btc-wrap">=</td>
                                <td id="adjustedWithdrawalRate">{{ bitcoinWithdrawalAdjustment.adjustedRate(1, constant('DbBundle\\Entity\\Transaction::TRANSACTION_TYPE_WITHDRAW')) }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <table id="withdrawalRateSettingsTable" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th colspan="2">BTC Range</t>
                            <th colspan="2">Amount in Euros</th>
                            <th colspan="2">% Amount in Euros</th>
                            <th>Last Updated By</th>
                            <th>Date Last Updated</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td colspan="2">Default
                                {{ form_widget(formWithdrawal.defaultRateSetting.rangeFrom, {attr: {class: 'hidden'}}) }}
                                {{ form_widget(formWithdrawal.defaultRateSetting.rangeTo, {attr: {class: 'hidden'}}) }}
                            </td>
                            <td class="btc-wrap"><strong>+</strong></td>
                            <td>
                                {% if formWithdrawal.defaultRateSetting.fixedAdjustment.vars.errors | length > 0 %}
                                    {{ form_row(formWithdrawal.defaultRateSetting.fixedAdjustment) }}
                                {% else %}
                                    {{ form_widget(formWithdrawal.defaultRateSetting.fixedAdjustment, {attr: {class: 'input-sm'}}) }}
                                    <span class="help-block"><ul></ul></span>
                                {% endif %}
                            </td>
                            <td class="btc-wrap"><strong>+</strong></td>
                            <td>
                                {% if formWithdrawal.defaultRateSetting.percentageAdjustment.vars.errors | length > 0 %}
                                    {{ form_row(formWithdrawal.defaultRateSetting.percentageAdjustment) }}
                                {% else %}
                                    {{ form_widget(formWithdrawal.defaultRateSetting.percentageAdjustment, {attr: {class: 'input-sm'}}) }}
                                    <span class="help-block"><ul></ul></span>
                                {% endif %}
                            </td>
                            <td>
                                <p>
                                    {% if formWithdrawal.defaultRateSetting.vars.value.lastTouchedBy %}
                                        {{ formWithdrawal.defaultRateSetting.vars.value.lastTouchedBy.username }}
                                    {% endif %}
                                </p>
                            </td>
                            <td>
                                <p>
                                    {% if formWithdrawal.defaultRateSetting.vars.value.dateLastTouched %}
                                        {{ formWithdrawal.defaultRateSetting.vars.value.dateLastTouched | date('Y/m/d g:i:s A') }}
                                    {% endif %}
                                </p>
                            </td>
                        </tr>

                        {% for setting in formWithdrawal.bitcoinRateSettings %}
                            <tr data-index={{ setting.vars.name }}>
                                <td class="text-center"><button type="button" class="btn btn-xs btn-danger delete-button"><span class="fa fa-times"></span></button></td>
                                <td>
                                    <span class="rangeFromText hidden">{{ setting.vars.value.rangeFrom }}</span>
                                    {% if setting.rangeFrom.vars.errors | length > 0 %}
                                        {{ form_row(setting.rangeFrom) }}
                                    {% else %}
                                        {{ form_widget(setting.rangeFrom, {attr: {class: 'input-sm'}}) }}
                                        <span class="help-block"><ul></ul></span>
                                    {% endif %}
                                    <button type="button" class="btn btn-xs edit-range-button hidden"><span class="fa fa-edit"></span></button>
                                </td>
                                <td>
                                    <span class="rangeToText">{{ setting.vars.value.rangeTo}}</span>
                                    {% if setting.rangeTo.vars.errors | length > 0 %}
                                        {{ form_row(setting.rangeTo) }}
                                    {% else %}
                                        {{ form_widget(setting.rangeTo, {attr: {class: 'hidden'}}) }}
                                        <span class="help-block"><ul></ul></span>
                                    {% endif %}
                                </td>
                                <td class="btc-wrap"><strong>+</strong></td>
                                <td>
                                    <p class="amount-in-euros-text hidden">{{ setting.fixedAdjustment.vars.value }}</p>
                                    {% if setting.fixedAdjustment.vars.errors | length > 0 %}
                                        {{ form_row(setting.fixedAdjustment) }}
                                    {% else %}
                                        {{ form_widget(setting.fixedAdjustment, {attr: {class: 'input-sm'}}) }}
                                        <span class="help-block"><ul></ul></span>
                                    {% endif %}

                                    <button type="button" class="btn btn-xs edit-amount-in-euros-button hidden"><span class="fa fa-edit"></span></button>
                                </td>
                                <td class="btc-wrap"><strong>+</strong></td>
                                <td>
                                    <p class="percentage-amount-in-euros-text hidden">{{ setting.percentageAdjustment.vars.value }}</p>

                                    {% if setting.percentageAdjustment.vars.errors | length > 0 %}
                                        {{ form_row(setting.percentageAdjustment) }}
                                    {% else %}
                                        {{ form_widget(setting.percentageAdjustment, {attr: {class: 'input-sm'}}) }}
                                        <span class="help-block"><ul></ul></span>
                                    {% endif %}

                                    <button type="button" class="btn btn-xs edit-percentage-amount-in-euros-button hidden"><span class="fa fa-edit"></span></button>
                                </td>
                                <td>
                                    <p class="amount-in-euros-text">
                                        {% if setting.vars.value.lastTouchedBy %}
                                            {{ setting.vars.value.lastTouchedBy.username }}
                                        {% endif %}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {% if setting.vars.value.dateLastTouched %}
                                            {{ setting.vars.value.dateLastTouched | date('Y/m/d g:i:s A') }}
                                        {% endif %}
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div data-field-name="rangeFromWithdrawal" data-prototype="{{ form_widget(formWithdrawal.bitcoinRateSettings.vars.prototype.rangeFrom)|e('html_attr') }}"></div>
                    <div data-field-name="rangeToWithdrawal" data-prototype="{{ form_widget(formWithdrawal.bitcoinRateSettings.vars.prototype.rangeTo)|e('html_attr') }}"></div>
                    <div data-field-name="fixedAdjustmentWithdrawal" data-prototype="{{ form_widget(formWithdrawal.bitcoinRateSettings.vars.prototype.fixedAdjustment)|e('html_attr') }}"></div>
                    <div data-field-name="percentageAdjustmentWithdrawal" data-prototype="{{ form_widget(formWithdrawal.bitcoinRateSettings.vars.prototype.percentageAdjustment)|e('html_attr') }}"></div>

                    <button id="add-row-withdrawal-button" type="button" class="btn btn-primary btn-custom waves-effect waves-light"><span class="fa fa-plus"></span> Add Row</button>
                    <button type="button" id="btnWithdrawalRateSave" class="btn btn-md btn-default btn-success waves-effect waves-light pull-right"><span class="fa fa-save"></span> Save</button>
                    {{ form_end(formWithdrawal) }}
                </div>
            </div>
        </div>
    </div>
</div>
