{% extends 'AppBundle:Layout:base.html.twig' %}

{% block title %}{{ "page.title.requested_list"|trans({},"BonusBundle") }}{% endblock %}

{% block stylesheets %}
    <!-- DataTables -->
    <link href="{{ asset('assets/plugins/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/responsive.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/dataTables.colVis.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">{{ "page.Requested List"|trans({},"BonusBundle") }}</h4>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path("app.dashboard_page") }}">{{ "menus.Dashboard"|trans({},"AppBundle") }}</a>
                </li>
                <li>
                    <a href="{{ path("bonus.list_page") }}">{{ "menus.Bonus"|trans({},"BonusBundle") }}</a>
                </li>
                <li>
                    {{ "menus.Requested List"|trans({},"BonusBundle") }}
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <div id="transactionList">
                    <div class="transactionFilters">
                        <div class="form-group">
                            <div></div>
                        </div>
                    </div>
                    
                    <table id="datatable-responsive"
                        class="table table-striped dt-responsive nowrap" cellspacing="0"
                        width="100%">
                        <thead>
                            <tr>
                                <th>{{ "fields.number"|trans({}, "TransactionBundle") }}</th>
                                <th>{{ "fields.date"|trans({}, "TransactionBundle") }}</th>
                                <th>{{ "fields.customer"|trans({}, "TransactionBundle") }}</th>
                                <th>{{ "fields.currency"|trans({}, "TransactionBundle") }}</th>
                                <th>{{ "fields.amount"|trans({}, "TransactionBundle") }}</th>
                                <th>{{ "fields.status"|trans({}, "TransactionBundle") }}</th>
                                <th>{{ "fields.type"|trans({}, "TransactionBundle") }}</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.bootstrap.js') }}"></script>

    <script src="{{ asset('assets/plugins/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/responsive.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.colVis.js') }}"></script>
    
    <script src="{{ asset('bundles/transaction/js/list.js') }}" type="text/javascript" ></script>
    <script type="text/javascript" >
        var statuses = {{ statuses|json_encode()|raw }};
        
                
        function markBonusAsRead() {
            
            $.ajax({
                    url: "{{- path("bonus.read") -}}",
                    type: "POST",
                    dataType: "JSON",
                    data:  {},
                    success: function(data){
                        
                        if(data.status) {

                            console.log(JSON.stringify('Counter: Successfully reset!'));
                            
                        } else {
                            console.log(JSON.stringify('Counter: Failed to reset!'));
                        }
                    },
                    'complete': function(jqXHR) {
                     
                    }
            });
            
        }
        
        
        
        $(function(){
            var columns = [];
            columns[6] = {
                'data': 'transaction.type', 
                'defaultContent': '',
                'render': function(data) {
                    var type = {
                        '1': "{{ "types.deposit"|trans({}, "TransactionBundle") }}",
                        '2': "{{ "types.withdraw"|trans({}, "TransactionBundle") }}",
                        '3': "{{ "types.transfer"|trans({}, "TransactionBundle") }}",
                        '4': "{{ "types.bonus"|trans({}, "TransactionBundle") }}"
                    };
                    return type[data];
                }
            };
            columns[5] = {
                'data': 'transaction.status',
                'defaultContent': '',
                'render': function(data) {
                    return statuses[data]['label'];
                }
            }
            
            markBonusAsRead();
            
            $('#transactionList').list({
                'url': {
                    'list': '{{ path("transaction.list_search") }}'
                },
                'dataTable': {
                    'searching': false,
                    'ajax': {
                        'data': function(d){
                            d.datatable = 1;
                            d.route = 1;
                            d.types = [4];
                        }
                    }
                },
                'columns': columns
            });
        });
    </script>
{% endblock %}