{% extends 'TransactionBundle:Transaction:transaction.html.twig' %}

{% form_theme form with ["TransactionBundle:Transaction/Theme:script.html.twig", "TransactionBundle:Transaction/Theme:style.html.twig", "TransactionBundle:Transaction/Theme:form.html.twig", _self] %}

{% block breadcrumb -%}
    <li>{{ "breadcrumb.transaction"|trans({},"AppBundle") }}</li>
    <li>
        <a href="{{ path("transaction.list_page") }}">{{ "breadcrumb.list"|trans({},"TransactionBundle") }}</a>
    </li>
    <li class="active">{{ "menus.Commission"|trans({},"TransactionBundle") }}</li>
{%- endblock %}

{% block subTransaction_widget %}
    <div id="{{ form.vars.id }}" class="row customer-product">
        {{ form_widget(form.type, {"attr": {"class":"subtransaction-type"}}) }}
        <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">{{ form_label(form.customerProduct) }}</span>
                    {{ form_widget(form.customerProduct, {"attr": {"class":"subtransaction-product"}}) }}
                    {% if form.immutableCustomerProductData is defined  %}
                        {{ form_widget(form.immutableCustomerProductData, {'attr': {'class':'immutableCustomerProductData hidden'}}) }}
                    {% endif %}
                </div>
                <div class="help-block">
                    <ul class="list-unstyled"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12 amount-col">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    {{ form_widget(form.amount, {"attr": {"class":"subtransaction-amount"}}) }}
                    {% if not view %}
                    <button type="button" class="btn btn-danger waves-effect waves-light btn-remove-product"><i class="fa fa-close"></i></button>
                    {% endif %}
                </div>
                <div class="help-block">
                    <ul class="list-unstyled"></ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block left_pane %}
    {{ block('customer') }}
    {{ block('affiliate') }}
{% endblock left_pane %}

{% block affiliate %}
    <div class="card-box hidden" id="affiliate-container">
        <h4 class="m-t-0 m-b-30 header-title">{{ "Affiliate"|trans({},'TransactionBundle') }}</h4>
        <div class="form-group">
            <span class="form-control customer-data" data-field="affiliate.full_name"></span>
        </div>
        <div class="text-muted">
            <div class="row m-t-10">
                <div class="col-md-3 col-sm-3 col-xs-3 text-right"><b>Username:</b></div>
                <div class="col-md-8 col-sm-8 col-xs-8 m-l-15 customer-data" data-field="affiliate.user.username"></div>
            </div>
        </div>
    </div>
{% endblock affiliate %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var products = null;
        function customerProductLoad(data) {
            products.clear();
            products.setProducts(data);
            {% for child in form.subTransactions.children -%}
            products.add({
                'type': '{{ child.vars.data.type }}',
                'customerProduct': '{{ child.vars.data.customerProduct.id|default(null) }}',
                'immutableCustomerProductData': '{{ child.vars.data.immutableCustomerProductData|default(child.vars.data.customerProduct.username) }}',
                'showImmutableCustomerProductData': '{{  child.vars.value.parent.isClosedForFurtherProcessing  }}',
                'amount': '{{ child.vars.data.amount }}',
                'enabled': {% if child.vars.view -%} false {%- else -%} true {%- endif -%},
                'errors': '{{ form_errors(child) }}'
            });
            {% else %}
            products.add({
                'type': {{ constant('DbBundle\\Entity\\Transaction::TRANSACTION_TYPE_DEPOSIT') }},
                'customerProduct': null,
                'amount': 0,
                'enabled': true
            });
            {%- endfor %}

            $('#gateway-container').removeClass('hide');
        }

        $(function() {
            transactionInfo.options.equations.gateway = {
                'type': 'bonus',
                'equation': '-x',
                'variables': [{'value': 'total_amount', 'var': 'x'}]
            };
            $('#{{ form.customer.vars.id }}').on('select2:select', function(event) {
                products.clear();
            });

            $('.btn-add-product').click(function() {
                products.add({
                    'type': {{ constant('DbBundle\\Entity\\Transaction::TRANSACTION_TYPE_DEPOSIT') }},
                    'customerProduct': null,
                    'amount': 0,
                    'enabled': true
                });
            });

            products = new Products('deposit',{
                'prototype': '{{ form_row(form.subTransactions.vars.prototype)|e('js') }}',
                'elem': '#{{ form.subTransactions.vars.id }} .product-list'
            });
            $('#{{ form.customer.vars.id }}').on('select2:select', function(event) {
                if($(this).select2('data')[0] !== undefined && $(this).select2('data')[0] !== null && $(this).select2('data')[0] !== '') {
                    var data = $(this).select2('data')[0];
                    var immutableCustomer = {{ (transaction.details.customer|default([]))|json_encode()|raw('js') }};
                    if (
                        typeof immutableCustomer.referrer !== 'undefined'
                        && typeof immutableCustomer.referrer.id !== 'undefined'
                        && (
                            transactionInfo.data.status == {{ constant('DbBundle\\Entity\\Transaction::TRANSACTION_STATUS_END') }}
                            || transactionInfo.data.status == {{ constant('DbBundle\\Entity\\Transaction::TRANSACTION_STATUS_DECLINE') }}
                        )
                    ) {
                        $('#affiliate-container').removeClass('hidden');
                        $('#affiliate-container .customer-data[data-field="affiliate.full_name"]').html(immutableCustomer.referrer.full_name);
                        $('#affiliate-container .customer-data[data-field="affiliate.user.username"]').html(immutableCustomer.referrer.user.username);
                    } else if (typeof data.affiliate !== 'undefined' && data.affiliate !== null) {
                        $('#affiliate-container').removeClass('hidden');
                    } else {
                        $('#affiliate-container').addClass('hidden');
                    }
                } else {
                    $('#affiliate-container').addClass('hidden');
                }
            });
            $('#{{ form.customer.vars.id }}').trigger('select2:select');
        });
    </script>
{% endblock %}

{% block summary_template %}
<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0">
    <xsl:output method="xml"/>
    <xsl:template match="transaction">
        <div class='card-box'>
        <div class='card-box'>
            <div class='row'>
                <div class='col-md-6 col-sm-12 col-xs-12'>
                    <b>{{ "Status"|trans({},"TransactionBundle") }}</b>
                </div>
                <div class='col-md-6 col-sm-12 col-xs-12'>
                    <xsl:choose>
                        <xsl:when test="statusinfo/id = 2 and voided = 1">
                            <span class="label label-danger">{{ "Voided"|trans({}, "TransactionBundle") }}</span>
                        </xsl:when>
                        <xsl:when test="statusinfo/id = 3">
                            <span class="label label-danger"><xsl:value-of select="statusinfo/label"/></span>
                        </xsl:when>
                        <xsl:otherwise>
                            <span class="label label-success"><xsl:value-of select="statusinfo/label"/></span>
                        </xsl:otherwise>
                    </xsl:choose>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12 col-sm-12 col-xs-12'>
                    <b>{{ "Transaction Number"|trans({},"TransactionBundle") }}</b>
                </div>
                <div class='col-md-12 col-sm-12 col-xs-12'>
                    <span><xsl:value-of select="number"/></span>
                </div>
            </div>
        </div>
        <div class='card-box'>
            <h4 class="header-title m-t-0">{{ "Member Commission"|trans({},"TransactionBundle") }}</h4>
            <hr />
            <div class='row'>
                <div class='col-md-6 col-sm-6 col-xs-6'>
                    <b>{{ "Period Id"|trans({},"TransactionBundle") }}</b>
                </div>
                <div class='col-md-6 col-sm-6 col-xs-6'>
                    <span>{{ commissionPeriod.id }}</span>
                </div>
                <div class='col-md-6 col-sm-6 col-xs-6'>
                    <b>{{ "Period Date"|trans({},"TransactionBundle") }}</b>
                </div>
                <div class='col-md-6 col-sm-6 col-xs-6'>
                    <span>{{ commissionPeriod.dwlDateFrom|date("m/d/Y") ~ " to " ~ commissionPeriod.dwlDateTo|date("m/d/Y") }}</span>
                </div>
                <div class='col-md-6 col-sm-6 col-xs-6'>
                    <b>{{ "Payout Date"|trans({},"TransactionBundle") }}</b>
                </div>
                <div class='col-md-6 col-sm-6 col-xs-6'>
                    <span>{{ commissionPeriod.payoutAt|date("m/d/Y") }}</span>
                </div>
                <div class='col-md-6 col-sm-6 col-xs-6'>
                    <b>{{ "Amount"|trans({},"TransactionBundle") }}</b>
                </div>
                <div class='col-md-6 col-sm-6 col-xs-6'>
                    <span>{{ memberRunningCommission.commission|round(2, 'floor') }}</span>
                </div>
            </div>
        </div>
        <div class='card-box'>
            <h4 class="header-title m-t-0">{{ "Products"|trans({}, "TransactionBundle") }}</h4>
            <hr />
            <xsl:choose>
                <xsl:when test='not ((status = 2) or (status = 3))'>
                <div class='row'>
                    <div class='col-sm-5 col-xs-5'><b>{{ "Product"|trans({}, "TransactionBundle") }}</b></div>
                    <div class='col-sm-4 col-xs-4'><b>{{ "Current"|trans({}, "TransactionBundle") }}</b></div>
                    <div class='col-sm-3 col-xs-3'><b>{{ "After"|trans({}, "TransactionBundle") }}</b></div>
                </div>
                <xsl:for-each select="subtransactions/i">
                    <div class='row subtransaction'>
                        <xsl:attribute name='data-index'>
                            <xsl:value-of select='index' />
                        </xsl:attribute>
                        <xsl:choose>
                            <xsl:when test="customerproduct/immutablecustomerproductdata !=null">
                                <div class='col-sm-5 col-xs-5'><span><xsl:value-of select="customerproduct/product/name"/></span> (<span><xsl:value-of select="customerproduct/immutablecustomerproductdata"/></span>)</div>
                            </xsl:when>
                            <xsl:otherwise>
                                <div class='col-sm-5 col-xs-5'><span><xsl:value-of select="customerproduct/product/name"/></span> (<span><xsl:value-of select="customerproduct/username"/></span>)</div>
                            </xsl:otherwise>
                        </xsl:choose>
                        <div class='col-sm-4 col-xs-4'><span><xsl:value-of select="customerproduct/balance"/></span></div>
                        <div class='col-sm-3 col-xs-3'><span><xsl:value-of select="afterbalance"/></span></div>
                    </div>
                </xsl:for-each>
                </xsl:when>
                <xsl:otherwise>
                <div class='row'>
                    <div class='col-sm-4 col-xs-4'><b>{{ "Product"|trans({}, "TransactionBundle") }}</b></div>
                    <div class='col-sm-8 col-xs-8'><b>{{ "Balance"|trans({}, "TransactionBundle") }}</b></div>
                </div>
                <xsl:for-each select="subtransactions/i">
                    <div class='row subtransaction'>
                        <xsl:attribute name='data-index'>
                            <xsl:value-of select='index' />
                        </xsl:attribute>
                        <xsl:choose>
                            <xsl:when test="customerproduct/immutablecustomerproductdata !=null">
                                <div class='col-sm-4 col-xs-4'><span><xsl:value-of select="customerproduct/product/name"/></span> (<span><xsl:value-of select="customerproduct/immutablecustomerproductdata"/></span>)</div>
                            </xsl:when>
                            <xsl:otherwise>
                                <div class='col-sm-4 col-xs-4'><span><xsl:value-of select="customerproduct/product/name"/></span> (<span><xsl:value-of select="customerproduct/username"/></span>)</div>
                            </xsl:otherwise>
                        </xsl:choose>
                        <div class='col-sm-8 col-xs-8'><span><xsl:value-of select="customerproduct/balance"/></span></div>
                    </div>
                </xsl:for-each>
                </xsl:otherwise>
            </xsl:choose>
        </div>
        <div class='card-box'>
            <div class='row'>
                <div class='col-md-6 col-sm-6 col-xs-6'>
                    <b>{{ "Member Amount"|trans({},"TransactionBundle") }}</b>
                </div>
                <div class='col-md-6 col-sm-6 col-xs-6'>
                    <span><xsl:value-of select="customer_amount"/></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6 col-sm-6 col-xs-6'>
                    <b>{{ "Total Amount"|trans({},"TransactionBundle") }}</b>
                </div>
                <div class='col-md-6 col-sm-6 col-xs-6'>
                    <span><xsl:value-of select="total_amount"/></span>
                </div>
            </div>
        </div>
        </div>
    </xsl:template>
</xsl:stylesheet>
{% endblock summary_template %}