{% extends 'TransactionBundle:Transaction:transaction.html.twig' %}

{% form_theme form with ["TransactionBundle:Transaction/Theme:script.html.twig", "TransactionBundle:Transaction/Theme:style.html.twig", "TransactionBundle:Transaction/Theme:form.html.twig", _self] %}

{% block breadcrumb -%}
    <li>{{ "breadcrumb.transaction"|trans({},"AppBundle") }}</li>
    <li>
        <a href="{{ path("transaction.list_page") }}">{{ "breadcrumb.list"|trans({},"TransactionBundle") }}</a>
    </li>
    <li class="active">{{ "menus.Withdraw"|trans({},"TransactionBundle") }}</li>
{%- endblock %}

{% block _Transaction_date_label %}
    {{ form_label(form) }}
    <div class="pull-right">
        <i id="dateInfo" class="fa fa-info-circle" data-html="true" data-placement="bottom"></i>
    </div>
{% endblock _Transaction_date_label %}

{% block subTransaction_widget -%}
    <div id="{{ form.vars.id }}" class="row customer-product">
        {{ form_widget(form.type, {"attr": {"class":"subtransaction-type"}}) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">{{ form_label(form.customerProduct) }}</span>
                    {{ form_widget(form.customerProduct, {"attr": {"class":"subtransaction-product"}}) }}
                    {% if form.immutableCustomerProductData is defined %}
                        {{ form_widget(form.immutableCustomerProductData, {'attr': {'class':'immutableCustomerProductData hidden'}}) }}
                    {% endif %}
                </div>
                <div class="integration-error-message help-block text-danger"></div>
                <div class="help-block">
                    <ul class="list-unstyled"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-11 amount-col">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    {{ form_widget(form.amount, {"attr": {"class":"subtransaction-amount"}}) }}
                    {% if not view %}
                        <button type="button" class="remove-product-button btn btn-danger waves-effect waves-light btn-remove-product"><i class="fa fa-close"></i></button>
                    {% endif %}
                </div>
                <div class="help-block">
                    <ul class="list-unstyled"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
            <div class="form-group">
                {{ form_widget(form.hasFee, {"label": ' ', "attr": {"data-group": "hasfee", "class":"subtransaction-has-fee"}}) }}
            </div>
        </div>
    </div>
{%- endblock %}

{% block page %}
    {{ form_start(form) }}
    <div id="decline-modal" class="modal fade" tabindex="-1" style="display: none;" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" style="width:45%;">
            <div class="modal-conten p-0 b-0t">
                <div class="panel panel-color panel-inverse">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="label label-primary m-r-10">{{ form.vars.value.getTypeText() }}</span> {{ form.vars.value.number }}</h3>
                    </div>
                    {% include "TransactionBundle:Form:void-form.html.twig" with {form:form} %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">{{ block("left_pane") }}</div>
    <div class="col-md-6">{{ block("middle_pane") }}</div>
    <div class="col-md-3 summary-parent-wrap summary-withdraw">{{ block("right_pane") }}</div>
    {{ form_end(form) }}
{% endblock page %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var products = null;

        $(function () {
            {% if transactionDates|length > 0 %}
                var data = '<div style="border-bottom: 1px solid; border-color: white"><b>Status Changes</b></div>';
                {% for status,transactionDate in transactionDates %}
                data += "<div><b>{{ status }}</b>: {{ transactionDate | date("M j, Y h:i:s A") }}</div>";
                {% endfor %}
                {% if (pinnacleTransactionDates | length) > 0 %}
                    data += "<br/><div style=\"border-bottom: 1px solid; border-color: white\"><b>Pinnacle Transaction</b></div>"
                    {% for type,pinnacleDate in pinnacleTransactionDates %}
                    data += "<div><b>{{ type|capitalize }}</b>: {{ pinnacleDate | date("M j, Y h:i:s A") }}</div>";
                    {% endfor %}
                {% endif %}

                $('#dateInfo').tooltip({
                    'title': data,
                    'template': '<div class="tooltip no-wrap" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
                });
            {% else %}
                $('#dateInfo').remove();
            {% endif %}
        });

        function customerProductLoad(data) {
            products.clear();
            products.setProducts(data);
            var cp = null;
            {% for child in form.subTransactions.children -%}
            cp = products.add({
                'type': '{{ child.vars.data.type }}',
                'customerProduct': '{{ child.vars.data.customerProduct.id|default(null) }}',
                'immutableCustomerProductData': '{{ child.vars.data.immutableCustomerProductData|default(null) }}',
                'isAMSTransaction' : {%- if form.vars.data.creator.type == 2 -%} false {%- else -%} true {%- endif -%},
                'showImmutableCustomerProductData': '{{  child.vars.value.parent.isClosedForFurtherProcessing  }}',
                'amount': '{{ child.vars.data.amount }}',
                'enabled': {% if child.vars.view -%} false {%- else -%} true {%- endif -%},
                'errors': {{ form_errors(child) }},
                'hasFailedWithIntegration': '{{ child.vars.data.getFailedProcessingWithIntegration() }}',
                'hasFee': {{ (child.vars.data.details.hasFee|default(false)) ? "true" : "false" }},
                'bitcoinRequestedAmount' : {% if child.vars.data.details.bitcoin.requested_btc is defined -%} {{ child.vars.data.details.bitcoin.requested_btc | round_format(8, '.', ',', constant('AppBundle\\ValueObject\\Number::ROUND_DOWN')) }} {%- else -%} 0 {% endif -%},
                'hasBalanceAdjusted': '{{ child.vars.data.hasBalanceAdjusted() }}'
            });
            if(cp.info.hasFee == true) {
                cp.view.find('.subtransaction-has-fee')[0].checked = true;
            }
            {% else %}
            products.add({
                'type': 2,
                'customerProduct': null,
                'amount': 0,
                'customerFee': null,
                'enabled': true,
                'hasFee': true
            });
            {%- endfor %}

            {% if form.customerFee.vars.view|default(false) %}
            $('.product-fee').attr('disabled', 'disabled');
            {% endif %}

            $('#gateway-container').removeClass('hide');
            $('#payment-option-container').removeClass('hide');
        }

        $(function() {
            $('#{{ form.customer.vars.id }}').on('select2:select', function(event) {
                products.clear();
            });

            $('.btn-add-product').click(function() {
            	var hasFee = true;

            	$.each(products.items, function (key, value) {
                    if (value?.info.hasFee) {
                    	hasFee = false;
                    }
                });

                products.add({
                    'type': 2,
                    'customerProduct': null,
                    'amount': 0,
                    'customerFee': null,
                    'enabled': true,
                    'hasFee': hasFee
                });
            });

            products = new Products('withdraw',{
                'prototype': '{{ form_row(form.subTransactions.vars.prototype)|e('js') }}',
                'elem': '#{{ form.subTransactions.vars.id }} .product-list'
            });

            $('#{{ form.customer.vars.id }}').trigger('select2:select');
        });

    </script>
{% endblock %}

{% block summary_template %}
    <xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0">
        <xsl:output method="xml"/>
        <xsl:template match="transaction">
            <div class='card-box'>
                <div class='card-box'>
                    <div class='row'>
                        <div class='col-md-6 col-sm-12 col-xs-12'>
                            <b>{{ "Status"|trans({},"TransactionBundle") }}</b>
                        </div>
                        <div class='col-md-6 col-sm-12 col-xs-12 '>
                            <xsl:choose>
                                <xsl:when test="statusinfo/id = 2 and voided = 1">
                                    <span class="label label-danger">{{ "Voided"|trans({}, "TransactionBundle") }}</span>
                                </xsl:when>
                                <xsl:when test="statusinfo/id = 3">
                                    <span class="label label-danger"><xsl:value-of select="statusinfo/label"/></span>
                                </xsl:when>
                                <xsl:otherwise>
                                    <span class="label label-success"><xsl:value-of select="statusinfo/label"/></span>
                                </xsl:otherwise>
                            </xsl:choose>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-12 col-sm-12 col-xs-12'>
                            <b>{{ "Transaction Number"|trans({},"TransactionBundle") }}</b>
                        </div>
                        <div class='col-md-12 col-sm-12 col-xs-12 '>
                            <span><xsl:value-of select="number"/></span>
                        </div>
                    </div>
                </div>
                <div class='card-box'>
                    <h4 class="header-title m-t-0">{{ "Payment Gateway"|trans({},"TransactionBundle") }}</h4>
                    <hr />
                    <div class='row'>
                        <div class='col-md-6 col-sm-6 col-xs-6'>
                            <b>{{ "Name"|trans({},"TransactionBundle") }}</b>
                        </div>
                        <div class='col-md-6 col-sm-6 col-xs-6 '>
                            <span><xsl:value-of select="gateway/name"/></span>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-6 col-sm-6 col-xs-6'>
                            <b>{{ "Balance"|trans({},"TransactionBundle") }}</b>
                        </div>
                        <div class='col-md-6 col-sm-6 col-xs-6 '>
                            <span><xsl:value-of select="gateway/balance"/></span>
                        </div>
                    </div>
                    <xsl:if test='(pinnacletransacted = 0 and not (status = 2 or status = 3))'>
                        <div class='row'>
                            <div class='col-md-6 col-sm-6 col-xs-6'>
                                <b>{{ "After Balance"|trans({},"TransactionBundle") }}</b>
                            </div>

                            <div class='col-md-6 col-sm-6 col-xs-6 '>
                                <span><xsl:value-of select="gateway/afterbalance"/></span>
                            </div>
                        </div>
                    </xsl:if>
                </div>
                <div class='card-box'>

                    <h4 class="header-title m-t-0">{{ "Products"|trans({}, "TransactionBundle") }}</h4>
                    <hr />
                    <xsl:choose>
                        <xsl:when test='(pinnacletransacted = 0 and not (status = 2 or status = 3))'>
                            <div class='row'>
                                <div class='col-sm-5 col-xs-5'><b>{{ "Product"|trans({}, "TransactionBundle") }}</b></div>
                                <div class='col-sm-4 col-xs-4'><b>{{ "Current"|trans({}, "TransactionBundle") }}</b></div>
                                <div class='col-sm-3 col-xs-3'><b>{{ "After"|trans({}, "TransactionBundle") }}</b></div>
                            </div>
                            <xsl:for-each select="subtransactions/i">
                                <div class='row subtransaction'>
                                    <xsl:attribute name='data-index'>
                                        <xsl:value-of select='index' />
                                    </xsl:attribute>
                                    <xsl:choose>
                                        <xsl:when test="customerproduct/immutablecustomerproductdata">
                                            <div class='col-sm-5 col-xs-5'><span><xsl:value-of select="customerproduct/product/name"/></span> (<span><xsl:value-of select="customerproduct/immutablecustomerproductdata"/></span>)</div>
                                        </xsl:when>
                                        <xsl:otherwise>
                                            <div class='col-sm-5 col-xs-5'><span><xsl:value-of select="customerproduct/product/name"/></span> (<span><xsl:value-of select="customerproduct/username"/></span>)</div>
                                        </xsl:otherwise>
                                    </xsl:choose>
                                    <div class='col-sm-4 col-xs-4'><span><xsl:value-of select="customerproduct/balance"/></span></div>
                                    <div class='col-sm-3 col-xs-3'><span><xsl:value-of select="afterbalance"/></span></div>
                                </div>
                            </xsl:for-each>
                        </xsl:when>
                        <xsl:otherwise>
                            <div class='row'>
                                <div class='col-sm-4 col-xs-4'><b>{{ "Product"|trans({}, "TransactionBundle") }}</b></div>
                                <div class='col-sm-8 col-xs-8'><b>{{ "Balance"|trans({}, "TransactionBundle") }}</b></div>
                            </div>
                            <xsl:for-each select="subtransactions/i">
                                <div class='row subtransaction'>
                                    <xsl:attribute name='data-index'>
                                        <xsl:value-of select='index' />
                                    </xsl:attribute>
                                    <xsl:choose>
                                        <xsl:when test="customerproduct/immutablecustomerproductdata">
                                            <div class='col-sm-4 col-xs-4'><span><xsl:value-of select="customerproduct/product/name"/></span> (<span><xsl:value-of select="customerproduct/immutablecustomerproductdata"/></span>)</div>
                                        </xsl:when>
                                        <xsl:otherwise>
                                            <div class='col-sm-4 col-xs-4'><span><xsl:value-of select="customerproduct/product/name"/></span> (<span><xsl:value-of select="customerproduct/username"/></span>)</div>
                                        </xsl:otherwise>
                                    </xsl:choose>
                                    <div class='col-sm-8 col-xs-8'><span><xsl:value-of select="customerproduct/balance"/></span></div>
                                </div>
                            </xsl:for-each>
                        </xsl:otherwise>
                    </xsl:choose>
                </div>
                <div class='card-box'>
                    <h4 class="header-title m-t-0">{{ "Fees"|trans({}, "TransactionBundle") }}</h4>
                    <hr />
                    <div class='row'>
                        <div class='col-md-6 col-sm-6 col-xs-6'>
                            <b>{{ "Member Fee"|trans({},"TransactionBundle") }}</b>
                        </div>
                        <div class='col-md-6 col-sm-6 col-xs-6 '>
                            <span><xsl:value-of select="total_customer_fee"/></span>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-6 col-sm-6 col-xs-6'>
                            <b>{{ "Company Fee"|trans({},"TransactionBundle") }}</b>
                        </div>
                        <div class='col-md-6 col-sm-6 col-xs-6 '>
                            <span><xsl:value-of select="total_company_fee"/></span>
                        </div>
                    </div>
                </div>

                <div class='card-box'>
                    <div class='row'>
                        <div class='col-md-6 col-sm-6 col-xs-6'>
                            <b>{{ "Total amount to be deducted from account"|trans({},"TransactionBundle") }}</b>
                        </div>
                        <div class='col-md-6 col-sm-6 col-xs-6 '>
                            <span><xsl:value-of select="total_amount"/></span>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-6 col-sm-6 col-xs-6'>
                            <b>{{ "Total amount to be received"|trans({},"TransactionBundle") }}</b>
                        </div>
                        <div class='col-md-6 col-sm-6 col-xs-6 '>
                            <span><xsl:value-of select="customer_amount"/></span>
                        </div>
                    </div>
                </div>
            </div>
        </xsl:template>

    </xsl:stylesheet>
{% endblock summary_template %}
