{% extends 'TransactionBundle:Default:transaction.html.twig' %}

{% form_theme form with ["TransactionBundle:Form:Theme/transaction.html.twig", _self] %}

{% block title -%}
    {{ "page.title.withdraw"|trans({},"TransactionBundle") }}
{%- endblock %}

{% block pageTitle -%}
    {{ "page.Withdraw"|trans({},"TransactionBundle") }}
{%- endblock %}

{% block breadcrumb -%}
    <li>{{ "breadcrumb.transaction"|trans({},"AppBundle") }}</li>
    <li>
        <a href="{{ path("transaction.list_page") }}">{{ "breadcrumb.list"|trans({},"TransactionBundle") }}</a>
    </li>
    <li class="{{ transaction.id|default(false) ? "" : "active" }}}">
        {% if transaction.id|default(false) %}
            <a href="{{ path("transaction.create_page", {"type": "withdraw"}) }}">{{ "menus.Withdraw"|trans({},"TransactionBundle") }}</a>
        {% else %}
            {{ "menus.Withdraw"|trans({},"TransactionBundle") }}
        {% endif %}
    </li>
    {% if transaction.id|default(false) %}
    <li class="active">
        {{ transaction.number }}
    </li>
    {% endif %}
{%- endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var products = null;
        function customerProductLoad(data) {
            products.clear();
            products.setProducts(data);
            var cp = null;
            {% for child in form.subTransactions.children -%}
            cp = products.add({
                'type': '{{ child.vars.data.type }}',
                'customerProduct': '{{ child.vars.data.customerProduct.id|default(null) }}',
                'amount': '{{ child.vars.data.amount }}',
                'enabled': {% if child.vars.view -%} false {%- else -%} true {%- endif -%},
                'errors': {{ form_errors(child) }},
                'customerFee': {{ (child.vars.data.fees.customer_fee|default(null)) is null ? 'null' : child.vars.data.fees.customer_fee }}
            });
            if(cp.info.customerFee != null) {
                cp.view.find('.product-fee').click();
            }
            {% else %}
            products.add({
                'type': 2,
                'customerProduct': null,
                'amount': 0,
                'customerFee': null,
                'enabled': true
            });
            {%- endfor %}
                
            {% if form.customerFee.vars.view|default(false) %}
                $('.product-fee').attr('disabled', 'disabled');
            {% endif %}
            
            $('#gateway-container').removeClass('hide');
        }
        
        $(function() {
            $('#{{ form.customer.vars.id }}').on('select2:select', function(event) {
                products.clear();
                {% if setting("transaction.paymentGateway") == "customer-level" -%}
                if(typeof $(this).select2('data')[0] != 'undefined') {
                    $.ajax({
                        'url': "{{ path('gateway.find_by_level', {'level': '__level__'}) }}".replace(/__level__/g, $(this).select2('data')[0]['level']),
                        'type': 'POST',
                        'allowClear': true,
                        'success': function(data) {
                            objectExtend(data);
                            $('.gateway-data').each(function() {
                                var field = $(this).data('field');
                                $(this).html(data.array_get(field));
                            });
                            $('#{{ form.gateway.vars.id }}').html(data.name);
                        },
                        'statusCode': {
                            '404': function(xhr) {
                                $(this).data('global-error-title' , "Payment Gateway not found");
                                $(this).data('global-error-message' , "Level not linked to any payment gateway");
                            },
                            '409': function(xhr) {
                                $(this).data('global-error-title' , "Payment Gateway conflict");
                                $(this).data('global-error-message' , "Level was link to multiple gateway");
                            }
                        }
                    });
                }
                {%- endif %}
            });
            
            $('.btn-add-product').click(function() {
                products.add({
                    'type': 2,
                    'customerProduct': null,
                    'amount': 0,
                    'customerFee': null,
                    'enabled': true
                });
            });
            
            products = new Products('deposit',{
                'prototype': '{{ form_row(form.subTransactions.vars.prototype)|e('js') }}',
                'elem': '#{{ form.subTransactions.vars.id }} .product-list'
            });
            
            $('#{{ form.customer.vars.id }}').trigger('select2:select');
        });
        
        $(function() {
            $('.product-list').on('click', '.product-fee', function(e) {
                var name = $(this).attr('value');
                var parent = $(this).closest('.customer-product');
                $('#{{ form.customerFee.vars.id }}').attr('name',name);
                {% if not form.customerFee.vars.view|default(false) -%}
                if(parent.data('product').info.customerFee != null && $('#{{ form.customerFee.vars.id }}').val() == '') {
                    $('#{{ form.customerFee.vars.id }}').val(parent.data('product').info.customerFee);
                }
                {% else %}
                if(parent.data('product').info.customerFee != null && $('#{{ form.customerFee.vars.id }}').html() == '') {
                    $('#{{ form.customerFee.vars.id }}').html(parent.data('product').info.customerFee);
                }
                {% endif -%}
            });
        });
    </script>
{% endblock %}
    
{# Form Theme #}
{% block subTransaction_widget -%}
    <div id="{{ form.vars.id }}" class="row customer-product">
        {{ form_widget(form.type, {"attr": {"class":"subtransaction-type"}}) }}
        <div class="col-md-7">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">{{ form_label(form.customerProduct) }}</span>
                    {{ form_widget(form.customerProduct, {"attr": {"class":"subtransaction-product"}}) }}
                </div>
                <div class="help-block">
                    <ul class="list-unstyled"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">{{ form_label(form.amount) }}</span>
                    {{ form_widget(form.amount, {"attr": {"class":"subtransaction-amount"}}) }}
                    {% if not view %}
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger waves-effect waves-light btn-remove-product"><i class="fa fa-close"></i></button>
                    </span>
                    {% endif %}
                </div>
                <div class="help-block">
                    <ul class="list-unstyled"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <div class="radio radio-success radio-single">
                    <input name="product_fee" type="radio" class="form-control product-fee" value="{{ form.customerFee.vars.full_name }}" /><label></label>
                </div>
            </div>
        </div>
    </div>
{%- endblock %}

{% block summary_template %}
<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0">
    <xsl:output method="xml"/>
    <xsl:template match="transaction">
        <div class='card-box'>
        <div class='card-box'>
            <div class='row'>
                <div class='col-md-6'>
                    <b>{{ "Status"|trans({},"TransactionBundle") }}</b>
                </div>
                <div class='col-md-6 '>
                    <xsl:choose>
                        <xsl:when test="statusinfo/id = 2 and voided = 1">
                            <span class="label label-danger">{{ "Voided"|trans({}, "TransactionBundle") }}</span>
                        </xsl:when>
                        <xsl:when test="statusinfo/id = 3">
                            <span class="label label-danger"><xsl:value-of select="statusinfo/label"/></span>
                        </xsl:when>
                        <xsl:otherwise>
                            <span class="label label-success"><xsl:value-of select="statusinfo/label"/></span>
                        </xsl:otherwise>
                    </xsl:choose>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <b>{{ "Transaction Number"|trans({},"TransactionBundle") }}</b>
                </div>
                <div class='col-md-6 '>
                    <span><xsl:value-of select="number"/></span>
                </div>
            </div>
        </div>
        <div class='card-box'>
            <h4 class="header-title m-t-0">{{ "Payment Gateway"|trans({},"TransactionBundle") }}</h4>
            <hr />
            <div class='row'>
                <div class='col-md-6'>
                    <b>{{ "Name"|trans({},"TransactionBundle") }}</b>
                </div>
                <div class='col-md-6 '>
                    <span><xsl:value-of select="gateway/name"/></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <b>{{ "Balance"|trans({},"TransactionBundle") }}</b>
                </div>
                <div class='col-md-6 '>
                    <span><xsl:value-of select="gateway/balance"/></span>
                </div>
            </div>
            <xsl:if test='not ((status = 2) or (status = 3))'>
            <div class='row'>
                <div class='col-md-6'>
                    <b>{{ "After Balance"|trans({},"TransactionBundle") }}</b>
                </div>
                
                <div class='col-md-6 '>
                    <span><xsl:value-of select="gateway/afterbalance"/></span>
                </div>
            </div>
            </xsl:if>
        </div>
        <div class='card-box'>
            <h4 class="header-title m-t-0">{{ "Products"|trans({}, "TransactionBundle") }}</h4>
            <hr />
            <xsl:choose>
                <xsl:when test='not ((status = 2) or (status = 3))'>
                <div class='row'>
                    <div class='col-sm-4'><b>{{ "Product"|trans({}, "TransactionBundle") }}</b></div>
                    <div class='col-sm-4'><b>{{ "Current"|trans({}, "TransactionBundle") }}</b></div>
                    <div class='col-sm-4'><b>{{ "After"|trans({}, "TransactionBundle") }}</b></div>
                </div>
                <xsl:for-each select="subtransactions/i">
                    <div class='row subtransaction'>
                        <xsl:attribute name='data-index'>
                            <xsl:value-of select='index' />
                        </xsl:attribute>
                        <div class='col-sm-4'><span><xsl:value-of select="customerproduct/username"/></span></div>
                        <div class='col-sm-4'><span><xsl:value-of select="customerproduct/balance"/></span></div>
                        <div class='col-sm-4'><span><xsl:value-of select="afterbalance"/></span></div>
                    </div>
                </xsl:for-each>
                </xsl:when>
                <xsl:otherwise>
                <div class='row'>
                    <div class='col-sm-4'><b>{{ "Product"|trans({}, "TransactionBundle") }}</b></div>
                    <div class='col-sm-8'><b>{{ "Balance"|trans({}, "TransactionBundle") }}</b></div>
                </div>
                <xsl:for-each select="subtransactions/i">
                    <div class='row subtransaction'>
                        <xsl:attribute name='data-index'>
                            <xsl:value-of select='index' />
                        </xsl:attribute>
                        <div class='col-sm-4'><span><xsl:value-of select="customerproduct/username"/></span></div>
                        <div class='col-sm-8'><span><xsl:value-of select="customerproduct/balance"/></span></div>
                    </div>
                </xsl:for-each>
                </xsl:otherwise>
            </xsl:choose>
        </div>
        <div class='card-box'>
            <h4 class="header-title m-t-0">{{ "Fees"|trans({}, "TransactionBundle") }}</h4>
            <hr />
            <div class='row'>
                <div class='col-md-6'>
                    <b>{{ "Member Fee"|trans({},"TransactionBundle") }}</b>
                </div>
                <div class='col-md-6 '>
                    <span><xsl:value-of select="total_customer_fee"/></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <b>{{ "Company Fee"|trans({},"TransactionBundle") }}</b>
                </div>
                <div class='col-md-6 '>
                    <span><xsl:value-of select="total_company_fee"/></span>
                </div>
            </div>
        </div>
        
        <div class='card-box'>
            <div class='row'>
                <div class='col-md-6'>
                    <b>{{ "Member Amount"|trans({},"TransactionBundle") }}</b>
                </div>
                <div class='col-md-6 '>
                    <span><xsl:value-of select="customer_amount"/></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <b>{{ "Total Amount"|trans({},"TransactionBundle") }}</b>
                </div>
                <div class='col-md-6 '>
                    <span><xsl:value-of select="total_amount"/></span>
                </div>
            </div>
        </div>
        </div>
    </xsl:template>
    
</xsl:stylesheet>
{% endblock %}