{% extends 'AppBundle:Layout:base.html.twig' %}

{% block title %}Reports | Product {% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block pageTitle -%}
    {{ product.name }} {{ currency.code }} Report
    - ( {{ (filters.from|default('')) == '' ? '' : '' ~ filters.from|date('M d, Y') ~ ' to ' }}{{ (filters.to|default('')) == '' ? 'Today' : filters.to|date('M d, Y')  }} )
{%- endblock pageTitle %}

{% block breadcrumb -%}
    <li>{{ "breadcrumb.report"|trans({},"AppBundle") }}</li>
    <li>
        <a href="{{ path("report.products") }}">{{ "breadcrumb.productSummary"|trans({},"AppBundle") }}</a>
    </li>
    <li class="active">
        {{ product.name }} ({{ currency.code }})
    </li>
{%- endblock breadcrumb %}

{% block page %}
    <div class="row m-auto">
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
            <div class="card-box">
                <div class="bar-widget">
                    <div class="table-box">
                        <div class="table-detail">
                            <div class="iconbox bg-primary">
                                <i class="fa fa-users"></i>
                            </div>
                        </div>
                        <div class="table-detail text-right">
                            <h4 class="m-t-0 m-b-5">{{ report.total_register }}</h4>
                            <h5 class="text-muted m-b-0 m-t-0">Total Accounts</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
            <div class="card-box">
                <div class="bar-widget">
                    <div class="table-box">
                        <div class="table-detail">
                            <div class="iconbox bg-primary">
                                <i class="fa fa-users"></i>
                            </div>
                        </div>
                        <div class="table-detail text-right">
                            <h4 class="m-t-0 m-b-5">{{ report.num_active_accounts }}</h4>
                            <h5 class="text-muted m-b-0 m-t-0">Active Account</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
            <div class="card-box">
                <div class="bar-widget">
                    <div class="table-box">
                        <div class="table-detail">
                            <div class="iconbox bg-primary">
                                <i class="fa fa-users"></i>
                            </div>
                        </div>
                        <div class="table-detail text-right">
                            <h4 class="m-t-0 m-b-5">{{ report.num_sign_ups }}</h4>
                            <h5 class="text-muted m-b-0 m-t-0">Sign Ups</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
            <div class="card-box">
                <div class="bar-widget">
                    <div class="table-box">
                        <div class="table-detail">
                            <div class="iconbox bg-success">
                                <i class="fa fa-users"></i>
                            </div>
                        </div>
                        <div class="table-detail text-right">
                            <h4 class="m-t-0 m-b-5">{{ report.turnover|number_format(2, '.', ',') }}</h4>
                            <h5 class="text-muted m-b-0 m-t-0">Total Turnover</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
            <div class="card-box">
                <div class="bar-widget">
                    <div class="table-box">
                        <div class="table-detail">
                            <div class="iconbox bg-danger">
                                <i class="fa fa-upload"></i>
                            </div>
                        </div>
                        <div class="table-detail text-right">
                            <h4 class="m-t-0 m-b-5">{{ report.win_loss|number_format(2, '.', ',') }}</h4>
                            <h5 class="text-muted m-b-0 m-t-0">Win/Loss</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
            <div class="card-box">
                <div class="bar-widget">
                    <div class="table-box">
                        <div class="table-detail">
                            <div class="iconbox bg-pink">
                                <i class="ti-exchange-vertical"></i>
                            </div>
                        </div>
                        <div class="table-detail text-right">
                            <h4 class="m-t-0 m-b-5">{{ report.gross_commission|number_format(2, '.', ',') }}</h4>
                            <h5 class="text-muted m-b-0 m-t-0">Gross Commission</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-auto">
        <div class="col-md-12">
            <div class="card-box">
                <h5 class="text-muted text-uppercase m-t-0 m-b-20"><b>Member Products</b></h5>
                <div id="report">
                    <table
                        class="table table-striped table-bordered dt-responsive nowrap"
                        cellspacing="0"
                        width="100%">
                        <thead>
                            <tr>
                                <th>Member Product</th>
                                <th>Turnover</th>
                                <th>Gross Comm.</th>
                                <th>Win/Loss</th>
                                <th>Commission</th>
                                <th>Balance: {{ (filters.to|default('')) == '' ? 'Today' : filters.to|date('M d, Y')  }}</th>
                                <th>Current Balance</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>Total</th>
                                <th>{{ report.turnover|number_format(2, '.', ',') }}</th>
                                <th>{{ report.gross_commission|number_format(2, '.', ',') }}</th>
                                <th>{{ report.win_loss|number_format(2, '.', ',') }}</th>
                                <th>{{ report.commission|number_format(2, '.', ',') }}</th>
                                <th>0.00</th>
                                <th>0.00</th>
                                <th>&nbsp;</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock page %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/ZTable.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#report table').on('xhr.dt', function ( e, settings, json, xhr ) {
                if (typeof json.totalSummary !== 'undefined') {
                    var totalSummary = json.totalSummary;
                    var api = listTable.dataTable.api();

                    $(api.column(1).footer()).html((new Decimal(totalSummary.turnover)).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $(api.column(2).footer()).html((new Decimal(totalSummary.gross_commission)).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $(api.column(3).footer()).html((new Decimal(totalSummary.win_loss)).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $(api.column(4).footer()).html((new Decimal(totalSummary.commission)).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $(api.column(5).footer()).html((new Decimal(totalSummary.availableBalaneAsOfReportEndDateTotal)).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $(api.column(6).footer()).html((new Decimal(totalSummary.currentBalanceTotal)).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                }
            });
            var listTable = new ZTable('#report', {
                'ajax': {
                    'type': 'GET',
                    'url': '{{ path('report.customer_products') }}',
                    'data': function (data, dataTable) {
                        data.filters.from = '{{ filters.from }}';
                        data.filters.to = '{{ filters.to }}';
                        data.filters.currency = '{{ currency.id }}';
                        data.filters.products = ['{{ product.id }}'];

                        return data;
                    },
                    'dataFilter': function (str) {
                        var draw = this.draw;
                        var json = $.parseJSON( str );

                        return JSON.stringify({
                            'draw': draw,
                            'data': json.records,
                            'recordsFiltered': json.recordsFiltered,
                            'recordsTotal': json.recordsTotal,
                            'totalSummary': json.totalSummary
                        });
                    }
                },
                'featuresDom': "b",
                'features': {
                    'btnExportCsv': {
                        'type': 'button',
                        'label': 'Export to CSV',
                        'symbol': 'b',
                        'attrs': {
                            'type': 'button',
                            'class': 'btn btn-sm btn-inverse'
                        },
                        'initialized': function (feature) {
                        },
                        'rendered': function (feature) {
                            $(feature.input).click(function () {
                                var query = {
                                    'filters': {
                                        'from': '{{ filters.from }}',
                                        'to': '{{ filters.to }}',
                                        'currency': {{ currency.id }},
                                        'products': [{{ product.id }}],
                                        'search': $('.ztable_search_input.form-control').val(),
                                    },
                                    'filename': '{{ product.name }}_{{ currency.code }}'
                                }
                                window.open('{{ path('report.customer_products_export') }}?' + $.param(query), '_blank');
                            });
                        }
                    }
                },
                'columns': [
                    {
                        'data': 'cproduct_username',
                        'render': function (data, type, full) {
                            return '<a class="dwl-link" href="' + full.link + '" target="_blank">' + data + '</a>';
                        }
                    },
                    {
                        'data': 'dwl_turnover',
                        'render': function (data, type, full) {
                            return (new Decimal(data)).toFixed(2);
                        }
                    },
                    {
                        'data': 'dwl_gross',
                        'render': function (data, type, full) {
                            return (new Decimal(data)).toFixed(2);
                        }
                    },
                    {
                        'data': 'dwl_win_loss',
                        'render': function (data, type, full) {
                            return (new Decimal(data)).toFixed(2);
                        }
                    },
                    {
                        'data': 'dwl_commission',
                        'render': function (data, type, full) {
                            return (new Decimal(data)).toFixed(2);
                        }
                    },
                    {
                        'data': 'end_of_report_date_balance',
                    },
                    {
                        'data': 'current_balance',
                        'render': function (data, type, full) {
                            return (new Decimal(data)).toFixed(2);
                        }
                    },
                    {
                        'data': 'product_deleted_at',
                        'render': function (data, type, full) {
                            var status = 'Enabled';
                            if (data !== null) {
                                var fromDate, toDate, deletedDate;
                                fromDate = new Date('{{ filters.from }}');
                                toDate = new Date('{{ filters.to }}');
                                deletedDate = new Date(moment(data.date).format('MM/D/YYYY'));

                                if(deletedDate <= toDate && deletedDate >= fromDate) {
                                    status = 'Deleted (' + moment(data.date).format('MMM D, YYYY') + ')';
                                }
                            }

                            return status;
                        }
                    }
                ]
            });

            var dwlTable = new ZTable('#dwlContainer', {
                'dom': 't',
                'ajax': {
                    'type': 'GET'
                },
                'autoloadTable': false,
                'columns': [
                    {'data': 'dwl_date'},
                    {
                        'data': 'subtransaction_details.dwl.turnover',
                        'render': function (data) {
                            return (new Decimal(data)).toFixed(2);
                        }
                    },
                    {
                        'data': 'subtransaction_details.dwl.winLoss',
                        'render': function (data) {
                            return (new Decimal(data)).toFixed(2);
                        }
                    },
                    {
                        'data': 'subtransaction_details.dwl.gross',
                        'render': function (data) {
                            return (new Decimal(data)).toFixed(2);
                        }
                    }
                ],
                'dt': {
                    'deferLoading': 1
                }
            });
            $('#report').on('click', '.dwl-link', function (e) {
                var tr = $(this).closest('tr');
                var data = listTable.dataTable.api().row(tr).data();

                e.preventDefault();
                dwlTable.dataTable.api().ajax.url($(this).attr('href'));

                $('#customerProductUsername').html(data.cproduct_username);
                $('#dwlModal').modal('show');
            });
            $('#dwlModal').on('show.bs.modal', function (e) {
                dwlTable.dataTable.api().ajax.reload();
            });
            $('#dwlModal').on('hide.bs.modal', function (e) {
                dwlTable.dataTable.api().clear().draw();
            });
        });
    </script>
{% endblock javascripts %}

{% block modals %}
    {% include 'ReportBundle:Report:products/dwl-modal.html.twig' with {'product': product, 'filters': filters, 'currency': currency} only %}
{% endblock modals %}
