{% block update_banners_javascript %}
    {{ widget_render_block(widget, 'javascript') }}
    <script type="text/javascript">
        function bannerListAction(data, type, full) {
            var url = "{{ path('member.download_banner', {'id': '__id__'}) }}";
            var downloadUrl = url.replace('__id__', full.id);
            return "<button class='btn btn-xs btn-success btn-preview-banner'>Preview</button>"
                + " <a class='btn btn-xs btn-default btn-download-banner' href=" + downloadUrl + " target='_blank'>"
                + "Download HTML</a>";
        }

        $(function () {
            $('#{{ id }}_container').on('click', '.btn-preview-banner', function () {
                var tr = $(this).closest('tr');
                var data = {{ widget.getFullId() }}Table.dataTable.api().row(tr).data();
                var url = "{{ path('member.download_banner', {'id': '__id__'}) }}";
                var downloadUrl = url.replace('__id__', data.id);
                var title = data.member_referral_name.name + ' : ' + data.banner_image.dimension;
                var imageUrl = "{{ path('app.render_file', {'fileName': '__fileName__'}) }}";
                var bannerUrl = imageUrl.replace('__fileName__', data.banner_image.filename);
                $.magnificPopup.open({
                    'items': [
                      {
                        'src': bannerUrl
                      }
                    ],
                    'verticalFit': true,
                    'type': 'image',
                    'image': {
                        'titleSrc': function () {
                            return title;
                        },
                        'markup': '{{ block('update_banners_modal') }}',
                        'tError': '{{ block('update_banners_error_modal') }}'
                    }
                });
                $('#{{ id }}_modal').find('.btn-download-banner').attr('href', downloadUrl);
                $('#{{ id }}_modal .mfp-title').html(title);
            });
        });
    </script>
{% endblock update_banners_javascript %}

{% block update_banners_stylesheet %}
    <style type="text/css">
        .btn-banner-btn {
            position: absolute;
            top: 0;
            right: 0;
            white-space: nowrap;
        }
        .banner-error-message {
            padding: 20px;
        }
    </style>
{% endblock update_banners_stylesheet %}

{% block update_banners_error_modal %}
    {%- spaceless -%}
        <div class="banner-error">
            <div class="banner-error-message">
                <a href="%url%">The image</a><span> could not be loaded.</span>
            </div>
            <a class="btn btn-xs btn-default btn-download-banner" href="" target="_blank">Download HTML</a>
        </div>
    {%- endspaceless -%}
{% endblock update_banners_error_modal %}


{% block update_banners_modal %}
    {%- spaceless -%}
        <div class="mfp-figure" id="{{ id }}_modal">
            <div class="mfp-close"></div>
            <div class="mfp-img"></div>
            <div class="mfp-bottom-bar">
                <div class="mfp-title"></div>
                <a class="btn btn-xs btn-default btn-download-banner btn-banner-btn" href="" target="_blank">Download HTML</a>
            </div>
        </div>
    {%- endspaceless -%}
{% endblock update_banners_modal %}

{% block update_banners_assetcss %}
    {{ asset_render('css', 'default', [asset('assets/plugins/magnific-popup/css/magnific-popup.css')]) }}
{% endblock update_banners_assetcss %}

{% block update_banners_assetjs %}
    {{ asset_render('js', 'default', [asset('assets/plugins/magnific-popup/js/jquery.magnific-popup.min.js')]) }}
{% endblock update_banners_assetjs %}