<div class="modal-dialog modal-responsive">
    <div class="modal-content create-product-content">
        {{ form_start(form) }}
        <div class="modal-header"> 
            <h4 class="panel-title create-product-title">
                <span class='new'>{{ "Create Payment Option"|trans({},"CustomerProductBundle") }}</span>
                <span class='update'>{{ "Update Payment Option"|trans({},"CustomerProductBundle") }} <span class='id'></span></span>
            </h4> 
        </div> 
        <div class="modal-body"> 
            <div class="row">
            {{ form_row(form.type) }}
            </div>
            <div class="row switch">
            {{ form_row(form.isActive) }}
            </div>
            <div class="row paymentOptionFields"></div>
        </div> 
        <div class="modal-footer">
            {{ form_row(form.save) }}            
            <button type="button" class="btn btn-inverse waves-effect" data-dismiss="modal">Cancel</button> 
            {#<button type="button" action="{{ path('customer.payment_option_delete', {'id': customer.id}) }}" class="btn btn-danger btn-delete waves-effect update" >Delete</button>#} 
            <!--button type="button" class="btn btn-info waves-effect waves-light">Save changes</button--> 
        </div>
        {{ form_end(paymentForm) }}
    </div>
</div>