<div>
    <div id='_form'>
    {{ form_start(form) }}
    {{ form_end(form) }}
    </div>

    <div id='_scripts'>
        {{ form_javascript(form) }}
        <script type='text/javascript'>
            $(function () {
                $('#{{ form.vars.id }}').ajaxForm({});
            });
        </script>
    </div>

    <div id='_styles'>
        {{ form_stylesheet(form) }}
    </div>
</div>