{% extends 'AppBundle:Layout:base.html.twig' %}

{% form_theme form _self %}

{% block title %}{{ "page.title.list"|trans({},"CountryBundle") }}{% endblock %} 

{% block stylesheets %}
    <!-- DataTables -->
    <link href="{{ asset('assets/plugins/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/responsive.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/dataTables.colVis.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block stylesheet_plugins %}
    {{ form_assetcss(form) }}
{% endblock %}

{% block pageTitle -%} {{ "menus.Country"|trans({},"CountryBundle") }} {%- endblock pageTitle %}

{% block breadcrumb -%}
    <li>{{ "breadcrumb.admin"|trans({},"AppBundle") }}</li>
    <li class="active">{{ "breadcrumbs.list"|trans({},"CountryBundle") }}</a></li>
{%- endblock breadcrumb %}

{% block pageHeaderExtra %}
    <div class="pull-right">
        {% if is_granted('ROLE_COUNTRY_CREATE') %}
        <a class="btn btn-primary waves-effect waves-light pull-right m-b-10" id="btnCreate">
            <i class="ti-plus"></i> {{ "Add Country"|trans({}, 'CountryBundle') }}
        </a>
        {% endif %}
        <ul class="list-inline quicklinks font-13 font-normal text-right">
            {% if is_granted(['ROLE_USER_VIEW' , 'ROLE_USER_VIEW' , 'ROLE_COUNTRY_VIEW']) %}
            <li>Quick Links:</li>
            {% endif %}
            {% if is_granted('ROLE_USER_VIEW') %}
            <li><a href="{{ path("user.list_page") }}">Users</a></li>|
            {% endif %}
            {% if is_granted('ROLE_USER_VIEW') %}
            <li><a href="{{ path("group.list_page") }}">User Group</a></li>|
            {% endif %}
            {% if is_granted('ROLE_COUNTRY_VIEW') %}
            <li><a href="{{ path("country.list_page") }}">Country</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock pageHeaderExtra %}

{% block page %}
    <div class="col-sm-12">
        <div class="card-box">
            <div id="countryList">
                <table id="datatable-responsive"
                    class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
                    width="100%">
                    <thead>
                        <tr>
                            <th>{{ "fields.id"|trans({}, "CountryBundle") }}</th>
                            <th>{{ "fields.code"|trans({}, "CountryBundle") }}</th>
                            <th>{{ "fields.name"|trans({}, "CountryBundle") }}</th>
                            <th>{{ "fields.currency"|trans({}, "CountryBundle") }}</th>
                            <th>{{ "fields.locale"|trans({}, "CountryBundle") }}</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals -%}
    <div id="formModal" class="modal fade" tabindex="-1" style="display: none;" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-responsive">
            <div class="modal-conten p-0 b-0t">
                <div class="panel panel-color panel-inverse">
                    <div class="panel-heading">
                        <h3 class="panel-title">&nbsp;</h3> 
                    </div> 
                    {{ form_start(form) }}
                    <div class="panel-body p-20">
                        <div class="row">
                            {{ form_row(form.code) }}
                            {{ form_row(form.name) }}
                            {{ form_row(form.currency) }}
                            {{ form_row(form.phoneCode) }}
                            {{ form_row(form.tags) }}
                            {{ form_row(form.locale) }}
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        {{ form_widget(form.save, {'attr': {'class': 'btn-sm btn-success'}}) }}
                        <button class="btn btn-sm btn-inverse btnModalClose" data-dismiss="modal">Close</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{%- endblock modals %}


{% block _Country_tags_javascript %}
    <script class="text/javascript">
        $('#{{ form.vars.id }}').select2();
    </script>
{% endblock %}

{% block javascript_plugins %}
    {{ form_assetjs(form) }}
{% endblock %}

{% block javascripts %}
    {{ form_javascript(form) }}
    <script src="{{ asset('bundles/app/js/ZTable.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery-form/jquery.form.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.bootstrap.js') }}"></script>

    <script src="{{ asset('assets/plugins/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/responsive.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.colVis.js') }}"></script>
    
    
    <script type="text/javascript" >
        var userPreferences = {{ app.user.getPreference('ui.country.list.column.visibility')|json_encode()|raw }};
        var locales = {{ locales|json_encode|raw }};
        $(function(){
            var listTable = new ZTable('#countryList',  {
                'ajax': {
                    'url': '{{ path("country.list_search") }}',
                    'data': function (data, dataTable) {
                        var newData = {
                            'search': data.filters.search,
                            'tags': data.filters.tags,
                            'length': data.length,
                            'start': dataTable.start,
                            'datatable': true,
                            'route': true,
                            'draw': dataTable.draw,
                            'order': data.order
                        };
                        return newData;
                    },
                    'dataFilter': function (str) {
                        return str;
                    }
                },
                'colvis': {
                    'hidden': function () {
                        var hidden = [];
                        for (var i in userPreferences) {
                            if (userPreferences[i] == 'false') {
                                hidden.push(eval(i));
                            }
                        }
                        
                        return hidden;
                    },
                    'exclude': ['country.id', 'country.code', 'country.name']
                },
                'featuresDom': "<'form-inline'"
                    + "<'form-group m-r-10'tdb>",
                'features': {
                    'tags': {
                        'dom': "<'form-group form-group-sm m-r-10 xs-filter'<'status-product'i>>",
                        'type': 'select',
                        'label': 'Tags',
                        'symbol': 't',
                        'class': 'selectpicker countrypicker',
                        'attrs': {
                            'data-style': 'btn-white btn-sm',
                            'title': 'Select Tag',
                        },
                        'waitByTable': true,
                        'resetValue': function (feature) {
                            $(feature.input).selectpicker('val', feature.feature.value);
                        },
                        'initialized': function (feature) {
                            feature.ztable.waitDrawTable();
                            $.ajax({
                                'url': '{{ path('country.list_search') }}',
                                'success': function (data) {
                                    var options = [];
                                    var newArr = [];

                                    for (var i in data) {
                                        options.push(data[i].tags);
                                    }

                                    for ( var i = 0; i < options.length ; i++ ){
                                        if (options[i] != null){
                                            for (var j = 0; j < options[i].length; j++ ){
                                                newArr.push(options[i][j])
                                            }  
                                        }
                                      }

                                    newArr.sort(function(a,b){
                                        a = a.toLowerCase(); b = b.toLowerCase();
                                        return a>b ? 1 : a==b ? 0 : -1;
                                    });

                                    $.unique(newArr).forEach(function(item) {
                                        var option = $("<option value='" + item + "'>" + item + "</option>");
                                        if (feature.feature.value.indexOf(item + "") !== -1) {
                                            option.attr('selected', 'selected');
                                        }
                                        $(feature.input).append(option);
                                    });
                                    
                                    $(feature.input).selectpicker('refresh');
                                    feature.setToDone();
                                    feature.ztable.reloadTable();
                                }
                            });
                        },
                        'value': '{{ app.request.get("tags", [])|json_encode|raw }}'
                        },
                        'applyFilter': {
                        'type': 'button',
                        'label': 'Apply Filter',
                        'symbol': 'd',
                        'attrs': {
                            'type': 'button',
                            'class': 'btn btn-sm btn-default'
                        },
                        'initialized': function (feature) {
                            $(feature.input).click(function () {
                                feature.ztable.forceReloadTable();
                            });
                        }
                    },
                        'resetFilter': {
                        'type': 'button',
                        'label': 'Reset Filter',
                        'symbol': 'b',
                        'attrs': {
                            'type': 'button',
                            'class': 'btn btn-sm btn-inverse'
                        },
                        'initialized': function (feature) {
                            $(feature.input).click(function () {
                                $("select.ztable_length_input").val('10').change();
                                feature.ztable.reset();
                            });
                        }
                    },
                },
                'columns': [
                    {
                        'data': 'country.id',
                        'defaultContent': '',
                        'name': 'country.id',
                        'render': function (data, type, full) {
                            return "<a href='"+full.routes.update+"'>"+data+"</a>";
                        }
                    },
                    {
                        'data': 'country.code',
                        'defaultContent': '',
                        'name': 'country.code',
                        'render': function (data, type, full) {
                            return "<a href='"+full.routes.update+"' class='update'>"+data+"</a>";
                        }
                    },
                    { 'data': 'country.name', 'defaultContent': '', 'name': 'country.name' },
                    { 'data': 'country.currency.code', 'defaultContent': '', 'name': 'currency.code' },
                    {
                        'data': 'country.locale',
                        'defaultContent': '',
                        'name': 'country.locale',
                        'render': function (data) {
                            return locales[data].name + " (" + data + ")";
                        }
                    }
                ],
                'ordering': true,
                'columnDefs': [
                    {'targets': [0], 'visible': false}
                ]
            });
            
            $('#countryList').on('ztable.change.column.visible', function (e, colvis, ztable) {
                saveUserPreferences({'ui.country.list.column.visibility': ztable.getColumnVisibility()});
            });
            
            $('#formModal').on('hidden.bs.modal', function (e) {
                $('#formModal').trigger('changeData', [null]);
            });
            
            $('#btnCreate').click(function (e) {
                $('#formModal').trigger('changeData', [null]);
                $('#formModal').modal('show');
            });
            
            $('#countryList').on('click', 'tr td a.update', function (e) {
                e.preventDefault();
                var tr = $(e.target).closest('tr');
                var data = listTable.dataTable.api().row(tr).data();
                $('#formModal').trigger('changeData', [data]);
                $('#formModal').modal('show');
            });
            
            $('#formModal').on('changeData', function (e, data) {
                $(this).data('country', data);
                if (data === null) {
                    $(this).find('#{{ form.vars.id }}').attr('action', '{{ form.vars.action }}');
                    $(this).find('#{{ form.code.vars.id }}').val('');
                    $(this).find('#{{ form.name.vars.id }}').val('');
                    $(this).find('#{{ form.currency.vars.id }}').val(null).trigger('change');
                    $(this).find('#{{ form.tags.vars.id }}').val(null).trigger('change');
                    $(this).find('.panel-title').html('Create Country');
                    
                    return;
                }
                $(this).find('.panel-title').html('Update Country');
                $(this).find('#{{ form.vars.id }}').attr('action', data.routes.save);
                $(this).find('#{{ form.code.vars.id }}').val(data.code);
                $(this).find('#{{ form.name.vars.id }}').val(data.name);
                if (data.currency !== null) {
                    if ($('#{{ form.currency.vars.id }}').find("option[value='" + data.currency.id + "']").length) {
                        $('#{{ form.currency.vars.id }}').val(data.currency.id).trigger('change');
                    } else { 
                        var newOption = new Option(data.currency.name, data.currency.id, true, true);
                        $(this).find('#{{ form.currency.vars.id }}').append(newOption).trigger('change');
                    }
                }
                
                for (var i in data.tags) {
                    if ($('#{{ form.tags.vars.id }}').find("option[value='" + data.tags[i] + "']").length === 0) {
                        var newOption = new Option(data.tags[i], data.tags[i]);
                        $(this).find('#{{ form.tags.vars.id }}').append(newOption);
                    }
                }
                
                $(this).find('#{{ form.tags.vars.id }}').val(data.tags).trigger('change');
                $(this).find('.form-group').removeClass('has-error');
                $(this).find('.form-group .help-block ul li').remove();
            });
            
            $('#formModal').ajaxForm({
                'beforeSend': function () {
                    $('#formModal').find('.form-group').removeClass('has-error');
                    $('#formModal').find('.form-group .help-block ul li').remove();
                    $('#formModal').find('.btnModalClose, #{{ form.save.vars.id }}').attr('disabled', 'disabled');
                },
                'complete': function () {
                    $('#formModal').find('.btnModalClose, #{{ form.save.vars.id }}').removeAttr('disabled');
                },
                'statusCode': {
                    422: function (xhr, textStatus, errorThrown) {
                        var data = xhr.responseJSON;
                        $(this).data('global-ajax-error', false);
                        for (var i in data.errors) {
                            var error = data.errors[i];
                            $('#' + error.formId)
                                .closest('.form-group').addClass('has-error')
                                .find('.help-block ul')
                                .append('<li>' + error.message + '</li>');
                        }
                    },
                    200: function () {
                        listTable.reloadTable();
                        $('#formModal').modal('hide');
                        notification('Saved', 'You have successfully saved country', 'success');
                    },
                    201: function () {
                        listTable.reloadTable();
                        $('#formModal').modal('hide');
                        notification('Added', 'You have successfully added new country', 'success');
                    }
                }
            });
        });
    </script>
{% endblock %}