{% extends 'AppBundle:Layout:base.html.twig' %}

{% block title %}{{ "page.title.update"|trans({'%code%':country.code},"CountryBundle") }}{% endblock %} 

{% block stylesheet_plugins %}
    {{ form_assetcss(form) }}
{% endblock %}

{% block javascript_plugins %}
    {{ form_assetjs(form) }}
{% endblock %}

{% block content %}
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">{{ "page.Update Country"|trans({},"CountryBundle") }}</h4>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path("app.dashboard_page") }}">{{ "menus.Dashboard"|trans({},"AppBundle") }}</a>
                </li>
                <li>
                    <a href="{{ path("country.list_page") }}">{{ "menus.Country"|trans({},"CountryBundle") }}</a>
                </li>
                <li>
                    <a href="{{ path("country.update_page", {"id":country.id}) }}">{{ "menus.Update"|trans({},"AppBundle") }}</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                {% include "CountryBundle:Form:country-form.html.twig" %}
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ form_javascript(form) }}
{% endblock %}