{{ form_start(confirmForm) }}
        <section class="panel panel-info panel-color">
            <header class="panel-heading">
                <h2 class="panel-title">{{ "confirm.header"|trans({},"AppBundle") }}</h2>
            </header>
            <div class="panel-body">
                <div class="modal-wrapper">
                    <div class="modal-text">
                        <p>{{ "confirm.messageTicket"|trans({},"AppBundle") }}</p>
                    </div>
                </div>

                <div class="row m-t-20">
                    <div class="col-md-12 text-right">
                        {{form_row(confirmForm.confirm)}}
                        {{form_row(confirmForm.cancel)}}
                        <!--button id="dialogConfirm" class="btn btn-primary waves-effect waves-light">Confirm</button>
                        <button id="dialogCancel" class="btn btn-default waves-effect">Cancel</button-->
                    </div>
                </div>
            </div>
        </section>
{{ form_end(confirmForm) }}
