{% use "AppBundle:Widget:base.html.twig"  %}

{% block transactionList_widget %}
<div class="filters" id="{{ id }}_list">
    <table id="{{ id }}_table" class="table table-striped table-bordered dt-responsive nowrap" width="100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Transaction Number</th>
                <th>Member</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock transactionList_widget %}

{% block transactionSearch_container %}
<div class="portlet widget_container" id="{{ block_id }}">
    <div class="portlet-heading portlet-default">
        <h3 class="portlet-title text-dark">{{ widget.property('title') }}</h3>
        <div class="portlet-widgets">
            <span class="divider"></span>
            <a data-toggle="collapse" data-parent="#accordion1" href="#{{ block_id }}_collapse"><i class="ion-minus-round"></i></a>
            <span class="divider"></span>
            <a href="{{ path('app.dashboard_widget_remove', {"widgetId": widget.getId()}) }}" class="widget-remove" data-toggle="remove"><i class="ion-close-round"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="{{ block_id }}_collapse" class="panel-collapse collapse in">
        <div class="portlet-body">
            {{ widget_render_block(widget, 'widget') }}
        </div>
    </div>
</div>
{% endblock transactionSearch_container %}

{% block  transactionSearch_widget %}
<div class="row transaction">
    <div class="col-md-12">
        <div class="form-inline">
            <form action="{{ path('transaction.list_page') }}" target="_blank">
                <div class="form-group m-r-10 ft-date">
                    <div class="m-t-10 ">
                        <div class="form-group form-group-sm m-r-10">
                            <div class="m-t-5">
                                 <div class="input-group">
                                    <input class="form-control cls-date" name="from" placeholder="From" type="input" id="">
                                    <span class="input-group-addon bg-white text-default"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm m-r-10">
                            <div class="m-t-5">
                                <div class="input-group">
                                    <input class="form-control cls-date" name="to" placeholder="To" type="input" id="">
                                    <span class="input-group-addon bg-white text-default"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-sm m-r-10 xs-filter">
                            <div class="m-t-5">
                                <select name= "type[]" class="form-control selectpicker" data-container="body" data-width="auto" data-style="btn-white btn-sm" title="Select Types" multiple="multiple">
                                    <option value="deposit">Deposit</option>
                                    <option value="withdraw">Withdraw</option>
                                    <option value="transfer">Transfer</option>
                                    <option value="p2ptransfer">P2P Transfer</option>
                                    <option value="dwl">Win/Loss</option>
                                    <option value="bet">Bet</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-group-sm m-r-10 xs-filter">
                            <div class="m-t-5">
                                <select name= "currency[]" class="form-control selectpicker" data-container="body" data-width="auto" data-style="btn-white btn-sm" title="Select Currency" multiple="multiple">
                                    {% for currency in widget.getCurrency() %}
                                    <option value="{{ currency.id }}">{{ currency.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-group-sm m-r-10 xs-filter">
                            <div class="m-t-5">
                                <select name= "status[]" class="form-control selectpicker" data-container="body" data-width="auto" data-style="btn-white btn-sm" title="Select Status" multiple="multiple">
                                    {% for value,status in widget.getTransactionStatuses() %}
                                        <option value="{{ value }}">{{ status.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-group-sm m-r-10 p-l-0 xs-filter">
                            <div class="m-t-5">
                                <input type="text" class="form-control" id="" name="search" placeholder="Search Member Name">
                            </div>
                        </div>
                        <div class="widget-filter-btn">
                            <input type="submit" value="Search" class="btn btn-sm btn-success m-t-5">
                            <button type="reset" value="Reset" class="btn btn-sm btn-warning resetBtn2 m-t-5">Reset Filters</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock transactionSearch_widget %}

{% block transactionSearch_javascript %}
<script type="text/javascript">

$(function () {
    $('.cls-date').datepicker();

    $( ".resetBtn2" ).click(function() {
        $(".transaction select").val('default');
        $(".transaction select").selectpicker("refresh");
    });
});
</script>
{% endblock transactionSearch_javascript %}

{% block transactionList_assetjs %}
    {{ asset_render('js', 'default', [asset('bundles/app/js/ZTable.js')]) }}
{% endblock transactionList_assetjs %}

{% block transactionList_javascript %}
    <script type="text/javascript">
        $(function () {
            var {{ id }}_list = new ZTable('#{{ id }}_list', {
                'dom': "t",
                'ajax': {
                    'headers': {
                        'X-WIDGET-REQUEST': 'onGetTransactions',
                        'X-WIDGET-PATH': '{{ widget_path }}',
                        'X-WIDGET-ID': '{{ id }}'
                    },
                    'dataFilter': function (str) {
                        return str;
                    },
                    'dataSrc': '',
                },
                'columns': [
                    {
                        'data': 'date'
                    },
                    {
                        'data': 'number'
                    },
                    {
                        'data': 'customer.full_name',
                        'render': function (data, type, full) {
                            if (data == '') {
                                return full.customer.user.username;
                            }

                            return data;
                        }
                    },
                    {
                        'data': 'amount',
                        'render': function (data, type, full) {
                            return full.currency.code + ' ' + data.toFixed(2);
                        }
                    },
                    {
                        'data': 'type_text',
                        'name': 'type',
                        'defaultContent': '',
                        'render': function(data) {
                            var typeText = {
                                'deposit': "{{ "types.deposit"|trans({}, "TransactionBundle") }}",
                                'withdraw': "{{ "types.withdraw"|trans({}, "TransactionBundle") }}",
                                'transfer': "{{ "types.transfer"|trans({}, "TransactionBundle") }}",
                                'bonus': "{{ "types.bonus"|trans({}, "TransactionBundle") }}",
                                'p2p_transfer': "{{ "types.p2p_transfer"|trans({}, "TransactionBundle") }}",
                                'dwl': "{{ "types.dwl"|trans({}, "TransactionBundle") }}",
                                'bet': "{{ "types.bet"|trans({}, "TransactionBundle") }}"
                            };
                            return typeText[data];
                        }
                    },
                    {
                        'data': 'status.label',
                        'defaultContent': '',
                        'name': 'status',
                        'render': function(data, type, full) {
                            if (full.is_voided) {
                                return "{{ "voided"|trans({}, "TransactionBundle") }}";
                            }
                            return data;
                        }
                    },
                    {
                        'data': 'id',
                        'responsivePriority': 1,
                        'render': function (data, type, full) {
                            return "<a href='" + full["@link"] +  "' target='_blank' class = 'btn btn-sm btn-primary waves-effect waves-light'>View</a>";
                        }
                    }
                ],
                'dt': {
                    'processing': true,
                    'serverSide': false,
                    'deferLoading': null,
                    'paginate': false,
                    'paging': false,
                    'bPaginate': false,
                    'bInfo': false,
                    'initComplete': function (settings, json) {
                        if (json.length === 0) {
                            $('#{{ id }}_list .dataTables_empty').attr('tabindex', 0);
                        }
                    }
                }
            });
            $('#{{ id }}_container .zTable-refresh').click(function(){
                {{ id }}_list.dataTable.api().ajax.reload();
            });
        });
    </script>
{% endblock transactionList_javascript %}