{% use "AppBundle:Widget:base.html.twig"  %}

{% block dwlSearch_container %}
<div class="portlet widget_container" id="{{ block_id }}">
    <div class="portlet-heading portlet-default">
        <h3 class="portlet-title text-dark">{{ widget.property('title') }}</h3>
        <div class="portlet-widgets">
            <span class="divider"></span>
            <a data-toggle="collapse" data-parent="#accordion1" href="#{{ block_id }}_collapse"><i class="ion-minus-round"></i></a>
            <span class="divider"></span>
            <a href="{{ path('app.dashboard_widget_remove', {"widgetId": widget.getId()}) }}" class="widget-remove" data-toggle="remove"><i class="ion-close-round"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="{{ block_id }}_collapse" class="panel-collapse collapse in">
        <div class="portlet-body">
            {{ widget_render_block(widget, 'widget') }}
        </div>
    </div>
</div>
{% endblock dwlSearch_container %}

{% block dwlSearch_widget %}
<div class="form-inline">
    <form action="{{ path('dwl.list_page') }}"  target="_blank">
        <div class="form-group form-group-sm m-r-10 xs-filter">
            <select name= "product[]" class="form-control selectpicker" data-container="body" data-width="auto" data-style="btn-white btn-sm" title="Select Product" multiple="multiple">
                {% for product in widget.getProduct() %}
                <option value="{{ product.id }}">{{ product.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group form-group-sm m-r-10 xs-filter">
            <select name= "currency[]" class="form-control selectpicker" data-container="body" data-width="auto" data-style="btn-white btn-sm" title="Select Currency" multiple="multiple">
                {% for currency in widget.getCurrency() %}
                <option value="{{ currency.id }}">{{ currency.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group form-group-sm m-r-10 xs-filter">
            <select name= "status[]" class="form-control selectpicker" data-container="body" data-width="auto" data-style="btn-white btn-sm" title="Select Status" multiple="multiple">
                <option  value="uploaded">Uploaded</option>
                <option  value="submited">Submitted</option>
            </select>
        </div>
        <div class="widget-filter-btn">
            <input type="submit" value="Search" class="btn btn-sm btn-success m-t-5">
            <button type="reset" value="Reset" class="btn btn-sm btn-warning m-t-5">Reset Filters</button>
        </div>
    </form>
</div>
{% endblock dwlSearch_widget %}

