<div style="background-color:#ddd">
	<table width="100%">
		<tbody>
		<tr>
			<td>
				<table width="550px" align="center">
					<tbody>
					<tr>
						<td>
							<div style="border-radius:8px 8px 7px 7px;border:1px solid #dddddd;border-color:rgba(0,0,0,0.13);background-color:#fff">
								<!--header-->
								<div style="border-radius:7px 7px 0 0;font-size:24px;background-color:#DA0000;padding:17px 20px 13px;color:#fff;font-weight:bold">
							<span style="font-size:18px;font:Helvetica Neue;color:#ffffff;display:inline-block;line-height:25pt;margin-right:1em">
							<!--Logo here-->
							<img src="{{ asianconnect_url }}wp-content/uploads/2018/07/asianconnect88-white-243x28.png" style="padding-bottom: 8px;">
							</span>
								</div>
								<!--header-->
								<div style="padding:25px">
									<div style="font-size:14px;line-height:18px">
										<!--Content-->
										<h3 style='color:#DA0000;'>Starting betting with Asianconnect!</h3>
										<br>
										<p>Hi <b>{{ fullName }}</b>,</p>
										<br>
										<p>We're thrilled to see you have successfully registered for an Asianconnect account. This is to verify that we have received all the information in your REGISTRATION.</p>
										<br>
										<p><i>Just one more step.</i></p>
										<br>
										<p>In order for us to activate your <i>{{ customerProducts }}</i> account/s you will have to <b>make an initial deposit</b>. To do this, simply log into your AMS account. Hover over to the left side corner of your Home Page, click Transactions and you will see the Deposit button.</p>
										<br>
										<p>Upon receipt of your initial deposit, we will send you the login credentials of your <i>{{ customerProducts }}</i> account/s within 24 hours.</p>
										<br>
										<p style='font-size:12px;'>*If you have further questions, please do not hesitate to email our Customer Support Team at support@asianconnect88.com, or chat us on Skype at asianconnect888. </p>
										<br>
										<p>We look forward to your first bet!</p>
										<br>
										<p>Thanks and enjoy.</p>
										<br>
										<p>Shiela,</p>
										<p>Asianconnect CS Manager</p>
										<!--Content-->
									</div>
								</div>
								<!--Footer-->
								<div style="padding:15px 25px;color:#6c6c67;border-top:2px solid #dddddd;line-height:18px">
									<table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
										<tbody>
										<tr>
											<td>
												<div style="font-size:10px;color:#6c6c67;text-align:left">
													<a href="{{ asianconnect_url }}terms/" style="color:#6c6c67;text-decoration:none" target="_blank">Terms & Condition</a>
													|
													<a href="{{ asianconnect_url }}privacy-policy-2/" style="color:#6c6c67;text-decoration:none" target="_blank">Privacy Policy</a>
												</div>
												<p style="color:#808080;font-size:10px;line-height:18px;margin:0">
													&copy; {{ 'now'|date('Y') }} <a href="{{ asianconnect_url }}" style="color:#6c6c67;text-decoration:none" target="_blank">Asianconnect88</a> | All Rights Reserved
												</p>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
								<!--Footer-->
								<div>
						</td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
		</tbody>
	</table>
</div>
