<div style="background-color:#ddd">
    <table width="100%">
        <tbody>
        <tr>
            <td>
                <table width="550px" align="center">
                    <tbody>
                    <tr>
                        <td>
                            <div style="border-radius:8px 8px 7px 7px;border:1px solid #dddddd;border-color:rgba(0,0,0,0.13);background-color:#fff">
                                <!--header-->
                                <div style="border-radius:7px 7px 0 0;font-size:24px;background-color:#DA0000;padding:17px 20px 13px;color:#fff;font-weight:bold">
    								<span style="font-size:18px;font:Helvetica Neue;color:#ffffff;display:inline-block;line-height:25pt;margin-right:1em">
    								<!--Logo here-->
    								<img src="{{ asset('img/logo/ac-logo.png') }}" style="width:100%">
    								</span>
                                </div>
                                <!--header-->
                                <div style="padding:25px">
                                    <div style="font-size:14px;line-height:18px">
                                        <!--Content-->
                                        <p><h3>Reset Password Request</h3></p>
                                        <p>Email: {{ email }}</p>
                                        <p>You are receiving this email because you requested a password reset for your account in <b>Asianconnect.</b></p><br>
                                        <p><a href="{{ originFrom ~ '?reset_password_code=' ~ resetPasswordCode }}" target="_blank" style="background-color:#DA0000; border-radius:5px; padding: 10px 20px; color:#ffffff; font-size:14px; font-weight:600; cursor:pointer; text-decoration:none;"> Reset Password </a></p>
                                        <p><i><small>Click here to reset your password!</small></i></p>
                                        <!--Content-->
                                    </div>
                                </div>
                                <!--Footer-->
                                <div style="padding:15px 25px;color:#6c6c67;border-top:2px solid #dddddd;line-height:18px">
                                    <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div style="font-size:10px;color:#6c6c67;text-align:left">
                                                    <a href="{{ asianconnect_url }}terms/" style="color:#6c6c67;text-decoration:none" target="_blank">Terms & Condition</a>
                                                    |
                                                    <a href="{{ asianconnect_url }}privacy-policy-2/" style="color:#6c6c67;text-decoration:none" target="_blank">Privacy Policy</a>
                                                </div>
                                                <p style="color:#808080;font-size:10px;line-height:18px;margin:0">
                                                    &copy; 2017 <a href="#" style="color:#6c6c67;text-decoration:none" target="_blank">Asianconnect88</a> | All Rights Reserved
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--Footer-->
                                <div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>