{% extends 'AppBundle:Layout:base.html.twig' %}

{% form_theme form "TransactionBundle:Form:Theme/process-setting.html.twig" %}

{% block title %}{{ "page.title.setting"|trans({},"TransactionBundle") }}{% endblock %}

{% block stylesheet_plugins %}
    {{ form_assetcss(form) }}
{% endblock %}

{% block javascript_plugins %}
    {{ form_assetjs(form) }}
{% endblock %}

{% block pageTitle %}{{ "page.setting"|trans({},"TransactionBundle") }}{% endblock %}

{% block breadcrumb %}
    <li>{{ "breadcrumb.setting"|trans({},"AppBundle") }}</li>
    <li class="active">
        {{ "breadcrumb.setting"|trans({},"TransactionBundle") }}
    </li>
{% endblock %}

{% block page %}
    {{ form_start(form) }}
    <div class="col-sm-12">
        <ul class="nav nav-tabs"> 
            <li class="active"> 
                {% if is_granted('ROLE_TRANSACTION_SETTING_PROCESS') %}
                <a href="#process" data-toggle="tab"> 
                    <span class="visible-xs"><i class="fa fa-sitemap"></i></span> 
                    <span class="hidden-xs">{{ "Process" | trans({}, "TransactionBundle") }}</span> 
                </a> 
                {% endif %}
            </li> 
            <li class=""> 
                <a href="#gateway" data-toggle="tab"> 
                    <span class="visible-xs"><i class="fa fa-credit-card"></i></span> 
                    <span class="hidden-xs">{{ "Payment Gateway" | trans({}, "TransactionBundle") }}</span> 
                </a> 
            </li>
            <li class=""> 
                <a href="#start" data-toggle="tab"> 
                    <span class="visible-xs"><i class="fa fa-credit-card"></i></span> 
                    <span class="hidden-xs">{{ "Transaction Start Status" | trans({}, "TransactionBundle") }}</span> 
                </a> 
            </li>
        </ul>
        
        <div class="tab-content bg-muted">
            
            <div class="tab-pane active" id="process">
                <div class="row">
                {{ form_widget(form.statuses) }}
                <div class="col-md-12 text-right">
                    <button class="btn-add-status btn btn-warning" type="button">Add Status</button>
                </div>
                </div>
            </div>
            
            <div class="tab-pane" id="gateway">
                <div class="card-box">
                    <div class="row">
                    {{ form_row(form.paymentGateway) }}
                    </div>
                </div>
            </div>
                    
            <div class="tab-pane" id="start">
                <div class="card-box">
                    <div class="row">
                        {{ form_row(form.transactionCustomerStart) }}
                        {{ form_row(form.transactionAdminStart) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-box text-right">
            {{ form_row(form.save) }}
            {{ form_row(form.cancel, {'attr': {'class': 'hidden'}}) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        $(document).on('click','.btn-remove-action', function() {
            $(this).parent().parent().remove();
        });

        var statusPrototype = "{{- form_row(form.statuses.vars.prototype)|e('js') -}}";
        
        {% set statuses = {} %}
        {% for ckey,children in form.statuses.children %}
            {% set status = {(children.vars.name) : (children.vars.data.label)} %}
            {% set statuses = statuses + status %}
        {% endfor %}
        var statuses = {{ statuses|json_encode()|raw }};
        
        function getStatusNewId() {
            return $('.t-status').last().data('id') + 1;
        }
        
        function getActionNewId(actionId) {
            if($('#' + actionId).find('.t-action').last().data('id') !== undefined)
                return $('#' + actionId).find('.t-action').last().data('id') + 1;
            return 0;
        }
        
        $(function() {
            $('.btn-add-status').click(function() {
                var newStatus = statusPrototype;
                newStatus = newStatus.replace(/{{ form.statuses.vars.prototype.vars.name }}/g,getStatusNewId());
                $('#{{ form.statuses.vars.id }}').append(newStatus);
            });
            $('#{{ form.statuses.vars.id }}').on('click','.btn-add-action', function(e) {
                var actionId = $(this).data('action');
                var prototype = $('#' + actionId).data('prototype');
                var newId = getActionNewId(actionId);
                prototype = prototype.replace(/{{ form.statuses.vars.prototype.children.actions.vars.prototype.vars.name }}/g, newId);
                var elem = $('#' + actionId).append(prototype);
                $(elem).find('select').last().html('');
                $.each(statuses, function(i,e) {
                    $(elem).find('select').last().append("<option value='" + i + "'>"+this+"</option>");
                });
                $(elem).find('.selectpicker').last().selectpicker();
                
            });
            $('#{{ form.statuses.vars.id }}').on('keyup','.t-status-label', function(e) {
                statuses[$(this).closest('.t-status').data('id')] = $(this).val();
                if($('.t-action').find('select').find('option[value='+$(this).closest('.t-status').data('id')+']').attr('value'))
                    $('.t-action').find('select').find('option[value='+$(this).closest('.t-status').data('id')+']').html($(this).val());
                else
                    $('.t-action').find('select').append("<option value='" + $(this).closest('.t-status').data('id') + "'>"+$(this).val()+"</option>");
                $('.t-action').find('.selectpicker').selectpicker('refresh');
            });
        });
    </script>
    {{ form_javascript(form) }}
{% endblock %}