 {{ form_start(form) }}
    <div class="card-box">
        <div class="row">
            {% if (form.vars.data and form.vars.data.code) %}
                {% block _paymentOption_code_widget %}
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="form-control">{{ form.vars.data.code }}</div>
                        </div>
                    </div>
                {% endblock _paymentOption_code_widget %}
            {% endif %}
            {{ form_row(form.name) }}
            {{ form_row(form.paymentMode) }}
            {{ form_row(form.sort) }}
            {{ form_row(form.isActive) }}
            {{ form_row(form.autoDecline) }}
            {{ form_row(form.fields) }}
            {{ form_row(form.image) }}
        </div>
    </div>

     <div class="card-box">
         <div class="row">
             <div class="col-md-12">
                 <button id="btnSave" type="submit" class="btn btn-success">Save</button>
             </div>
         </div>
     </div>
{{ form_end(form) }}
