{% extends 'AppBundle:Layout:base.html.twig' %}

{% block title %}{{ 'page.title.setting.maintenance'|trans({},'AppBundle') }}{% endblock %}

{% block stylesheet_plugins %}
    {{ form_assetcss(form) }}
{% endblock %}

{% block javascript_plugins %}
    {{ form_assetjs(form) }}
{% endblock %}

{% block pageTitle -%}{{ "settings.maintenance.label"|trans({},"AppBundle") }}{%- endblock pageTitle %}

{% block breadcrumb -%}
    <li>{{ "breadcrumb.setting"|trans({},"AppBundle") }}</li>
    <li class="active">{{ "settings.maintenance.label"|trans({},"AppBundle") }}</li>
{%- endblock %}

{% block page %}
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="li-tab active">
                <a href="#app" data-toggle="tab">
                    <span class="hidden-xs">App Maintenance</span>
                </a>
            </li>
            <li class="li-tab">
                <a href="#integration" data-toggle="tab">
                    <span class="hidden-xs">Integration Maintenance</span>
                </a>
            </li>
        </ul>
        <div class="tab-content bg-muted">
            <div class="tab-pane active" id="app">
                <div class="card-box">
                    <h4 class="m-b-20"><b>App Maintenance</b></h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="list-group m-b-0">
                                <a href="#" class="list-group-item"> 
                                    <div class="row">
                                        <label class="col-sm-3 control-label">Member Site</label>
                                        <div class="col-sm-6">
                                            <input attr-key="app_memberSite" class="switch" type="checkbox" data-plugin="switchery" data-color="#1AB394" data-secondary-color="#ED5565" />
                                        </div>
                                    </div>
                                </a> 
                                <a href="#" class="list-group-item"> 
                                    <div class="row">
                                        <label class="col-sm-3 control-label">Affiliate</label>
                                        <div class="col-sm-6">
                                            <input attr-key="app_affiliate" class="switch" type="checkbox" data-plugin="switchery" data-color="#1AB394" data-secondary-color="#ED5565" />
                                        </div>
                                    </div>
                                </a> 
                            </div>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="integration">
                <div class="card-box">
                    <h4 class="m-b-20"><b>Integration Maintenance</b></h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="list-group m-b-0">
                                <a href="#" class="list-group-item"> 
                                    <div class="row">
                                        <label class="col-sm-3 control-label">PIWIXchange</label>
                                        <div class="col-sm-6">
                                            <input attr-key="integration_piwixchange" class="switch" type="checkbox" data-plugin="switchery" data-color="#1AB394" data-secondary-color="#ED5565" />
                                        </div>
                                    </div>
                                </a> 
                                <a href="#" class="list-group-item"> 
                                    <div class="row">
                                        <label class="col-sm-3 control-label">Sports</label>
                                        <div class="col-sm-6">
                                            <input attr-key="integration_sports" class="switch" type="checkbox" data-plugin="switchery" data-color="#1AB394" data-secondary-color="#ED5565" />
                                        </div>
                                    </div>
                                </a> 
                                <a href="#" class="list-group-item">
                                    <div class="row">
                                        <label class="col-sm-3 control-label">Casino</label>
                                        <div class="col-sm-6">
                                            <input attr-key="integration_casino" class="switch" type="checkbox" data-plugin="switchery" data-color="#1AB394" data-secondary-color="#ED5565" />
                                        </div>
                                    </div>
                                </a> 
                            </div>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.switch').on('change', function() {
             var currentState = this.checked ? this.value : '';
             var activeMaintenance = $(this).attr('attr-key');
            
             console.log(currentState);
             console.log(activeMaintenance);

             //Ajax call to enable maintenance mode and publish websocket event to specific product or application
        });
    });
</script>
{% endblock %}