{%- if form is defined -%}
<div class="row p-20 void-transact">
    <div class="col-md-6">
        <dl class="dl-horizontal m-b-0">
            <dt>Transaction Date</dt>
            <dd>{{ form.vars.value.date.format('Y/m/d')|default('') }}</dd>
            {% if form.vars.value.gateway is not null %}
            <dt>Payment Gateway</dt>
            <dd>{{ form.vars.value.gateway.name|default('') }}</dd>
            {% endif %}
            <dt>Member</dt>
            <dd>{{ form.vars.value.customer.fname|default('') }} {{ form.vars.value.customer.lname|default('') }}</dd>
            <dt>Member Fee</dt>
            <dd>{{ form.vars.value.currency.code|default('') }} {{ form.vars.value.fees.customer_fee|default('') }}</dd>
            <dt>Amount Deposited</dt>
            <dd>{{ form.vars.value.currency.code|default('') }} {{ form.vars.value.amount|default('') }}</dd>
            {# TODO:implement this #}
            {#<dt>Acknowledged by</dt>#}
            {#<dd style="color:red">Tester</dd>#}
            {#<dt>Processed by</dt>#}
            {#<dd style="color:red">Tester</dd>#}
            {#<dt>Note</dt>#}
            {#<dd style="color:red">Testing only</dd>#}
        </dl>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal m-b-0">
            <dt>Company Fee</dt>
            <dd>{{ form.vars.value.currency.code|default('') }} {{ form.vars.value.fees.company_fee|default('') }}</dd>
            <dt>Member Amount Available</dt>
            <dd>{{ form.vars.value.currency.code|default('') }} {{ form.vars.value.customer.balance|default('') }}</dd>
        </dl>
    </div>
</div>

<div class="row p-20">
    <div class="col-md-12">
        <table class="table table table-hover m-0">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Product</th>
                    <th>Username</th>
                    <th>Currency</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for subtransaction in form.vars.value.subTransactions %}
                    <tr>
                        <th scope="row">{{ subtransaction.getTypeText() }}</th>
                        <td>{{ subtransaction.customerProduct.product.name }}</td>
                        <td>({{ subtransaction.customerProduct.username }})</td>
                        <td>{{ form.vars.value.currency.code|default('') }}</td>
                        <td>{{ subtransaction.amount }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-12 m-t-20">
        <div class="alert alert-info">
            <strong>NOTE:</strong> Add a reason to <span class="void-or-decline">void</span> this transaction
        </div>
        <div class="form-group">
            <label class="control-label" for="reasonForVoid">Reason for <span class="void-or-decline">void</span></label>

            {% if form.vars.data.isTransfer or form.vars.data.isP2pTransfer %}
                <textarea id="reasonForVoid" class="form-control"></textarea>
            {% elseif form.vars.data.isBonus %}
                <input type="text" id="reasonForVoid" class="form-control"></input>   
            {% else %}
                <template id="voidReason">
                    <select id="reasonForVoid" class="form-control">
                        <option value="" selected disabled hidden>Choose reason</option>
                        <option value="Wrong Gateway">Wrong Gateway</option>
                        <option value="Wrong Date">Wrong Date</option>
                        <option value="Wrong Amount">Wrong Amount</option>
                        <option value="Wrong company or member Fee">Wrong company or member Fee</option>
                        <option value="Wrong Account">Wrong Account</option>
                        <option value="Test">Test</option>
                    </select>
                </template>

                <template id="declineReason">
                    <select id="reasonForVoid" class="form-control">
                        <option value="" selected disabled>Choose reason</option>
                        {% if form.vars.data.isDeposit %}
                            <option value="No Deposit">No Deposit</option>
                        {% else %}
                            <option value="Insufficient Balance">Insufficient Balance</option>
                        {% endif %}
                        <option value="Duplicate Request">Duplicate Request</option>
                        <option value="Test">Test</option>
                    </select>
                </template>

                <template id="confirmReason">
                    <select id="reasonForVoid" class="form-control">
                        <option value="" selected disabled hidden>Choose reason</option>
                        <option value="Confirmed in blockchain">Confirmed in blockchain</option>
                        <option value="Test">Test</option>
                    </select>
                </template>
                
                <div id="reasonContainer">
                </div>
            {% endif %}

            <span class="help-block">
                <ul class="list-unstyled"></ul>
            </span>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger waves-effect btn-void-transaction">Void</button>
    <button type="button" class="btn btn-inverse waves-effect waves-light" data-dismiss="modal">Cancel</button>
</div>
{% endif %}