{% block status_row %}
    <div class="col-md-12 t-status" id="{{ form.vars.id }}" data-id="{{ form.vars.name }}">
        <div class="portlet">
            <div class="portlet-heading bg-custom">
                <h3 class="portlet-title">
                    {{ "settings.transaction.fields.status.label"|trans({}, "TransactionBundle") }}
                    {% if form.vars.data.start|default(false) %}
                        | <span class="label label-primary">START</span>
                    {% elseif form.vars.data.end|default(false) %}
                        | <span class="label label-primary">END</span>
                    {% elseif form.vars.data.decline|default(false) %}
                        | <span class="label label-danger">Decline</span>
                    {% endif %}
                </h3>
                <div class="portlet-widgets">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet-accordion-{{ form.vars.id}}"><i class="ion-minus-round"></i></a>
                    {% if not form.vars.data.end|default(false) and not form.vars.data.decline|default(false) and not form.vars.data.start|default(false) %}
                    <span class="divider"></span>
                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="portlet-accordion-{{ form.vars.id}}" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            {{ form_row(form.label) }}
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            {{ form_row(form.amsLabel) }}
                        </div>
                    </div>
                    <div class="row">
                        {{ form_row(form.editBonusAmount) }}
                        {{ form_row(form.editGateway) }}
                        {{ form_row(form.editFees) }}
                        {{ form_row(form.editAmount) }}
                        {{ form_row(form.editDate) }}
                        {{ form_row(form.editRemark) }}
                    </div>
                    <div class="clearfix"></div>
                    {% if not form.vars.data.end|default(false) and not form.vars.data.decline|default(false) -%}  
                        <hr/>
                        <h4 class="m-t-0 header-title">{{ form.actions.vars.label|trans({}, form.actions.vars.translation_domain) }}
                            | <button class="btn btn-icon btn-success btn-xs btn-add-action" type="button" data-action="{{ form.actions.vars.id }}"><i class="fa fa-plus" title="Add Product"></i></button></h4>
                        <div class="row">
                            <div class="col-xs-3 col-md-4 col-md-4">
                                <b>{{ form.actions.vars.prototype.label.vars.label|trans({},form.actions.vars.prototype.label.vars.translation_domain) }}</b>
                            </div>
                            <div class="col-xs-4 col-md-3 col-md-3">
                                <b>{{ form.actions.vars.prototype.status.vars.label|trans({},form.actions.vars.prototype.status.vars.translation_domain) }}</b>
                            </div>
                            <div class="col-xs-3 col-md-3 col-md-3">
                                <b>{{ form.actions.vars.prototype.class.vars.label|trans({},form.actions.vars.prototype.class.vars.translation_domain) }}</b>
                            </div>
                        </div>
                        {{ form_widget(form.actions) }}
                    {%- endif %}
                </div>
            </div>
        </div> 
    </div>
{% endblock %}
    
{% block _TransactionSetting_statuses_entry_editBonusAmount_row %}
    {{ block("switch") }}
{% endblock %}

{% block _TransactionSetting_statuses_entry_editGateway_row %}
    {{ block("switch") }}
{% endblock %}

{% block _TransactionSetting_statuses_entry_editFees_row %}
    {{ block("switch") }}
{% endblock %}

{% block _TransactionSetting_statuses_entry_editAmount_row %}
    {{ block("switch") }}
{% endblock %}

{% block _TransactionSetting_statuses_entry_editDate_row %}
    {{ block("switch") }}
{% endblock %}

{% block switch %}
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group">
            {{ form_label(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock form_row %}
    
{% block action_row -%}
    <div class="row">
        <div class="t-action" id='{{ form.vars.id }}' data-id='{{ form.vars.name }}'>
            <div class='form-group'>
                <div class="col-xs-3 col-md-4 col-md-4">
                    {{ form_widget(form.label) }}
                </div>
                <div class="col-xs-4 col-md-3 col-md-3">
                    {{ form_widget(form.status) }}
                </div>
                <div class="col-xs-3 col-md-3 col-md-3">
                    {{ form_widget(form.class) }}
                </div>
                <div class="col-xs-2 col-md-2 col-md-2">
                    <button type="button" class="btn btn-danger btn-remove-action"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{%- endblock %}

{% block _TransactionSetting_statuses_widget %}
    <div id="{{ form.vars.id }}" class="row">
        {% for children in form.children %}
            {{ form_row(children) }}
        {% endfor %}
    </div>
{% endblock %}