{% extends 'AppBundle:Layout:base.html.twig' %}

{% block title %}{{ "page.title.create"|trans({},"NoticeBundle") }}{% endblock %}

{% block stylesheet_plugins %}
    {{ form_assetcss(form) }}
{% endblock %}

{% block javascript_plugins %}
    {{ form_assetjs(form) }}
{% endblock %}

{% block content %}
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">{{ "page.Create Notice"|trans({},"NoticeBundle") }}</h4>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path("app.dashboard_page") }}">{{ "menus.Dashboard"|trans({},"AppBundle") }}</a>
                </li>
                <li>
                    <a href="{{ path("notice.list_page") }}">{{ "menus.Notice"|trans({},"NoticeBundle") }}</a>
                </li>
                <li>
                    <a href="{{ path("notice.create_page") }}">{{ "menus.Create"|trans({},"AppBundle") }}</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                {% include "NoticeBundle:Form:notice-form.html.twig" %}
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ form_javascript(form) }}
    <script type="text/javascript">
        $(function() {
            $('#{{ form.startAt.vars.id }}').on('dp.change', function(e) {
                $('#{{ form.endAt.vars.id }}').data('DateTimePicker').minDate(e.date);
            });
            $('#{{ form.endAt.vars.id }}').on('dp.change', function(e) {
                $('#{{ form.startAt.vars.id }}').data('DateTimePicker').maxDate(e.date);
            });
        })
    </script>
{% endblock %}