{% extends 'AppBundle:Layout:base.html.twig' %}

{% form_theme form _self %}

{% block title %}{{ "page.title.update"|trans({'%title%':notice.title},"NoticeBundle") }}{% endblock %}

{% block stylesheet_plugins %}
    {{ form_assetcss(form) }}
{% endblock %}

{% block javascript_plugins %}
    {{ form_assetjs(form) }}
{% endblock %}

{% block content %}
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">{{ "page.Update Notice"|trans({},"NoticeBundle") }}</h4>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path("app.dashboard_page") }}">{{ "menus.Dashboard"|trans({},"AppBundle") }}</a>
                </li>
                <li>
                    <a href="{{ path("notice.list_page") }}">{{ "menus.Notice"|trans({},"NoticeBundle") }}</a>
                </li>
                <li>
                    <a href="{{ path("notice.update_page",{'id':notice.id}) }}">{{ "menus.Update"|trans({},"AppBundle") }}</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                {% include "NoticeBundle:Form:notice-form.html.twig" %}
            </div>
        </div>
    </div>
            
    <div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content p-0 b-0">
                <div class="panel panel-color panel-danger">
                    <div class="panel-heading"> 
                        <button type="button" class="close m-t-5" data-dismiss="modal" aria-hidden="true">×</button> 
                        <h3 class="panel-title">{{ 'modal.delete.title'|trans({},'NoticeBundle') }}</h3> 
                    </div> 
                    <div class="panel-body"> 
                        <p>{{ 'Are you sure you want to delete "%title%"'|trans({'%title%':notice.title},"NoticeBundle") }}</p>
                    </div>
                    <div class="panel-footer text-right">
                        <button type="button" id="btn-delete" class="btn btn-sm btn-danger waves-effect waves-light">Delete</button>
                        <button type="button" class="btn btn-sm btn-default waves-effect" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ form_javascript(form) }}
    <script type="text/javascript">
        $(function() {
            $('#{{ form.startAt.vars.id }}').on('dp.change', function(e) {
                $('#{{ form.endAt.vars.id }}').data('DateTimePicker').minDate(moment(e.date));
            });
            $('#{{ form.endAt.vars.id }}').on('dp.change', function(e) {
                $('#{{ form.startAt.vars.id }}').data('DateTimePicker').maxDate(moment(e.date));
            });
            $('#btn-delete').click(function(e) {
                window.location = '{{ path('notice.delete',{'id':notice.id}) }}';
            });
        });
    </script>
{% endblock %}