{% extends 'AppBundle:Layout:base.html.twig' %}

{% block title %}{{ "page.title.list"|trans({},"GatewayTransactionBundle") }}{% endblock %}

{% block stylesheets %}
    <!-- DataTables -->
    <link href="{{ asset('assets/plugins/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/responsive.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/dataTables.colVis.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>

    <link href="{{ asset("assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css") }}" rel="stylesheet"/>
	<link href="{{ asset("assets/plugins/bootstrap-daterangepicker/daterangepicker.css") }}" rel="stylesheet"/>

	<link href="{{ asset("assets/plugins/custombox/css/custombox.css") }}" rel="stylesheet">
{% endblock %}

{% block pageTitle -%}{{ "menus.GatewayTransaction"|trans({},"GatewayTransactionBundle") }}{%- endblock pageTitle %}

{% block breadcrumb -%}
    <li>{{ "breadcrumb.transaction"|trans({},"AppBundle") }}</li>
    <li class="active">{{ "breadcrumb.list"|trans({},"GatewayTransactionBundle") }}</li>
{%- endblock %}

{% block pageHeaderExtra %}
<div class="pull-right">
    <div class="btn-group pull-right">
        {% if is_granted('ROLE_TRANSACTION_VIEW') %}
        <button type="button" class="btn btn-primary dropdown-toggle waves-effect waves-light pull-right m-b-5" data-toggle="dropdown" aria-expanded="false">{{ "quickLinks.transactBtn"|trans({},"GatewayTransactionBundle") }} <span class="ti-angle-down m-l-10"></span></button>
        {% endif %}
        <ul class="dropdown-menu pull-right" role="menu">
            <li><a href="{{ path("gateway_transaction.create_page", {'type': 'deposit'}) }}">{{ "types.Deposit"|trans({}, 'GatewayTransactionBundle') }}</a></li>
            <li><a href="{{ path("gateway_transaction.create_page", {'type': 'withdraw'}) }}">{{ "types.Withdraw"|trans({}, 'GatewayTransactionBundle') }}</a></li>
            <li><a href="{{ path("gateway_transaction.create_page", {'type': 'transfer'}) }}">{{ "types.Transfer"|trans({}, 'GatewayTransactionBundle') }}</a></li>
        </ul>
    </div>
    <ul class="list-inline quicklinks font-13 font-normal text-right">
        <li>{{ "quickLinks.name"|trans({},"GatewayTransactionBundle") }}:</li>
        {% if is_granted('ROLE_GATEWAY_TRANSACTION_VIEW') %}
        <li><a href="{{ path("gateway_transaction.list_page") }}">{{ "quickLinks.gatewayTrans"|trans({},"GatewayTransactionBundle") }}</a></li>|
        {% endif %}
        {% if is_granted('ROLE_GATEWAY_VIEW') %}
        <li><a href="{{ path("gateway.list_page") }}">{{ "quickLinks.gateway"|trans({},"GatewayTransactionBundle") }}</a></li>|
        {% endif %}
        {% if is_granted('ROLE_DWL_VIEW') %}
        <li><a href="{{ path("dwl.list_page") }}">{{ "quickLinks.dwl"|trans({},"GatewayTransactionBundle") }}</a></li>
        {% endif %}
    </ul>
</div>
{% endblock pageHeaderExtra %}

{% block page %}
        <div class="col-sm-12">
            <div class="card-box">
                <div id="gatewayTransaction">
                    <table id="datatable-responsive"
                        class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
                        width="100%">
                        <thead>
                            <tr>
                                <th data-priority="1">{{ "fields.id"|trans({}, "GatewayTransactionBundle") }}</th>
                                <th>{{ "fields.date"|trans({}, "GatewayTransactionBundle") }}</th>
                                <th>{{ "fields.gateway"|trans({}, "GatewayTransactionBundle") }}</th>
                                <th>{{ "fields.currency"|trans({}, "GatewayTransactionBundle") }}</th>
                                <th>{{ "fields.type"|trans({}, "GatewayTransactionBundle") }}</th>
                                <th>{{ "fields.amount"|trans({}, "GatewayTransactionBundle") }}</th>
                                <th>{{ "fields.updatedAt"|trans({}, "GatewayTransactionBundle") }}</th>
                                <th>{{ "fields.status"|trans({}, "GatewayTransactionBundle") }}</th>
                                <th>{{ "fields.notes"|trans({}, "GatewayTransactionBundle") }}</th>
                                <th data-priority="2">{{ "fields.action"|trans({}, "GatewayTransactionBundle") }}</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/ZTable.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.bootstrap.js') }}"></script>

    <script src="{{ asset('assets/plugins/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/responsive.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.colVis.js') }}"></script>

    <script src="{{ asset("assets/plugins/moment/moment.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/plugins/bootstrap-daterangepicker/daterangepicker.js") }}" type="text/javascript"></script>

    <script src="{{ asset("assets/plugins/custombox/js/custombox.min.js") }}"></script>
    <script src="{{ asset("assets/plugins/custombox/js/legacy.min.js") }}"></script>
    
    <script type="text/javascript" >
        var userPreferences = {{ app.user.getPreference('ui.gatewayTransaction.list.column.visibility')|json_encode()|raw }};

        $(function(){
            var listTable = new ZTable('#gatewayTransaction',  {
                'ajax': {
                    'url': '{{ path("gateway_transaction.list_search") }}',
                    'data': function (data, dataTable) {
                        return {
                            'search': data.filters.search,
                            'length': data.length,
                            'start': dataTable.start,
                            'datatable': true,
                            'route': true,
                            'draw': dataTable.draw,
                            'order': data.order,
                            'filter' : data.filters
                        };
                    },
                    'dataFilter': function (str) {
                        return str;
                    }
                },
                'attrs': {
                    'colvisButton' : {
                        'data-style': 'btn-primary'
                    } 
                },
                'colvis': {
                    'hidden': function () {
                        var hidden = [];
                        for (var i in userPreferences) {
                            if (userPreferences[i] == 'false') {
                                hidden.push(eval(i));
                            }
                        }
                        
                        return hidden;
                    },
                    'exclude': ['gatewayid', 'transactionDate' , 'action', 'amount']
                },
                'featuresDom': "<'form-inline'"
                    + "<'form-group m-r-10 ft-date'<'xs-date'ft>>"
                    + "fThcopyudb"
                    + "<'form-group'b>>",
                'features': {
                    'from': {
                        'dom': "<'form-group form-group-sm m-r-10'<'input-group'i<^span 'input-group-addon bg-white text-default'<!'fa fa-calendar'!>>>>",
                        'type': 'date',
                        'symbol': 'f',
                        'applyOnChanged': false,
                        'attrs': {
                            'placeholder': 'From'
                        }
                    },
                    'to': {
                        'dom': "<'form-group form-group-sm m-r-10'<'input-group'i<^span 'input-group-addon bg-white text-default'<!'fa fa-calendar'!>>>>",
                        'type': 'date',
                        'symbol': 'T',
                        'applyOnChanged': false,
                        'attrs': {
                            'placeholder': 'To'
                        }
                    },
                    'currency': {
                        'dom': "<'form-group form-group-sm m-r-10 xs-filter'i>",
                        'type': 'select',
                        'label': 'Currency',
                        'symbol': 'c',
                        'class': 'selectpicker',
                        'waitByTable': true,
                        'attrs': {
                            'data-style': 'btn-white btn-sm',
                            'multiple': 'multiple',
                            'data-none-selected-text': 'Select Currency',
                            'data-width': 'auto',
                            'data-size': 5
                        },
                        'resetValue': function (feature) {
                            $(feature.input).selectpicker('val', feature.feature.value);
                        },
                        'initialized': function (feature) {
                            $.ajax({
                                'url': '{{ path('currency.list_search') }}',
                                'type': 'POST',
                                'success': function (data) {
                                    var options = {};
                                    for (var i in data) {
                                        var option = $("<option value='" + data[i].id + "'>" + data[i].name + "</option>");
                                        if (feature.feature.value.indexOf(data[i].id + "") !== -1) {
                                            option.attr('selected', 'selected');
                                        }
                                        $(feature.input).append(option);
                                    }
                                    $(feature.input).selectpicker('refresh');
                                    feature.setToDone();
                                    feature.ztable.reloadTable();
                                }
                            });
                            
                            $(feature.input).change(function () {
                                var currencies = feature.getValue();
                                var gatewayElement = feature.ztable.getFeature('gateway');
                                if (currencies != null) {
                                    $(gatewayElement.input).closest('.form-group').removeClass('hidden');
                                } else {
                                    $(gatewayElement.input).closest('.form-group').addClass('hidden');
                                }
                                $.ajax({
                                    'url': '{{ path('gateway.list_search') }}',
                                    'data' : {
                                        'select2' : true,
                                        'currencies' : currencies
                                    },
                                    'success': function (data) {
                                        $(gatewayElement.input).html('');
                                        for (var i in data.items) {
                                            var option = $("<option value='" + data.items[i].id + "'>" + data.items[i].text + "</option>");
                                            if (feature.feature.value.indexOf(data.items[i].id + "") !== -1) {
                                                option.attr('selected', 'selected');
                                            }
                                            $(gatewayElement.input).append(option);
                                        }
                                        $(gatewayElement.input).selectpicker('refresh');
                                    }
                                });
                            });
                        },
                        'value': '{{ app.request.get("currency", [])|json_encode|raw }}',
                        'getValue': function (feature) {
                            return $(feature.input).val();
                        },
                    },
                    'gateway': {
                        'dom': "<'form-group form-group-sm m-r-10 xs-filter hidden'i>",
                        'type': 'select',
                        'label': 'Gateway',
                        'symbol': 'o',
                        'class': 'selectpicker',
                        'attrs': {
                            'data-style': 'btn-white btn-sm',
                            'title': 'Select Gateway',
                            'multiple': 'multiple',
                            'data-width': 'auto',
                            'data-size': 5
                        },
                        'applyOnChanged': false,
                        'waitByTable': true,
                        'resetValue': function (feature) {
                            $(feature.input).selectpicker('val', feature.feature.value);
                        },
                        'initialized': function (feature) {
                            $.ajax({
                                'url': '{{ path('gateway.list_search') }}',
                                'data' : {
                                    'select2' : true
                                },
                                'success': function (data) {
                                    for (var i in data.items) {
                                        var option = $("<option value='" + data.items[i].id + "'>" + data.items[i].text + "</option>");
                                        if (feature.feature.value.indexOf(data.items[i].id + "") !== -1) {
                                            option.attr('selected', 'selected');
                                        }
                                        $(feature.input).append(option);
                                    }
                                    $(feature.input).selectpicker('refresh');
                                    feature.setToDone();
                                    feature.ztable.reloadTable();
                                }
                            });
                        },
                        'value': '{{ app.request.get("gateway", [])|json_encode|raw }}',
                    },
                    'paymentOption': {
                        'dom': "<'form-group form-group-sm m-r-10 xs-filter'i>",
                        'type': 'select',
                        'label': 'P.O',
                        'symbol': 'p',
                        'class': 'selectpicker',
                        'applyOnChanged': false,
                        'attrs': {
                            'data-style': 'btn-white btn-sm',
                            'multiple': 'multiple',
                            'title': 'Select Payment Options',
                            'data-selected-text-format': 'count > 3',
                            'data-width': 'auto',
                            'data-size': 5
                        },
                        'waitByTable': true,
                        'resetValue': function (feature) {
                            $(feature.input).selectpicker('val', feature.feature.value);
                        },
                        'initialized': function (feature) {
                            $.ajax({
                                'url': '{{ path('paymentoption.search') }}',
                                'success': function (data) {
                                    var options = {};
                                    for (var i in data.data) {
                                        var option = $("<option value='" + data.data[i].code + "'>" + data.data[i].name + "</option>");
                                        if (feature.feature.value.indexOf(data.data[i].code + "") !== -1) {
                                            option.attr('selected', 'selected');
                                        }
                                        $(feature.input).append(option);
                                    }
                                    $(feature.input).selectpicker('refresh');
                                    feature.setToDone();
                                    feature.ztable.reloadTable();
                                }
                            });
                        },
                        'value': '{{ app.request.get("paymentOption", [])|json_encode|raw }}',
                    },
                    'type': {
                        'dom': "<'form-group form-group-sm m-r-10 xs-filter'i>",
                        'type': 'select',
                        'label': 'Type',
                        'symbol': 'y',
                        'class': 'selectpicker',
                        'attrs': {
                            'data-style': 'btn-white btn-sm',
                            'multiple': 'multiple',
                            'data-none-selected-text': 'Select Type',
                            'data-width': 'auto'
                        },
                        'applyOnChanged': false,
                        'resetValue': function (feature) {
                            $(feature.input).selectpicker('val', feature.feature.value);
                        },
                        'getValue': function (feature) {
                            var value = $(feature.input).val();
                            if (value === null) {
                                value = [];
                            }
                            var types = [];
                            if (value.length > 0 && value.indexOf('deposit') !== Global.variables.indexNotFound) {
                                types.push(Global.gateway.type.deposit.value);
                            }
                            if (value.length > 0 && value.indexOf('withdraw') !== Global.variables.indexNotFound) {
                                types.push(Global.gateway.type.withdraw.value);
                            }
                            if (value.length > 0 && value.indexOf('transfer') !== Global.variables.indexNotFound) {
                                types.push(Global.gateway.type.transfer.value);
                            }

                            return types;
                        },
                        'rendered': function (feature) {
                            $(feature.input).val(feature.feature.value);
                        },
                        'choices': {
                            'deposit': 'Deposit',
                            'withdraw': 'Withdraw',
                            'transfer': 'Transfer'
                        },
                        'value': '{{ app.request.get("type", [])|json_encode|raw }}'
                    },
                    'status': {
                        'dom': "<'form-group form-group-sm m-r-10 xs-filter'i>",
                        'type': 'select',
                        'label': 'status',
                        'symbol': 'u',
                        'class': 'selectpicker',
                        'attrs': {
                            'data-style': 'btn-white btn-sm',
                            'multiple': 'multiple',
                            'data-none-selected-text': 'Select Status',
                            'data-width': 'auto'
                        },
                        'applyOnChanged': false,
                        'resetValue': function (feature) {
                            $(feature.input).selectpicker('val', feature.feature.value);
                        },
                        'getValue': function (feature) {
                            var value = $(feature.input).val();
                            if (value === null) {
                                value = [];
                            }
                            var statuses = [];
                            if (value.length > 0 && value.indexOf('pending') !== Global.variables.indexNotFound) {
                                statuses.push(Global.gateway.transaction_status.pending.value);
                            }
                            if (value.length > 0 && value.indexOf('approved') !== Global.variables.indexNotFound) {
                                statuses.push(Global.gateway.transaction_status.approved.value);
                            }
                            if (value.length > 0 && value.indexOf('voided') !== Global.variables.indexNotFound) {
                                statuses.push(Global.gateway.transaction_status.voided.value);
                            }

                            return statuses;
                        },
                        'rendered': function (feature) {
                            $(feature.input).val(feature.feature.value);
                        },
                        'choices': {
                            'pending': 'Pending',
                            'approved': 'Approved',
                            'voided' : 'Voided'
                        },
                        'value': '{{ app.request.get("type", [])|json_encode|raw }}'
                    },
                    'applyFilter': {
                        'type': 'button',
                        'label': 'Apply Filter',
                        'symbol': 'd',
                        'attrs': {
                            'type': 'button',
                            'class': 'btn btn-sm btn-default'
                        },
                        'initialized': function (feature) {
                            $(feature.input).click(function () {
                                feature.ztable.forceReloadTable();
                            });
                        }
                    },
                    'resetFilter': {
                        'type': 'button',
                        'label': 'Reset Filter',
                        'symbol': 'b',
                        'attrs': {
                            'type': 'button',
                            'class': 'btn btn-sm btn-inverse'
                        },
                        'initialized': function (feature) {
                            $(feature.input).click(function () {
                                $("select.ztable_length_input").val('10').change();
                                var gatewayElement = feature.ztable.getFeature('gateway');
                                $(gatewayElement.input).closest('.form-group').addClass('hidden');
                                feature.ztable.reset();
                            });
                        }
                    }
                },
                'columns': [
                    {
                        'data': 'number',
                        'defaultContent': '',
                        'name': 'gt.number',
                        'render': function (data, type, full) {
                            return "<a href='" + full['@link'] + "'>" + data + "</a>";
                        }
                    },
                    {
                        'data': 'date',
                        'defaultContent': '',
                        'name': 'gt.date',
                        'render': function (data, type, full) {
                            return moment(data).format('MMM D, YYYY h:mm A');
                        }
                    },
                    { 
                        'data': 'gateway.name', 
                        'name': 'g.name',
                        'defaultContent': '' 
                    },
                    { 
                        'data': 'currency.code', 
                        'defaultContent': '',
                        'name' : 'cur.name'
                    },
                    {
                        'data': 'type_text',
                        'defaultContent': '',
                        'name': 'gt.type',
                        'render': function(data) {
                            var typeText = {
                                'deposit': "{{ "types.Deposit"|trans({}, "GatewayTransactionBundle") }}",
                                'withdraw': "{{ "types.Withdraw"|trans({}, "GatewayTransactionBundle") }}",
                                'transfer': "{{ "types.Transfer"|trans({}, "GatewayTransactionBundle") }}"
                            };

                            return typeText[data];
                        }
                    },
                    {
                        'data': 'amount',
                        'defaultContent': '',
                        'name': 'gt.amount',
                        'render': function (data) {
                            return (new Decimal(data)).toFixed(2);
                        }
                    },
                    {
                        'data': 'updated_at',
                        'defaultContent': '',
                        'name': 'gt.updatedAt',
                        'render': function (data, type, full) {
                            return data ? moment(data).format('MMM D, YYYY h:mm A') : '';
                        }
                    },
                    {
                        'data': 'status_text',
                        'defaultContent': '',
                        'name' : 'gt.status',
                        'render': function(data, text, full) {
                            var statusText = {
                                'Approved': "{{ "status.Approved"|trans({}, "GatewayTransactionBundle") }}",
                                'Pending': "{{ "status.Pending"|trans({}, "GatewayTransactionBundle") }}",
                                'Void': "{{ "status.Void"|trans({}, "GatewayTransactionBundle") }}"
                            };

                            return statusText[data];
                        }
                    },
                    { 'data': 'details.notes', 'defaultContent': '' },
                    {
                        'data': 'action',
                        'name': 'action',
                        'defaultContent': '',
                        'render': function(data, text, full) {
                            return "<a class='btn btn-primary waves-effect waves-light btn-xs' href='" + full['@link'] + "'>View</a>";
                        }
                    },
                ],
                'ordering': true,
                'columnDefs': [
                    { "orderable": false, "targets": [8,9] }
                ],
            });
            
            $('#gatewayTransaction').on('ztable.change.column.visible', function (e, colvis, ztable) {
                saveUserPreferences({'ui.gatewayTransaction.list.column.visibility': ztable.getColumnVisibility()});
            });
        });
    </script>
{% endblock %}