{% extends 'AppBundle:Layout:base-v2.html.twig' %}

{% widget_template widgets.setting 'CommissionBundle:Setting:setting-form.html.twig' %}
{% form_theme widgets.setting.getFormView() 'CommissionBundle:Setting:setting-form.html.twig' %}

{% block title %}{{ "page.title.create"|trans({},"CommissionBundle") }}{% endblock %}

{% block stylesheet_plugins %}
    {% for widget in widgets %}
        {{ widget_render_block(widget, 'assetcss') }}
    {% endfor %}
{% endblock stylesheet_plugins %}

{% block stylesheets %}
    {% for widget in widgets %}
        {{ widget_render_block(widget, 'stylesheet') }}
    {% endfor %}
{% endblock %}

{% block pageTitle -%}{{ "Revenue Share Setting"|trans({},"CommissionBundle") }}{%- endblock %}

{% block pageHeaderExtra %}
{% endblock pageHeaderExtra %}

{% block breadcrumb -%}
    <li>{{ "Revenue Share"|trans({},"CommissionBundle") }}</li>
    <li class="active">{{ "Setting"|trans({},"CommissionBundle") }}</li>
{%- endblock %}

{% block page %}
    <div class="col-sm-12">
        <ul class="nav nav-tabs"> 
            <li class="active"> 
                <a href="#setting" data-toggle="tab">
                    <span class="hidden-xs">{{ "Setting" | trans({}, "CommissionBundle") }}</span> 
                </a> 
            </li> 
            <li class=""> 
                <a href="#periods" data-toggle="tab"> 
                    <span class="hidden-xs">{{ "Periods" | trans({}, "CommissionBundle") }}</span> 
                </a> 
            </li>
        </ul>
        <div class="tab-content bg-muted">
            <div class="tab-pane active" id="setting">
                {{ widget_render(widgets.setting) }}
            </div>
            <div class="tab-pane" id="periods">
                <div class="card-box">
                    {{ widget_render(widgets.periods) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_plugins %}
    {% for widget in widgets %}
        {{ widget_render_block(widget, 'assetjs') }}
    {% endfor %}
{% endblock javascript_plugins %}

{% block javascripts %}
    <script>

        $(document).ready(function (){
            $(document).on('click','.compute-revenueshare-button', function () {
                var commissionPeriodId = $(this).attr('data-period-id');
                var iconPlaceholder = $(this).parent().find('.icon-holder');
                iconPlaceholder.addClass('fa fa-refresh fa-spin');
                $('.compute-revenueshare-button').not(this).attr('disabled','disabled');
                $('.payout-revenueshare-button').not(this).attr('disabled','disabled');
                $('.dwl-revenueshare-button').not(this).attr('disabled','disabled');
                recomputeAndPayoutRevenueShareCommissionPeriod(commissionPeriodId, 'compute', function () {
                    iconPlaceholder.removeClass('fa fa-refresh fa-spin');
                    //$('.compute-revenueshare-button').not(this).removeAttr('disabled');
                    notification('Computation of Revenue Share is now in progress...');
                });
            });

            $(document).on('click','.payout-revenueshare-button', function () {
                var commissionPeriodId = $(this).attr('data-period-id');
                var iconPlaceholder = $(this).parent().find('.icon-holder');
                iconPlaceholder.addClass('fa fa-refresh fa-spin');
                $('.payout-revenueshare-button').not(this).attr('disabled','disabled');
                $('.compute-revenueshare-button').not(this).attr('disabled','disabled');
                $('.dwl-revenueshare-button').not(this).attr('disabled','disabled');
                recomputeAndPayoutRevenueShareCommissionPeriod(commissionPeriodId, 'pay', function () {
                    iconPlaceholder.removeClass('fa fa-refresh fa-spin');
                    //$('.payout-revenueshare-button').not(this).removeAttr('disabled');
                    notification('Computation of Revenue Share is now in progress...');
                });
            });

            $(document).on('click','.dwl-revenueshare-button', function () {
                var commissionPeriodId = $(this).attr('data-period-id');
                var iconPlaceholder = $(this).parent().find('.icon-holder');
                iconPlaceholder.addClass('fa fa-refresh fa-spin');
                $('.payout-revenueshare-button').not(this).attr('disabled','disabled');
                $('.compute-revenueshare-button').not(this).attr('disabled','disabled');
                $('.dwl-revenueshare-button').not(this).attr('disabled','disabled');
                recomputeAndPayoutRevenueShareCommissionPeriod(commissionPeriodId, 'winloss', function () {
                    iconPlaceholder.removeClass('fa fa-refresh fa-spin');
                    //$('.payout-revenueshare-button').not(this).removeAttr('disabled');
                    notification('Retrieving of daily winloss is now in progress...');
                });
            });
        });

        function getComputeButton(data, type, row)
        {
            var computeButton = '<button class="btn btn-sm btn-default dwl-revenueshare-button" data-period-id="'+ row.commissionPeriod.id +'">DWL</button>&nbsp;&nbsp;&nbsp;';
            switch (row.commissionPeriod.revenue_share_status) {
                case Global.commmission.status.successfulComputation:
                    computeButton += '<button class="btn btn-sm btn-default compute-revenueshare-button" data-period-id="'+ row.commissionPeriod.id +'">Compute</button>&nbsp;&nbsp;&nbsp;';
                    computeButton += '<button class="btn btn-sm btn-default payout-revenueshare-button" data-period-id="'+ row.commissionPeriod.id +'">Payout</button>';
                    break;
                case Global.commmission.status.notYetComputed:
                    computeButton += '<button class="btn btn-sm btn-default compute-revenueshare-button" data-period-id="'+ row.commissionPeriod.id +'">Compute</button>&nbsp;&nbsp;&nbsp;';
                    computeButton += '<button class="btn btn-sm btn-default payout-revenueshare-button" data-period-id="'+ row.commissionPeriod.id +'" disabled>Payout</button>';
                    break;
                case Global.commmission.status.failedComputation:
                    computeButton += '<button class="btn btn-sm btn-default compute-revenueshare-button" data-period-id="'+ row.commissionPeriod.id +'">Compute</button>&nbsp;&nbsp;&nbsp;';
                    computeButton += '<button class="btn btn-sm btn-default payout-revenueshare-button" data-period-id="'+ row.commissionPeriod.id +'" disabled>Payout</button>';
                    break;
                case Global.commmission.status.failedPayout:
                    computeButton += '<button class="btn btn-sm btn-default compute-revenueshare-button" data-period-id="'+ row.commissionPeriod.id +'">Compute</button>&nbsp;&nbsp;&nbsp;';
                    computeButton += '<button class="btn btn-sm btn-default payout-revenueshare-button" data-period-id="'+ row.commissionPeriod.id +'">Payout</button>';
                    break;
            }
                
            return computeButton;
        }

        function getDwlStatus(data, type, row) {
            var dwlStatus = '';
            switch (row.commissionPeriod.dwl_status) {
                case Global.dwl.status.notYetDwl:
                    dwlStatus =  '{{ "status.notYetDwl"|trans({}, "CommissionBundle") }}';
                    break;
                case Global.dwl.status.inProgressDwl:
                    dwlStatus =  '{{ "status.inProgressDwl"|trans({}, "CommissionBundle") }}';
                    break;
                case Global.dwl.status.successfulDwl:
                    dwlStatus =  '{{ "status.successfulDwl"|trans({}, "CommissionBundle") }}' + '<br>Updated as of ' + moment(row.commissionPeriod.dwl_updated_at).format('MMM DD, Y h:mm:ss a');
                    break;
                case Global.dwl.status.failedDwl:
                    dwlStatus =  '{{ "status.failedDwl"|trans({}, "CommissionBundle") }}';
                    break;
            }
            
            return dwlStatus;
        }

        function recomputeAndPayoutRevenueShareCommissionPeriod(commissionPeriodId, action, actionsAfterCompletingRecomputation) {
            var recomputeUrl = '{{ path('commission.recompute_and_payout_revenue_share',{'commissionPeriodId':'__COMMISSION_PERIOD_ID__'}) }}';
            recomputeUrl = recomputeUrl.replace('__COMMISSION_PERIOD_ID__',commissionPeriodId);
            $.post(recomputeUrl, {'commissionPeriodId': commissionPeriodId, 'action': action}, function (resultData) {
                actionsAfterCompletingRecomputation();
            });
        }

    </script>

    {% for widget in widgets %}
        {{ widget_render_block(widget, 'javascript') }}
    {% endfor %}
{% endblock javascripts %}