{{ form_start(form) }}
<div class="panel-body p-20">
    <div class="row">
        {{ form_row(form.code) }}
        {{ form_row(form.name) }}
        {% if hasRate %}
        <div class="col-sm-12 rate-container">
            <div class="form-group">
                {{ form_label(form.rate) }}
                <div class="input-group">
                {{ form_widget(form.rate) }}
                <span class="input-group-addon">
                    <i class="typcn typcn-equals"></i>
                </span>
                    <span class="form-control">1 <span class="base-currency-name">{{ baseCurrency.name }}</span></span>
                </div>
                {{ form_errors(form.rate) }}
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="panel-footer text-right">
    {{ form_widget(form.save, {'attr': {'class': 'btn-sm btn-success'}}) }}
    <button class="btn btn-sm btn-inverse btnModalClose" data-dismiss="modal">Cancel</button>
</div>
{{ form_end(form) }}