{% extends 'AppBundle:Widget:Page/form.html.twig' %}

{% block update_affiliateLink_version_widget %}
    <a href="#" id="affiliate-link-versions" class="text-center member-referrer-tooltip" data-toggle="tooltip" data-placement="right" data-html="true" title=""><i class="fa fa-question-circle"></i></a>
{% endblock update_affiliateLink_version_widget %}

{% block _update_profileForm_data_affiliateLink_widget %}
	<div class="input-group">

        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
		<input type="{{ type|default('text') }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>

		<span class="input-group-btn">
			<button href="#autoLink" id="autoLink" class="btn btn-warning" title="Link to referrer"><i class="ti-link"></i></button>
		</span>
	</div>

	{{ block('update_affiliateLink_version_widget') }}
{% endblock _update_profileForm_data_affiliateLink_widget %}

{% block form_row -%}
	<div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
		<div class="col-md-4">
			{{- form_label(form) -}}
		</div>
		<div class="col-md-8">
			{{- form_widget(form) -}}
			{{- form_errors(form) -}}
		</div>
	</div>
{%- endblock form_row %}

{% block update_clientIp_widget %}
    <a href="javascript::void(0)" id="client-ip" class="text-center member-IP-tooltip" data-toggle="tooltip" data-placement="right" data-html="true" title=""><i class="fa fa-question-circle"></i></a>
{% endblock update_clientIp_widget %}

{% block _update_profileForm_data_clientIp_widget %}
    {{ form_widget(form) }} {{ block('update_clientIp_widget') }}
{% endblock _update_profileForm_data_clientIp_widget  %}