{# Payment Option Form #}
{% block update_paymentOptions_form %}
        <div class='modal-dialog modal-responsive'>
            <div class='modal-content p-0 b-0'>
                <div class="panel panel-color panel-inverse">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ paymentOption.getId() is null ? 'Create Payment Option' : 'Update Payment Option' }} </h3>
                    </div>
                    <div class='panel-body p-20'>
                        {{ widget_render_block(widget, 'form', {'paymentOptions': paymentOptions, 'type': type, 'paymentOption': paymentOption}) }}
                    </div>
                    <div class='panel-footer text-right'>
                        <button class="btn btn-success" id='{{ id }}BtnSave'>Save</button>
                        <button class="btn btn-inverse" id='{{ id }}BtnClose'>Close</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock update_paymentOptions_form %}

{% block update_paymentOptions_container %}
    <div id="{{ block_id }}">
        <div class="pull-right">
            <button id="btnAddPaymentOption" class="btn btn-primary">Add Payment Option</button>
        </div>
        <div class="clear-fix clear clearfix"></div>
        <div id="{{ id }}Modal" class="modal fade" aria-hidden="true">
            <div id="{{ id }}FormContainer"></div>
        </div>
        <div id="{{ id }}Listing" class="masonry-container"></div>
    </div>
{% endblock update_paymentOptions_container %}

{% block update_paymentOptions_javascript %}
    {{ widget_render_block(widget, 'javascript') }}
    <script type="text/javascript">
        $(function () {
            $('#btnAddPaymentOption').click(function () {
                {{ id }}GetForm('', '');
            });
            $('#{{ id }}_container').on('formRendered', function () {
                if (!$('#{{ id }}Modal').hasClass('in')) {
                    $('#{{ id }}Modal').modal('show');
                }
                $('#{{ id }}BtnSave').click(function () {
                    var hasRequired = false;
                    $('input,textarea,select').filter('[required]:visible').each(function(i, candidateInput){
                        var trimmedCandidateInputValue = candidateInput.value;
                        if (trimmedCandidateInputValue.replace(/^\s+|\s+$/g, '') == '') {
                            $("input[name = '"+ candidateInput.name +"']")
                                .closest('.form-group').addClass('has-error')
                                .find('.help-block ul')
                                .html('<li>This value should not be blank.</li>')
                            ;
                            notification('Validation Failed', 'Some fields are invalid', 'error');
                            hasRequired = true;
                        }
                    });
                    if (!hasRequired) {
                        $('#{{ id }}FormContainer form').find('.form-group').removeClass('has-error');
                        $('#{{ id }}FormContainer form').find('.form-group .help-block ul li').remove();
                        $('#{{ id }}FormContainer form').submit();
                    }
                });
                $('#{{ id }}BtnClose').click(function () {
                    $('#{{ id }}Modal').modal('hide');
                });
                $('#{{ id }}FormContainer form').on('form.success', function () {
                    $('#{{ id }}Modal').modal('hide');
                });
            });
            $('#{{ id }}Modal').on('hide.bs.modal', function () {
                $('#{{ id }}Listing .payment-item').parent().removeClass('selected');
            });
        });
    </script>
{% endblock update_paymentOptions_javascript %}
{# Add Commission Form #}

{% block update_addCommissionForm_container %}
    <div id="{{ block_id }}" class="modal fade" aria-hidden="true">
    {{ widget_render_block(widget, 'widget') }}
    </div>
{% endblock update_addCommissionForm_container %}

{% block update_addCommissionForm_widget %}
    {{ form_start(form) }}
    <div class='modal-dialog modal-responsive'>
        <div class='modal-content p-0 b-0'>
            <div class="panel panel-color panel-inverse">
                <div class="panel-heading"><h3 class="panel-title">Add Commission</h3></div>
                <div class='panel-body p-20'>
                    {% for fieldName in widget.getGroup('Default') %}
                    {{ form_row(form[fieldName]) }}
                    {% endfor %}
                </div>
                <div class='panel-footer text-right'>
                    {% for fieldName in widget.getGroup('Buttons') %}
                    {{ form_row(form[fieldName]) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock update_addCommissionForm_widget %}

{% block update_addCommissionForm_javascript %}
    {{ widget_render_block(widget, 'javascript') }}
    <script type='text/javascript'>
        $(function () {
            $('#{{ id }}_container').on('hide.bs.modal', function (e) {
                $('#{{ form.vars.id }}')[0].reset();
            });
            $('#{{ form.btnCancel.vars.id }}').click(function (e) {
                $('#{{ id }}_container').modal('hide');
                return false;
            });
            $('#addCommission').click(function () {
                $('#{{ form.product.vars.id }}').selectpicker('val', '');
                $('#{{ id }}_container').modal('show');
            });
            $('#{{ form.vars.id }}').on('form.success', function (e, data) {
                $('#{{ id }}_container').modal('hide');
            });
        });
    </script>
{% endblock update_addCommissionForm_javascript %}

{# Update Commission Form #}
{% block update_updateCommissionForm_container %}
    <div id="{{ block_id }}" class="modal fade" aria-hidden="true">
    {{ widget_render_block(widget, 'widget') }}
    </div>
{% endblock update_updateCommissionForm_container %}

{% block update_updateCommissionForm_widget %}
    {{ form_start(form) }}
    <div class='modal-dialog modal-responsive'>
        <div class='modal-content p-0 b-0'>
            <div class="panel panel-color panel-inverse">
                <div class="panel-heading"><h3 class="panel-title">Update Commission</h3></div>
                <div class='panel-body p-20'>
                    {% for fieldName in widget.getGroup('Default') %}
                    {{ form_row(form[fieldName]) }}
                    {% endfor %}
                </div>
                <div class='panel-footer text-right'>
                    {% for fieldName in widget.getGroup('Buttons') %}
                    {{ form_row(form[fieldName]) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock update_updateCommissionForm_widget %}

{% block update_updateCommissionForm_javascript %}
    {{ widget_render_block(widget, 'javascript') }}
    <script type='text/javascript'>
        $(function () {
            $('#{{ id }}_container').on('show.bs.modal', function () {
                var data = $(this).data('commission');
                $('#{{ form.commission.vars.id }}').val(data.commission.commission);
                $('#{{ form.product.vars.id }}').val(data.commission.product.name + ' (' + data.commission.product.code + ')');
                $('#{{ form.resourceId.vars.id }}').val(data.commission.resource_id);
                $('#{{ form.productId.vars.id }}').val(data.commission.product.id);
                // NOTE: see https://ac88dev.atlassian.net/browse/AC66-1017
                //if ($('#{#{ form.status.vars.id }#}').get(0).checked != data.commission.status) {
                //    $('#{#{ form.status.vars.id }#}').click();
                //}

            });
            $('#{{ id }}_container').on('hide.bs.modal', function (e) {
                $('#{{ form.vars.id }}')[0].reset();
            });
            $('#{{ form.btnCancel.vars.id }}').click(function (e) {
                $('#{{ form.vars.id }} div.form-group').removeClass('has-error');
                $('#{{ form.vars.id }} span.help-block ul').html('');
                $('#{{ id }}_container').modal('hide');
                return false;
            });
            $('#{{ form.vars.id }}').on('form.success', function (e, data) {
                $('#{{ id }}_container').modal('hide');
            });
            $('#{{ form.commission.vars.id }}').on('keypress', function () {
                var commission = $(this).val();
                if (countDecimals(commission) == 10) {
                    return false;
                }
            });
            var countDecimals = function (value) {
                if ((value % 1) != 0) {
                    return value.toString().split(".")[1].length;
                }

                return false;
            };
        });
    </script>
{% endblock update_updateCommissionForm_javascript %}

{# Product Form #}

{% block update_productForm_container %}
    <div id="{{ block_id }}" class="modal fade" aria-hidden="true">
        {{ widget_render_block(widget, 'widget') }}
    </div>
{% endblock update_productForm_container %}

{% block update_productForm_widget %}
    {{ form_start(form) }}
    <div class='modal-dialog modal-responsive'>
        <div class='modal-content p-0 b-0'>
            <div class="panel panel-color panel-inverse">
                <div class="panel-heading"><h3 class="panel-title">Add Product</h3></div>
                <div class='panel-body p-20'>
                    {% for fieldName in widget.getGroup('Default') %}
                    {{ form_row(form[fieldName]) }}
                    {% endfor %}
                </div>
                <div class='panel-footer text-right'>
                    {% for fieldName in widget.getGroup('Buttons') %}
                    {{ form_row(form[fieldName]) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock update_productForm_widget %}

{% block update_productForm_javascript %}
    {{ widget_render_block(widget, 'javascript') }}
    <script type='text/javascript'>
        $(function () {
            $('#{{ id }}_container').on('hide.bs.modal', function (e) {
                $('#{{ form.vars.id }}')[0].reset();
                $('#{{ form.product.vars.id }}').selectpicker('val', '');
                $('#{{ form.brokerage.vars.id }}').val('').trigger('change');
            });
            $('#{{ form.btnCancel.vars.id }}').click(function (e) {
                $('#{{ form.vars.id }} div.form-group').removeClass('has-error');
                $('#{{ form.vars.id }} span.help-block ul').html('');
                $('#{{ id }}_container').modal('hide');
                return false;
            });

            $('#addProduct').click(function () {
                $('#{{ id }}_container').modal('show');

                hideBrokerage();
                $('#{{ form.vars.id }} .panel-body .col-sm-12:nth-child(3)').show();

                $("#{{ form.brokerage.vars.id }}").on('select2:select', function (e) {
                    var data = e.params.data;

                    $("#{{form.brokerageFirstName.vars.id}}").val(data.firstname);
                    $("#{{form.brokerageLastName.vars.id}}").val(data.lastname);
                });

                $("#{{ form.product.vars.id }}").on('change', function (e) {
                    var text = $(this).find("option:selected").text();
                    var isSkype = text.indexOf("Skype") > -1;
                    var isSynced = text.indexOf("BETADMIN") > -1;

                    if (isSkype) {
                        if (isSynced) {
                            showBrokerage();
                        }
                        hideBalance();
                    } else {
                        hideBrokerage();
                        showBalance();
                    }
                });
            });

            $('#{{ form.vars.id }}').on('form.success', function (e, data) {
                $('#{{ id }}_container').modal('hide');
            });

            function hideBalance() {
                $("#{{ form.vars.id }} .panel-body .col-sm-12:nth-child(3)").hide();
            }

            function showBalance() {
                $("#{{ form.vars.id }} .panel-body .col-sm-12:nth-child(3)").show();
            }

            function hideBrokerage() {
                $("#{{ form.brokerage.vars.id }}").parent().parent().hide();
            }

            function showBrokerage() {
                $("#{{ form.brokerage.vars.id }}").parent().parent().show();
            }
        });
    </script>
{% endblock update_productForm_javascript %}

{% block update_updateProductForm_container %}
    <div id="{{ block_id }}" class="modal fade" aria-hidden="true">
        {{ widget_render_block(widget, 'widget') }}
    </div>
{% endblock update_updateProductForm_container %}

{% block update_updateProductForm_widget %}
    {{ form_start(form) }}
    <div class='modal-dialog modal-responsive'>
        <div class='modal-content p-0 b-0'>
            <div class="panel panel-color panel-inverse">
                <div class="panel-heading"><h3 class="panel-title">Update Product</h3></div>
                <div class='panel-body p-20'>
                    {% for fieldName in widget.getGroup('Default') %}
                        {{ form_row(form[fieldName]) }}
                        {% if fieldName == 'balance' %}
                            <div class="col-sm-12 hidden">
                                <div class="form-group">
                                    <label>Balance</label>
                                    <span class="form-control" id="brokerageBalanceInput"></span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class='panel-footer text-right'>
                    {% for fieldName in widget.getGroup('Buttons') %}
                    {{ form_row(form[fieldName]) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock update_updateProductForm_widget %}

{% block update_updateProductForm_javascript %}
    {{ widget_render_block(widget, 'javascript') }}
    <script type='text/javascript'>
        $(function () {
            $('#{{ id }}_container').on('show.bs.modal', function () {
                var data = $(this).data('customerProductData');
                initForm(data);

                $('#{{ id }}_container').on('hide.bs.modal', function (e) {
                    $('#{{ form.vars.id }}')[0].reset();
                    $("[for=update_updateProductForm_data_balance]").text('* Balance');
                    clearBrokerage();
                    showBrokerage();
                });

                $('#{{ form.btnCancel.vars.id }}').click(function (e) {
                    $('#{{ form.vars.id }} div.form-group').removeClass('has-error');
                    $('#{{ form.vars.id }} span.help-block ul').html('');

                    $('#{{ id }}_container').modal('hide');
                    return false;
                });

                $('#{{ form.vars.id }}').on('form.success', function (e, data) {
                    $('#{{ id }}_container').modal('hide');
                });
            });
        });

        function initForm(data) {
            $("#{{ form.balance.vars.id }}").closest('.col-sm-12').removeClass('hidden');
            $("#brokerageBalanceInput").text('').closest('.col-sm-12').addClass('hidden');

            $('#{{ form.username.vars.id }}').val(data.userName);
            $('#{{ form.balance.vars.id }}').val(data.balance);
            $('#{{ form.product.vars.id }}').selectpicker('val', data.product.id);
            $('#{{ form.customerProduct.vars.id }}').val(data.id);

            var brokerage = hasBrokerage(data);
            var syncable = isSyncable(data);
            var skype = isSkype();
            var memberProductDetails = JSON.parse(data.details);

            if (brokerage) {
                var brokerageFirstName = memberProductDetails['brokerage'] != null ? memberProductDetails['brokerage']['details']['first_name'] : '';
                var brokerageLastName = memberProductDetails['brokerage'] != null ? memberProductDetails['brokerage']['details']['last_name'] : '';
                var brokerage = memberProductDetails['brokerage'] != null ? memberProductDetails['brokerage']['sync_id'] : '';

                var newOption = new Option(brokerageFirstName + ' ' + brokerageLastName, brokerage, true, true);
                $("#{{ form.brokerage.vars.id }}").append(newOption).trigger('change');

                $("#{{form.brokerageFirstName.vars.id}}").val(brokerageFirstName);
                $("#{{form.brokerageLastName.vars.id}}").val(brokerageLastName);
                var balanceText = $("[for=update_updateProductForm_data_balance]").text();
                $("#{{ form.balance.vars.id }}").closest('.col-sm-12').addClass('hidden');
                $("#brokerageBalanceInput").text(data.baBalance).closest('.col-sm-12').removeClass('hidden');
            }

            if (!skype || !syncable) {
                hideBrokerage();
            }

            attachListeners();
        }

        function attachListeners() {
            // Product Field Listener
            $("#{{ form.product.vars.id }}").on('change', function (e) {
                if (isSkype()) {
                    if (hasSynced()) {
                        showBrokerage();
                    }
                    disableBalance();
                } else {
                    hideBrokerage();
                    enableBalance();
                    clearBrokerage();
                }
            });

            // Brokerage Field Listener
            $("#{{ form.brokerage.vars.id }}").on('select2:select', function (e) {
                var data = e.params.data;

                $("#{{form.brokerageFirstName.vars.id}}").val(data.firstname);
                $("#{{form.brokerageLastName.vars.id}}").val(data.lastname);
            });
        }

        function hasBrokerage(data) {

            var memberProductDetails = JSON.parse(data.details);
            if (memberProductDetails != null && typeof memberProductDetails['brokerage']  == 'object' && typeof memberProductDetails['brokerage']['details']  != 'undefined') {
                return true;
            }

            return false;
        }

        function isSyncable(data) {
            var productDetails = JSON.parse(data.product.details);

            if (!(productDetails == null || typeof productDetails['betadmin']  == 'undefined')) {
                return productDetails['betadmin']['tosync'];
            }

            return false;
        }

        function isSkype() {
            return $("#{{ form.product.vars.id }}").find("option:selected").text().indexOf("Skype") > -1;
        }

        function hasSynced() {
            return $("#{{ form.product.vars.id }}").find("option:selected").text().indexOf("BETADMIN") > -1;
        }

        function enableBalance() {
            $('#{{ form.vars.id }}_balance').attr('readonly', false);
        }

        function disableBalance() {
            $('#{{ form.vars.id }}_balance').attr('readonly', true);
        }

        function showBrokerage() {
            $("#{{ form.brokerage.vars.id }}").parent().parent().show();
        }

        function hideBrokerage() {
            $("#{{ form.brokerage.vars.id }}").parent().parent().hide();
        }

        function clearBrokerage() {
            $("#{{ form.brokerage.vars.id }}").val(null).trigger('change');
        }
    </script>
{% endblock update_updateProductForm_javascript %}

{# Link Member #}
{% block update_linkForm_container %}
    <div id="{{ block_id }}" class="modal fade" aria-hidden="true">
        {{ widget_render_block(widget, 'widget') }}
    </div>
{% endblock update_linkForm_container %}

{% block update_linkForm_widget %}
    {{ form_start(form) }}
    <div class='modal-dialog modal-responsive'>
        <div class='modal-content p-0 b-0'>
            <div class="panel panel-color panel-inverse">
                <div class="panel-heading"><h3 class="panel-title">Link Members</h3></div>
                <div class='panel-body p-20'>
                    {% for fieldName in widget.getGroup('Default') %}
                    {{ form_row(form[fieldName]) }}
                    {% endfor %}
                </div>
                <div class='panel-footer text-right'>
                    {% for fieldName in widget.getGroup('Buttons') %}
                    {{ form_row(form[fieldName]) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock update_linkForm_widget %}

{% block update_linkForm_javascript %}
    <script>
        function linkSelection(data) {
            var selection = data.text;
            if (data.refferer !== null) {
                selection += ' ' + '<i class="ti ti-link"></i>';
            }

            return selection;
        }
        function linkResult(data) {
            var result = data.text;

            if (data.refferer !== null) {
                result += ' ' + '<i class="ti ti-link"></i>';
            }

            return result;
        }
    </script>
    {{ widget_render_block(widget, 'javascript') }}
    <script type='text/javascript'>
        $(function () {
            $('#{{ id }}_container').on('hide.bs.modal', function (e) {
                $('#{{ form.vars.id }}')[0].reset();
            });
            $('#{{ form.btnCancel.vars.id }}').click(function (e) {
                $('#{{ id }}_container').modal('hide');
                return false;
            });
            $('#{{ form.vars.id }}').on('form.success', function (e, data) {
                $('#{{ id }}_container').modal('hide');
            });
        });
    </script>
{% endblock update_linkForm_javascript %}

{% block update_profileForm_javascript %}
    <script type="text/javascript">
        var submitProfile = true;
        var originalReferrer = {{ form.vars.data.referrer is null ? 'null' : form.vars.data.referrer }};

        function {{ id }}ExtraExecPage()
        {
            $(function () {
                $('#{{ form.vars.id }}').on('form.success', function (form, response) {
                    var data = response.data;
                    referrer = {
                        'current': { 'id': '', 'name': '', 'username': '' },
                        'byCode': { 'id': '', 'name': '', 'username': '' }
                    };

                    if (!$.isEmptyObject(data.current_referrer)) {
                        referrer.current.id = data.current_referrer.id;
                        referrer.current.name = data.current_referrer.fullName;
                        referrer.current.username = data.current_referrer.username;
                    }

                    if (!$.isEmptyObject(data.referrer_by_code)) {
                        referrer.byCode.id = data.referrer_by_code.id;
                        referrer.byCode.name = data.referrer_by_code.fullName;
                        referrer.byCode.username = data.referrer_by_code.username;
                    }

                    toggleLinkReferrerButton();

                    swal.close();
                    originalReferrer = $('#{{ form.referrer.vars.id }}').val();
                });

                $('#{{ form.vars.id }}').submit(function (e) {
                    var currentReferrer = $('#{{ form.referrer.vars.id }}').val();
                    if (currentReferrer != originalReferrer && originalReferrer !== null) {
                        submitProfile = false;
                        confirm2(
                            'We just found that you have removed the referrer, removing it will unlink the member to <b>' + referrer.current.name + '</b>?',
                            'Save and Unlink Member',
                            {
                                'type': null,
                                'confirmButtonClass': 'btn-warning btn-md',
                                'confirmButtonText': 'Unlink',
                                'cancelButtonClass': 'btn-inverse btn-md',
                                'cancelButtonText': 'Cancel',
                                'html': true,
                                'showLoaderOnConfirm': true
                            },
                            function (isUnlink) {
                                if (isUnlink) {
                                    submitProfile = true;
                                    originalReferrer = currentReferrer;
                                    $('#{{ form.vars.id }}').submit();
                                }
                            }
                        );
                    }

                    if (!submitProfile) {
                        e.preventDefault(e);
                    }
                });
            });
        }
        page.addLoader({{ id }}ExtraExecPage, ['{{ absolute_url(asset('assets/plugins/jquery-form/jquery.form.min.js')) }}']);
    </script>
    {{ widget_render_block(widget, 'javascript') }}
{% endblock update_profileForm_javascript %}

{# Create Website Form #}
{% block update_createWebsiteForm_container %}
    <div id="{{ block_id }}" class="modal fade" aria-hidden="true">
    {{ widget_render_block(widget, 'widget') }}
    </div>
{% endblock update_createWebsiteForm_container %}
{% block update_createWebsiteForm_widget %}
    {{ form_start(form) }}
    <div class='modal-dialog modal-responsive'>
        <div class='modal-content p-0 b-0'>
            <div class="panel panel-color panel-inverse">
                <div class="panel-heading"><h3 class="panel-title">Add Website</h3></div>
                <div class='panel-body p-20'>
                    {% for fieldName in widget.getGroup('Default') %}
                    {{ form_row(form[fieldName]) }}
                    {% endfor %}
                </div>
                <div class='panel-footer text-right'>
                    {% for fieldName in widget.getGroup('Buttons') %}
                    {{ form_row(form[fieldName]) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock update_createWebsiteForm_widget %}
{% block update_createWebsiteForm_javascript %}
    {{ widget_render_block(widget, 'javascript') }}
    <script type='text/javascript'>
        $(function () {
            $('#{{ id }}_container').on('hide.bs.modal', function (e) {
                $('#{{ form.vars.id }}')[0].reset();
                $('#{{ form.vars.id }} .form-group')
                    .removeClass('has-error')
                    .find('.help-block ul').html("");
            });
            $('#{{ form.btnCancel.vars.id }}').click(function (e) {
                $('#{{ id }}_container').modal('hide');
                return false;
            });
            $('#createWebsiteBtn').click(function () {
                $('#{{ id }}_container').modal('show');
            });
            $('#{{ form.vars.id }}').on('form.success', function (e, data) {
                $('#{{ id }}_container').modal('hide');
            });
        });
    </script>
{% endblock update_createWebsiteForm_javascript %}
{# Create Referral Name Form #}
{% block update_createMemberReferralNameForm_container %}
    <div id="{{ block_id }}" class="modal fade" aria-hidden="true">
    {{ widget_render_block(widget, 'widget') }}
    </div>
{% endblock update_createMemberReferralNameForm_container %}
{% block update_createMemberReferralNameForm_widget %}
    {{ form_start(form) }}
    <div class='modal-dialog modal-responsive'>
        <div class='modal-content p-0 b-0'>
            <div class="panel panel-color panel-inverse">
                <div class="panel-heading"><h3 class="panel-title">Add Referral Code</h3></div>
                <div class='panel-body p-20'>
                    {% for fieldName in widget.getGroup('Default') %}
                    {{ form_row(form[fieldName]) }}
                    {% endfor %}
                </div>
                <div class='panel-footer text-right'>
                    {% for fieldName in widget.getGroup('Buttons') %}
                    {{ form_row(form[fieldName]) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock update_createMemberReferralNameForm_widget %}
{% block update_createMemberReferralNameForm_javascript %}
    {{ widget_render_block(widget, 'javascript') }}
    <script type='text/javascript'>
        $(function () {
            $('#{{ id }}_container').on('hide.bs.modal', function (e) {
                $('#{{ form.vars.id }}')[0].reset();
                $('#{{ form.vars.id }} .form-group')
                    .removeClass('has-error')
                    .find('.help-block ul').html("");
            });
            $('#{{ form.btnCancel.vars.id }}').click(function (e) {
                $('#{{ id }}_container').modal('hide');
                return false;
            });

        function referralNameAction(data, type, full)
        {
            if (full.is_active) {
                return '<button class="btn btn-xs btn-danger btn-referral-name-suspend">Suspend</button>';
            } else {
                return '<button class="btn btn-xs btn-success btn-referral-name-enable">Enable</button>';
            }
        }

        $(function () {
            $('#{{ widgets.memberReferralName.getFullId() }}_container').on('click', '.btn-referral-name-suspend', function (e) {
                var tr = $(this).closest('tr');
                var data = {{ widgets.memberReferralName.getFullId() }}Table.dataTable.api().row(tr).data();

                confirm2('Are you sure you want to suspend '+ data.name, 'Suspend Referral Code', {
                    'type': null,
                    'confirmButtonClass': 'btn-success btn-md',
                    'confirmButtonText': 'Yes',
                    'html': true,
            $('#btnCreateReferralName').click(function () {
                $('#{{ id }}_container').modal('show');
            });
            $('#{{ form.vars.id }}').on('form.success', function (e, data) {
                $('#{{ id }}_container').modal('hide');
            });
        });
    </script>
{% endblock update_createMemberReferralNameForm_javascript %}

