{% extends 'AppBundle:Layout:base.html.twig' %}

{% block title %}{{ "page.title.create"|trans({},"CustomerBundle") }}{% endblock %}

{% form_theme form 'CustomerBundle:Form:Type/customer.html.twig' %}

{% block stylesheet_plugins %}
    {{ form_assetcss(form) }}
{% endblock %}

{% block javascript_plugins %}
    {{ form_assetjs(form) }}
{% endblock %}

{% block pageTitle -%}{{ "page.Create Customer"|trans({},"CustomerBundle") }}{%- endblock %}
    
{% block breadcrumb -%}
    <li>
        <a href="{{ path("app.dashboard_page") }}">{{ "menus.Dashboard"|trans({},"AppBundle") }}</a>
    </li>
    <li>
        <a href="{{ path("customer.list_page") }}">{{ "menus.Customer"|trans({},"CustomerBundle") }}</a>
    </li>
    <li class="active">
        {{ "menus.Create"|trans({},"CustomerBundle") }}
    </li>
{%- endblock %}

{% block page %}
    <div class="col-sm-12">
            {% include "CustomerBundle:Form:customer-form.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ form_javascript(form) }}
    
{% endblock %}