<ul class="nav navtab-bg tabs-vertical">
    <li class="{% if app.request.attributes.get('_route') in ['customer.update_page','affiliate.update_page']  %}active{% endif %}">
        <a href="{{- path('affiliate.update_page', {'id': customer.id}) -}}" data-toggle="tab" aria-expanded="true" class="customer-tab">
            <span class="visible-xs visible-sm">
                <i class="ti-user"></i>
            </span>
            <span class="hidden-xs hidden-sm">
                <i class="ti-user"></i>
                    {{ "page.tab.affiliate"|trans({},"CustomerBundle") }}
            </span>
        </a>
    </li>
    <li class="">
        <a href="{{- path('affiliate.update_page', {'id': customer.id}) -}}#contacts" data-toggle="tab" aria-expanded="true">
            <span class="visible-xs visible-sm">
                <i class="ti-id-badge"></i>
            </span>
            <span class="hidden-xs hidden-sm">
                <i class="ti-id-badge"></i>
                {{ "page.tab.contacts"|trans({},"CustomerBundle") }}
            </span>
        </a>
    </li>
    <li class="">
        <a href="{{- path('affiliate.update_page', {'id': customer.id}) -}}#socials" data-toggle="tab" aria-expanded="true">
            <span class="visible-xs visible-sm">
                <i class="ti-key"></i>
            </span>
            <span class="hidden-xs hidden-sm">
                <i class="ti-star"></i>
                {{ "page.tab.socials"|trans({},"CustomerBundle") }}
            </span>
        </a>
    </li>
    {% if customer.isCustomer %}
    <li class="">
        <a href="{{- path('affiliate.update_page', {'id': customer.id}) -}}#product" data-toggle="tab" aria-expanded="true" class="customer-tab">
            <span class="visible-xs visible-sm">
                <i class="ti-bag"></i>
            </span>
            <span class="hidden-xs hidden-sm">
                <i class="ti-bag"></i>
                {{ "page.tab.product"|trans({},"CustomerBundle") }}
            </span>
        </a>
    </li>
    {%- endif -%}
    <li class="{{ app.request.attributes.get('activeTab') == "commissions" ? "active" : '' }}">
        <a href="{{ path('affiliate.commissions_page', {"id": customer.id}) }}">
            <span class="visible-xs visible-sm">
                <i class="ti-bag"></i>
            </span>
            <span class="hidden-xs hidden-sm">
                <i class="ti-bag"></i>
                {{ "page.tab.productCommission"|trans({},"CustomerBundle") }}
            </span>
        </a>
    </li>
    <li class="">
        <a href="{{- path('affiliate.update_page', {'id': customer.id}) -}}#transactions" data-toggle="tab" aria-expanded="true" class="customer-tab">
            <span class="visible-xs visible-sm">
                <i class="ti-reload"></i>
            </span>
            <span class="hidden-xs hidden-sm">
                <i class="ti-reload"></i>
                {{ "page.tab.transactionHistory"|trans({},"CustomerBundle") }}
            </span>
        </a>
    </li>
    <li class="">
        <a href="{{- path('affiliate.update_page', {'id': customer.id}) -}}#payments" data-toggle="tab" aria-expanded="true" class="customer-tab">
            <span class="visible-xs visible-sm">
                <i class="ti-money"></i>
            </span>
            <span class="hidden-xs hidden-sm">
                <i class="ti-money"></i>
                {{ "page.tab.payment"|trans({},"CustomerBundle") }}
            </span>
        </a>
    </li>
    <li class="">
        <a href="#docs" data-toggle="tab" aria-expanded="true" class="customer-tab">
            <span class="visible-xs visible-sm">
                <i class="ti-folder"></i>
            </span>
            <span class="hidden-xs hidden-sm">
                <i class="ti-folder"></i>
                {{ "page.tab.documents"|trans({},"CustomerBundle") }}
            </span>
        </a>
    </li>
    <li class="">
        <a href="{{- path('affiliate.update_page', {'id': customer.id}) -}}#customers" data-toggle="tab" aria-expanded="true" class="customer-tab">
            <span class="visible-xs visible-sm">
                <i class="fa fa-users"></i>
            </span>
            <span class="hidden-xs hidden-sm">
                <i class="fa fa-users"></i>
                {{ "page.tab.customers"|trans({},"CustomerBundle") }}
            </span>
        </a>
    </li>
</ul>