{% extends 'AppBundle:Layout:base.html.twig' %}

{% block title %}{{ "page.title.create"|trans({},"TicketBundle") }}{% endblock %}

{% form_theme form _self %}

{% block stylesheet_plugins %}
    {{ form_assetcss(form) }}
{% endblock %}

{% block javascript_plugins %}
    {{ form_assetjs(form) }}
{% endblock %}

{% block _Ticket_description_javascript %}
    <script>
        (function($){
            $('#{{ form.vars.id }}').summernote({
                height: 300,
                  toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']]
                  ]
            });            
        })(jQuery);
    </script>
{% endblock %}


{% block stylesheets %}{% endblock %}

{% block content %}
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">{{ "page.title.create"|trans({},"TicketBundle") }}</h4>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path("app.dashboard_page") }}">{{ "menus.Dashboard"|trans({},"AppBundle") }}</a>
                </li>
                <li>
                    <a href="{{ path("ticket.list_page") }}">{{ "menus.Ticket"|trans({},"TicketBundle") }}</a>
                </li>
                <li>
                    <a href="{{ path("ticket.create_page") }}">{{ "menus.Create"|trans({},"AppBundle") }}</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <!--div class="col-sm-12" -->
            <!--div class="card-box" -->
                {% include "TicketBundle:Form:ticket-form.html.twig" %}
            <!--/div -->
        <!--/div-->
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ form_javascript(form) }}
{% endblock %}