{% extends 'AppBundle:Layout:base.html.twig' %}

{% block title %}{{ "page.title.list"|trans({},"TicketBundle") }}{% endblock %}

{% block stylesheets %}
    <!-- DataTables -->
    
    <link href="{{ asset('assets/plugins/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/responsive.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/dataTables.colVis.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    
    <link href="{{ asset('assets/plugins/magnific-popup/css/magnific-popup.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/icons.css') }}" rel="stylesheet" type="text/css"/>
    <style>
        .tab-content {
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">{{ "menus.Ticket"|trans({},"TicketBundle") }}</h4>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path("app.dashboard_page") }}">{{ "menus.Dashboard"|trans({},"AppBundle") }}</a>
                </li>
                <li>
                    <a href="{{ path("ticket.list_page") }}">{{ "menus.Ticket"|trans({},"TicketBundle") }}</a>
                </li>
                <li>
                    <a href="{{ path("ticket.list_page") }}">{{ "menus.List"|trans({},"AppBundle") }}</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% include "TicketBundle:Modal:confirm.html.twig" with {'form': confirmForm} %}    
            <div class="tabs-vertical-env" id="ticketContainer">
                <ul class="nav tabs-vertical" id="ticket-view">

                </ul>
                <div class="tab-content" id="viewContainier">
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ form_javascript(confirmForm) }}
    <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.bootstrap.js') }}"></script>

    <script src="{{ asset('assets/plugins/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/responsive.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.colVis.js') }}"></script>
    

    <script src="{{ asset('assets/plugins/magnific-popup/js/jquery.magnific-popup.min.js') }}"></script>
    
    <script src="{{ asset('bundles/ticket/js/list.js') }}" type="text/javascript" ></script>
    <script type="text/javascript" >
        {{ form_javascript(confirmForm) }}
        var ticketUnreadIds = '{{unreadIds}}';
        $(function(){            
        
            $('#ticketContainer').list({
                'url': {
                    'views': '{{ path("ticket.view_list") }}'
                },
                'viewContainerPrefix':  'viewC_',
                'tableIDPrefix': 'table_',
                'viewList': '#ticket-view',
                'viewContainer': "#viewContainier",
                'viewTemplate': "<div class='tab-pane' id='%id%'>%table%</div>",
                'tableAttr': {
                    'class': 'table table-striped dt-responsive nowrap'
                },
                'afterInit': function() {
                    $('#ticket-view .zendesk_view.active').click();
                }, 
                'rowOnclick': function(e, dataTable) {
                    e.preventDefault();                    
                    var currentRow = $(e.target).parents('tr');
                    if (currentRow.hasClass('child')) 
                        currentRow = currentRow.prev();
                    
                    var data = dataTable.row(currentRow).data() ;
                    var anchor = $(e.target).closest('a');
                    var mode = anchor.attr('action');

                    if(mode == 'edit'){
                        _reply_ticket(data);
                    } else {
                        _delete_ticket(data);
                    }
                    
                },
                'rowCallback' : function( row, data, index ) {
                    
                    //var ids = '{#{unreadIds}#}';
                    
                    $.each(ticketUnreadIds.split(','), function(val, id) {
                        //console.log('ID:' + id + ' data:' + data.ticket.id);
                        if(id == data.ticket.id) $(row).addClass("info");
                    });

                }
                               
                        
            });
            
           
            
            function _reply_ticket(param) {
                
                var ticketId = param.ticket.id;
                var requesterId = param.requester_id;
                //markTicketAsRead(ticketId );
                window.location.href ='{{ path("ticket.reply_page") }}' + '/' + ticketId + '/' + requesterId;
                
            }
            
            function _delete_ticket(param) {
                
                $.magnificPopup.open({
                    items: {
                        src: $('#confirmDialog'),
                        type: 'inline'
                    },
                    preloader: false,
                    modal: true,
                    callbacks: {
                        open: function() {
                            $('.btn-primary').click(function() {
                                var ticketId = param.ticket.id;

                                $.ajax({
                                    url: "{{path('ticket.delete') }}",
                                    type: "POST",
                                    dataType: "JSON",
                                    data: {
                                        "ticketId": ticketId
                                    },
                                     success: function(data){
                                         if(data.status) {

                                            var m = data.message;
                                            var t = data.message.text;
                                            var _thisAnchor = $("#anchorTicket");

                                            var _template = '';
                                            if(data.result.counter == 0) 
                                                _template = '<span> Ticket </span>';
                                            else
                                                _template = '<span class="label label-warning pull-right">'+ data.result.counter +'</span><span> Ticket </span>';
                                            _thisAnchor.find('span').remove();
                                            _thisAnchor.append(_template);
                                            
                                            
                                            $.Notification.notify(m.type ,'top center', m.title, m.text);
                                            $('#viewContainier .tab-pane.active table').trigger('refresh');
                                            $.magnificPopup.close();


                                         } else {

                                             console.log('Message: ' + JSON.stringify(data.message));

                                         }
                                     }
                                 });
                               
                                
                            });
                            
                            $('.btn-default').click(function() {
                               $.magnificPopup.close();
                                
                            });
                            
                            var keydownHandler = function (e) {
                                if (e.keyCode == 13) {
                                    $('.btn-primary').click();
                                    return false;
                                } else if (e.keyCode == 27) {
                                    $('.btn-default').click();
                                    return false;
                                }
                            };
                            $(document).on('keydown', keydownHandler);
                            
                        }
                    }
                });
                
            }
            
            
            
            //markTicketAsRead();
 
        });
    </script>
{% endblock %}