{% extends 'AppBundle:Layout:base.html.twig' %}

{% form_theme form _self %}

{% block title %}{{ "page.title.setting"|trans({},"CurrencyBundle") }}{% endblock %}

{% block stylesheet_plugins %}
    {{ form_assetcss(form) }}
{% endblock %}

{% block javascript_plugins %}
    {{ form_assetjs(form) }}
{% endblock %}

{% block pageTitle %}{{ "settings.currency.label"|trans({},"CurrencyBundle") }}{% endblock %}

{% block breadcrumb %}
    <li>{{ "breadcrumb.setting"|trans({},"AppBundle") }}</li>
    <li class="active">{{ "settings.currency.label"|trans({},"CurrencyBundle") }}</li>
{% endblock %}

{% block page %}
    <div class="col-md-12">
        <div class="card-box">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ form_javascript(form) }}
{% endblock %}

{% block _CurrencySetting_baseCurrency_javascript %}
    {% if form.vars.data is null -%}
    <script type="text/javascript">
        $(function() {
            $('#{{ form.vars.id }}').selectpicker('val', null;
        });
    </script>
    {%- endif  %}
{% endblock %}