<div class="col-sm-12">
    
    <div class="card-box risk-setting-product">
        {{ form_start(form) }}
        <div class="row">
            {{ form_row(form.riskId) }} <br />
            {{ form_row(form.isActive) }} <br />
            <div class="col-lg-12">
            {% if form.productRiskSettings | length > 0 %}
                <h4 style="padding-left: 15px;padding-bottom: 5px;">Products</h4>
                <hr/>
                <div class="row">
                    <div id="rs-product">
                        {% for productRiskSetting in form.productRiskSettings %}
                        <div class="col-md-4 col-sm-6 col-xs-12">

                            <div class="form-group">
                                <label class="col-sm-4 control-label">
                                    {{ productRiskSetting.vars.data.product.name }}
                                </label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        {{ form_widget(productRiskSetting.riskSettingPercentage) }}
                                        {{ form_widget(productRiskSetting.product) }}
                                        {{ form_widget(productRiskSetting.riskSetting) }}
                                        <span class="input-group-addon"><strong>%</strong></span>
                                    </div>
                                    {{ form_errors(productRiskSetting.riskSettingPercentage) }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
               {% do form.productRiskSettings.setRendered %}
            {% endif %}
            <br />
            </div>
        </div>
        {{ form_end(form) }}

        <div class="row">
            <div class="col-md-12">
                <div class="pull-right"><button id="btnSave" class="btn btn-success">Save</button></div>
            </div>
        </div>
    </div>
</div>
