<ul class="nav navtab-bg tabs-vertical">
    <li class="{% if app.request.attributes.get('_route') in ['customer.update_page','affiliate.update_page']  %}active{% endif %}">
        <a href="
            {%- if app.request.attributes.get('_route') in ['customer.update_page','affiliate.update_page'] -%}
                #profile
            {%- else -%}
                {{- path('customer.update_page', {'id': customer.id}) -}}
            {%- endif -%}
            " data-toggle="tab" aria-expanded="true" class="customer-tab">
            <span class="visible-xs visible-sm">
                <i class="ti-user"></i>
            </span>
            <span class="hidden-xs hidden-sm">
                <i class="ti-user"></i>
                {% if guestType == 'Affiliate'  %}
                    {{ "page.tab.affiliate"|trans({},"CustomerBundle") }}
                {% else %}
                    {{ "page.tab.profile"|trans({},"CustomerBundle") }}
                {% endif %}
            </span>
        </a>
    </li>
    {% if guestType == 'Customer'  %}
    <li class="">
        <a href="#security" data-toggle="tab" aria-expanded="true" class="customer-tab">
            <span class="visible-xs visible-sm">
                <i class="ti-key"></i>
            </span>
            <span class="hidden-xs hidden-sm">
                <i class="ti-key"></i>
                {{ "page.tab.security"|trans({},"CustomerBundle") }}
            </span>
        </a>
    </li>
    {%- endif -%}
    <li class="">
        <a href="#contacts" data-toggle="tab" aria-expanded="true" class="customer-tab">
            <span class="visible-xs visible-sm">
                <i class="ti-id-badge"></i>
            </span>
            <span class="hidden-xs hidden-sm">
                <i class="ti-id-badge"></i>
                {{ "page.tab.contacts"|trans({},"CustomerBundle") }}
            </span>
        </a>
    </li>
    <li class="">
        <a href="#socials" data-toggle="tab" aria-expanded="true" class="customer-tab">
            <span class="visible-xs visible-sm">
                <i class="ti-key"></i>
            </span>
            <span class="hidden-xs hidden-sm">
                <i class="ti-star"></i>
                {{ "page.tab.socials"|trans({},"CustomerBundle") }}
            </span>
        </a>
    </li>
    {% if customer.isCustomer %}
    {% if is_granted('ROLE_CUSTOMER_PRODUCT_VIEW') %}  
    <li class="">
        <a href="#product" data-toggle="tab" aria-expanded="true" class="customer-tab">
            <span class="visible-xs visible-sm">
                <i class="ti-bag"></i>
            </span>
            <span class="hidden-xs hidden-sm">
                <i class="ti-bag"></i>
                {{ "page.tab.product"|trans({},"CustomerBundle") }}
            </span>
        </a>
    </li>
    {% endif %}
    {%- endif -%}
    {% if is_granted('ROLE_TRANSACTION_VIEW') %}
    <li class="">
        <a href="#transactions" data-toggle="tab" aria-expanded="true" class="customer-tab">
            <span class="visible-xs visible-sm">
                <i class="ti-reload"></i>
            </span>
            <span class="hidden-xs hidden-sm">
                <i class="ti-reload"></i>
                {{ "page.tab.transactionHistory"|trans({},"CustomerBundle") }}
            </span>
        </a>
    </li>
    {% endif %}
    <li class="">
        <a href="#payments" data-toggle="tab" aria-expanded="true" class="customer-tab">
            <span class="visible-xs visible-sm">
                <i class="ti-money"></i>
            </span>
            <span class="hidden-xs hidden-sm">
                <i class="ti-money"></i>
                {{ "page.tab.payment"|trans({},"CustomerBundle") }}
            </span>
        </a>
    </li>
    <li class="">
        <a href="#docs" data-toggle="tab" aria-expanded="true" class="customer-tab">
            <span class="visible-xs visible-sm">
                <i class="ti-folder"></i>
            </span>
            <span class="hidden-xs hidden-sm">
                <i class="ti-folder"></i>
                {{ "page.tab.documents"|trans({},"CustomerBundle") }}
            </span>
        </a>
    </li>
    {% if customer.isAffiliate and guestType == 'Affiliate' %}
    <li class="">
        <a href="#customers" data-toggle="tab" aria-expanded="true" class="customer-tab">
            <span class="visible-xs visible-sm">
                <i class="fa fa-users"></i>
            </span>
            <span class="hidden-xs hidden-sm">
                <i class="fa fa-users"></i>
                {{ "page.tab.customers"|trans({},"CustomerBundle") }}
            </span>
        </a>
    </li>
    {% endif %}
    {% if not customer.isAffiliate %}
    {#<li class="">#}
        {#<a href="#ips" data-toggle="tab" aria-expanded="true" class="customer-tab">#}
            {#<span class="visible-xs">#}
                {#<i class="fa fa-users"></i>#}
            {#</span>#}
            {#<span class="hidden-xs">#}
                {#<i class="fa fa-users"></i>#}
                {#{{ "page.tab.ips"|trans({},"CustomerBundle") }}#}
            {#</span>#}
        {#</a>#}
    {#</li>#}
    {% endif %}
</ul>
