{% extends 'AppBundle:Layout:base.html.twig' %}

{% block stylesheets %}
    <!-- DataTables -->
    <link href="{{ asset('assets/plugins/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/responsive.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/dataTables.colVis.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/plugins/datatables/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block pageTitle -%}{{ "menus.Customer"|trans({},"CustomerBundle") }}{%- endblock %}

{% block breadcrumb -%}
    <li>
        <a href="{{ path("app.dashboard_page") }}">{{ "menus.Dashboard"|trans({},"AppBundle") }}</a>
    </li>
    <li>
        <a href="{{ path("customer.list_page") }}">{{ "menus.Customer"|trans({},"CustomerBundle") }}</a>
    </li>
    <li class='active'>
        {{ "menus.List"|trans({},"CustomerBundle") }}
    </li>
{%- endblock %}

{% block page %}
    <div class="col-sm-12">
        <div class="card-box">
            <div id="customerList">
                <table id="datatable-responsive"
                    class="table table-striped dt-responsive nowrap" cellspacing="0"
                    width="100%">
                    <thead>
                        <tr>
                            <th>{{ "fields.id"|trans({}, "CustomerBundle") }}</th>
                            <th>{{ "fields.fullName"|trans({}, "CustomerBundle") }}</th>
                            <th>{{ "fields.username"|trans({}, "UserBundle") }}</th>
                            <th>{{ "fields.email"|trans({}, "CustomerBundle") }}</th>
                            <th>{{ "fields.country"|trans({}, "CustomerBundle") }}</th>
                            <th>{{ "fields.currency"|trans({}, "CustomerBundle") }}</th>
                            <th>{{ "fields.balance"|trans({}, "CustomerBundle") }}</th>
                            <th>{{ "fields.action"|trans({}, "AppBundle") }}</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.bootstrap.js') }}"></script>

    <script src="{{ asset('assets/plugins/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/responsive.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.colVis.js') }}"></script>

    <script src="{{ asset('bundles/customer/js/list.js') }}" type="text/javascript" ></script>
    <script type="text/javascript" >
        $(function(){
            $('#customerList').list({
                'url': {
                    'list': '{{- path("customer.list_search") -}}'
                },
                'data': {
                    'isAffiliate': 0
                }
            });
        });
    </script>
{% endblock %}