{% use "AppBundle:Widget:base.html.twig"  %}

{% block medialibrary_assetcss %}
    <link rel="stylesheet" href="{{ asset("assets/plugins/dropzone/dropzone.css") }}" />
{% endblock medialibrary_assetcss %}

{% block medialibrary_container %}
    <div id="{{ block_id }}">
        {{ widget_render_block(widget, 'widget') }}
    </div>
{% endblock medialibrary_container %}

{% block medialibrary_widget %}
    <div id="{{ block_id }}" class="row">
        <div class="list col-md-12">
            <div class="media-actions">
                <button class="btn btn-primary btn-sm btn-upload">
                    <span class="btn-label"><i class="fa fa-upload"></i></span>
                    Upload
                </button>
                <button class="btn btn-inverse btn-sm btn-refresh"><i class="fa fa-refresh"></i></button>
            </div>
            <div id="{{ id }}List" >
            </div>
        </div>
        <div class="media-details-container">
          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <!-- <div class="media-file-none">
                    <i class="fa fa-file"></i>
                    <p>Nothing was selected</p>
                </div> -->
                <div class="modal-header">
                  <button type="button" class="close btn-close" data-dismiss="modal">&times;</button>
                </div>
                <div class="media-file-selected hide">
                    <div class="media-selected-thumb">
                        <div class="media-selected-thumb-container">
                            <div class="icon"><i></i></div>
                            <div class="img">
                                <div class='img-c'>
                                    <div><img src="" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media-selected-actions">
                        {# <button class="btn btn-sm btn-info btn-download">
                            <i class="fa fa-download"></i>
                        </button> #}
                        <div class="row">
                            <div class="col-md-6">
                              <button class="btn btn-sm btn-danger btn-delete" data-dismiss="modal">
                                  <i class="fa fa-trash"></i>
                              </button>
                              <div class="media-selected-info">
                                  <div class="row">
                                      <div class="col-md-3 media-selected-info-label text-muted">Type</div>
                                      <div class="col-md-9 media-selected-info-value" data-info="type"></div>
                                  </div>
                              </div>
                            </div>
                            <div>
                              <div class="col-md-6">
                                <div class="cls-title">
                                  <h3 class="media-selected-title">
                                      <a data-info="title" class="kyc-download" data-type="text" data-placeholder="Enter Title" data-title="Title"></a>
                                  </h3>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>

            </div>
          </div>
        </div>
    </div>

    <div id="{{ id }}DropzoneModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Upload Modal" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-responsive">
            <div class="modal-content create-product-content p-0 b-0">
                <div class="panel panel-color panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title create-product-title">Upload</h3>
                    </div>
                    <div class="panel-body">
                        <div id="{{ id }}Dropzone" class="dropzone">
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <!--button class='btn btn-pink' type='button' id='btn-upload'>Upload</button-->
                        <button type="button" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Okay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock medialibrary_widget %}

{% block medialibrary_stylesheet %}
    <style type="text/css">
        #{{ id }}List {
            padding-top: 10px;
        }

        #{{ id }}List .list:after {
            content: '';
            display: block;
            clear: both;
        }

        .media-file {
            width: 200px;
            height: 200px;
            max-height: 220px;
            max-width: 200px;
            border: 1px #98a6ad solid;
            float: left;
            margin: 5px;
            cursor: pointer;
            display: table;
            background: #f5f5f5;
            font-size: 50px;
            position: relative;
        }

        .media-file:after {
            content: "";
            display: block;
            clear: both;
        }

        .media-file:hover .media-info {
            background: #a9f4ff;
        }

        .media-file.selected .media-info {
            background: #4ea5e0;
            border-color: #2581b8;
        }

        .media-file.selected .media-info {
            color: #ecf0f1;
        }

        .media-file .icon-container {
            display: table-cell;
            width: 100%;
            height: 100%;
            text-align: center;
            vertical-align: middle;
        }

        .media-file .icon-container div {
            overflow: hidden;
            max-height: 200px;
            max-width: 200px;
        }

        .media-file .icon-container div img {
            min-height: 100px;
            max-height: 190px;
        }

        .upload-actions {
            padding: 10px;
            border-bottom: 1px rgb(238, 238, 238) solid;
        }

        .media-info {
            position: absolute;
            left: 0px;
            bottom: 0px;
            background: white;
            font-size: 14px;
            font-weight: bold;
            width: 100%;
            padding: 10px;
            max-height: 40px
        }

        .media-info .document-title {
            max-width: 190px;
            max-height: 20px;
        }

        .media-actions {
            padding: 10px;
            border-bottom: 1px rgb(238, 238, 238) solid;
        }
        .media-file-none {
            text-align: center;
            padding: 20px 10px 10px 10px;
            color: #bdc3c7;
        }
         .media-file-none i {
            font-size: 50px;
            padding: 20px;
        }

        .media-details {
            font-size: 13px;
        }
        .media-details th,
        .media-details td {
            padding: 2px;
        }

        .media-details th.document-details-label {
            padding-right: 10px;
        }

        .media-details-container {
            height: 100%;
            padding: 0px;
        }

        .media-selected-title {
            padding-left: 10px;
            padding-right: 10px;
        }

        .media-selected-thumb {
            background: #f5f5f5;
            height: 100%;
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
        }

        .media-selected-thumb {
            padding: 10px;
        }

        .media-selected-thumb-container {
            display: table;
        }

        .media-selected-thumb.icon-thumb {

        }


        .media-selected-thumb .icon {
            font-size: 100px;
            vertical-align: middle;
            text-align: center;
            max-height: 100%;
            display: table-cell;
        }

        .media-selected-thumb .img {
            vertical-align: middle;
            text-align: center;
            max-height: 100%;
            display: table-cell;
        }

        .media-selected-thumb .img .img-c {
            width: 100%;
        }

        .media-selected-thumb .img img {
            max-height: 100%;
            max-width: 100%;
        }

        .media-selected-thumb .img .img-c div {
        }

        .media-selected-info-label {
            font-weight: bold;
        }

        .media-selected-info {
            margin: 10px 0 0 0;
        }

        .media-selected-actions {
            margin-bottom: 10px;
        }

        .ellipsis {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .media-selected-title .fa-download {
            color: #337ab7;
        }

        .cls-title {
            text-align: right;
        }

        .media-selected-title i {
            margin: 0 8px;
        }

        button.close.btn-close {
            color: black;
        }

        .modal .modal-dialog .modal-content .modal-header {
            margin: 0;
            padding: 0;
            padding-bottom: 15px;
        }

        .modal-header {
            border-bottom: none;
        }

    </style>
{% endblock medialibrary_stylesheet %}

{% block medialibrary_javascript %}
    <script id="{{ block_id }}">
        function {{id}}ExecPage()
        {
            $(function () {

                $('#{{ id }}List').on('fileClick', function(event, file) {
                    //$('.media-selected-info-value[data-info="description"]').editable('destroy');
                    //$('.media-selected-title a').editable('destroy');
                    $(this).attr("data-toggle", "modal");
                    $(this).attr("data-target", "#myModal");
                    $('.media-details-container .media-file-none').addClass('hide');
                    $('.media-details-container .media-file-selected ').removeClass('hide');

                    $('.media-selected-title a').html('<i class="fa fa-download"></i>' + file.getInfo('title'));
                    $('.media-selected-title a').attr('href', file.getInfo('route').render);
                    if(file.getType() == 'image') {
                        $('.media-selected-thumb .icon').addClass('hide');
                        $('.media-selected-thumb .img').removeClass('hide');
                        $('.media-selected-thumb img').attr('src', file.getInfo('route').render);
                        $('.media-selected-thumb').removeClass('icon-thumb');
                    } else {
                        $('.media-selected-thumb .icon').removeClass('hide');
                        $('.media-selected-thumb .img').addClass('hide');
                        $('.media-selected-thumb .icon i').attr('class', file.getIcon().icon);
                        $('.media-selected-thumb .icon i').css(file.getIcon().style);
                        $('.media-selected-thumb').addClass('icon-thumb');
                    }
                    $('.media-selected-info-value').each(function(i) {
                        var info = $(this).data('info');
                        $(this).html(file.getInfo(info));
                    });
                });


                $('#{{ id }}List').mediaLibrary({
                    'url': {
                        'list': {{ widget.hasProperty('documentsPath') ? "'" ~ widget.property('documentsPath') ~ "'" : 'window.location' }}
                    },
                    'headers': {
                        'X-WIDGET-REQUEST': 'onGetList',
                        'X-WIDGET-PATH': '{{ widget_path }}',
                        'X-WIDGET-ID': '{{ id }}'
                    },
                    'file': {
                        'autoRender': true
                    },
                    'autoRender': false,
                    'icons': {
                        'pptx': {'icon': 'fa fa-file-powerpoint-o', 'style': {'color': 'orange'}},
                        'docx': {'icon': 'fa fa-file-word-o', 'style': {'color': 'blue'}},
                        'csv': {'icon': 'fa fa-file-excel-o', 'style': {'color': 'green'}}
                    },
                    'types': {
                        'docx': 'Word Document',
                        'pptx': 'PowerPoint Document',
                        'png': 'Image (PNG)',
                        'csv': 'CSV File'
                    }
                });
                $('#{{ id }}_widget .btn-refresh').click(function () {
                    $('#{{ id }}List').mediaLibrary('refresh');
                });

                $('#{{ id }}_widget .btn-upload').click(function () {
                    $('#{{ id }}DropzoneModal').modal('show');
                });

                Dropzone.options.{{ camelized_id }}Dropzone = false;
                $('#{{ id }}Dropzone').dropzone({
                    'url': '{{ app.request.uri }}',
                    'autoProcessQueue': true,
                    'addRemoveLinks': true,
                    'headers': {
                        'X-WIDGET-REQUEST': 'onUploadFile',
                        'X-WIDGET-PATH': '{{ widget_path }}',
                        'X-WIDGET-ID': '{{ id }}'
                    },
                    'init': function () {
                        this.on('success', function () {
                            $('#{{ id }}List').mediaLibrary('refresh');
                        });
                    }
                });

                $('#{{ id }}_widget .btn-delete').click(function () {
                    confirm2('Are you sure you want to delete the document',
                        'Delete Document', {
                            'type': null,
                            'confirmButtonClass': 'btn-success btn-md',
                            'confirmButtonText': 'Delete',
                            'cancelButtonClass': 'btn-inverse btn-md',
                            'cancelButtonText': 'Cancel',
                            'html': true,
                            'showLoaderOnConfirm': true
                        }, function(toDelete) {
                            if (toDelete) {
                                var selectedFile = $('#{{ id }}List').mediaLibrary('getSelectedFile');
                                $.ajax({
                                    'cache': false,
                                    'headers': {
                                        'X-WIDGET-REQUEST': 'onDeleteFile',
                                        'X-WIDGET-PATH': '{{ widget_path }}',
                                        'X-WIDGET-ID': '{{ id }}'
                                    },
                                    'data': {'data': {'filename': selectedFile.fileInfo.filename, 'folder': selectedFile.fileInfo.folder}},
                                    'success': function () {
                                        swal({
                                            'type': 'success',
                                            'title': 'Document Deleted',
                                            'text': 'Document has been deleted successfully!',
                                        }, function() {
                                            $('#{{ id }}List').mediaLibrary('refresh');
                                            $('.media-file-selected').addClass('hide');
                                            $('.media-file-none').removeClass('hide');
                                        });
                                    }
                                });
                            }
                        });
                });
            });
        }

        $('#update_documentsDropzoneModal').on('hidden.bs.modal', function () {
            Dropzone.forElement("#update_documentsDropzone").removeAllFiles(true);
        })

        page.addScript('{{ absolute_url(asset('bundles/media/js/MediaLibrary.js')) }}');
        page.addScript('{{ absolute_url(asset("assets/plugins/dropzone/dropzone.js")) }}')
        page.addLoader({{ id }}ExecPage, ['{{ absolute_url(asset('bundles/media/js/MediaLibrary.js')) }}', '{{ absolute_url(asset("assets/plugins/dropzone/dropzone.js")) }}']);
    </script>
{% endblock medialibrary_javascript %}
