{% extends 'AppBundle:Layout:base.html.twig' %}

{% widget_template dashboardWidgets 'AppBundle:Default:dashboard.widgets.html.twig' %}

{% block title %}{{ 'page.title.dashboard'|trans({},'AppBundle') }}{% endblock %}

{% block stylesheets %}
    {{ widget_render_block(dashboardWidgets, 'assetcss') }}
    {{ widget_render_block(dashboardWidgets, 'stylesheet') }}
{% endblock %}

{% block pageTitle -%} {{ "menus.Dashboard"|trans({},"AppBundle") }} {%- endblock %}


{% block pageHeaderExtra %}
<div class="btn-group pull-right dashboard-head">
    <button type="button" class="btn btn-inverse dropdown-toggle waves-effect pull-right" data-toggle="dropdown" aria-expanded="true">Manage Widgets <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
    <ul class="dropdown-menu drop-menu-right" role="menu">
        <li><a id="manage-widget">Add Widget</a></li>
        {% if is_granted('ROLE_DASHBOARD_MAKE_DEFAULT') %}
        <li class="hidden"><a id="manageMakeDefault">Make Default</a></li>
        {% endif %}
    </ul>
    <ul class="list-inline quicklinks font-13 font-normal text-right m-t-10">
        <li>Create Transaction:</li>
        <li><a href="{{ path("transaction.create_page", {'type': 'deposit'}) }}">{{ "menus.Deposit"|trans({},"TransactionBundle") }}</a></li>|
        <li><a href="{{ path("transaction.create_page", {'type': 'withdraw'}) }}">{{ "menus.Withdraw"|trans({},"TransactionBundle") }}</a></li>
        </li>
    </ul>
</div>
{% endblock pageHeaderExtra %}

{% block page %}
    {{ widget_render(dashboardWidgets) }}
{% endblock %}

{% block javascripts -%}
    <script src="{{ asset('assets/plugins/jquery-form/jquery.form.min.js') }}"></script>
    {{ widget_render_block(dashboardWidgets, 'assetjs') }}
    {{ widget_render_block(dashboardWidgets, 'javascript') }}

    <script>
        var widgetFormPath = '{{ path('app.dashboard_widget_form', {'widgetName': '_widgetName_'}) }}';
        $(function () {
            $('#manage-widget').click(function () {
                $('#widgetForm').modal('show');
                $('.transactionLimit ul li').last().hide();
            });
            $('#widgetName').on('changed.bs.select', function (e) {
                $('#widgetFormContainer').html('');
                var selected = e.target.value;
                if (selected !== '') {
                    $.ajax({
                        'url': widgetFormPath.replace('_widgetName_', selected),
                        'type': 'POST',
                        'success': function (data) {
                            var form = $(data).find('#_form > form');
                            $('#widgetFormContainer').html(form);
                            $(form).find('.selectpicker').selectpicker();
                            $('#widgetFormScripts').html($(data).find('#_scripts'));
                        }
                    });
                }
            });

            $('#widgetFormContainer').on('submit', 'form', function (e) {
                e.preventDefault();
                $(this).ajaxSubmit({
                    'success': function (data) {
                        notification('Added', 'Successfully added new widget', 'success');
                        window.location.reload();
                    }
                });
            });

            $('#btnWidgetAdd').click(function () {
                $('#widgetForm form').submit();
            });
            $('.widget-remove').click(function (e) {
                e.preventDefault();
                $.ajax({
                    'url': $(this).attr('href'),
                    'success': function (data) {
                        notification('Removed', data.message, 'success');
                        window.location.reload();
                    }
                });
            });
            $('#manageMakeDefault').click(function (e) {
                $.ajax({
                    'url': '{{ path('app.dashboard_make_default') }}',
                    'success': function (data) {
                        notification('Saved', data.message, 'success');
                    }
                });
            });

            $(document).on( "changed.bs.select", '#widget_status' , function() {
                $(this).each(function() {
                    var pending = "1,4";
                    var result = 0; 

                    if ($(this).val()) {
                        result = $(this).val().toString();
                    }
        
                    if (result === pending){
                       $('.transactionLimit ul li').last().css({'display':'block'});
                    }else{
                       $('.transactionLimit ul li').last().css({'display':'none'});
                    }
                });
            });
        });

    </script>
{%- endblock %}

{% block modals -%}
    {% include "AppBundle:Modal:widget-form.html.twig" %}
{%- endblock modals %}