{% extends 'AppBundle:Layout:base.html.twig' %}

{% block title %}{{ 'page.title.dashboard'|trans({},'AppBundle') }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("assets/css/custom.css") }}"/>
    <link href="{{ asset("assets/plugins/datatables/jquery.dataTables.min.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("assets/plugins/datatables/dataTables.responsive.min.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("assets/plugins/datatables/buttons.bootstrap.min.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("assets/plugins/datatables/responsive.bootstrap.min.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("assets/plugins/datatables/dataTables.bootstrap.min.css") }}" rel="stylesheet" type="text/css"/>

    <link href="{{ asset("assets/plugins/multiselect/css/multi-select.css") }}"  rel="stylesheet" type="text/css" />
    <link href="{{ asset("assets/plugins/bootstrap-select/css/bootstrap-select.min.css") }}" rel="stylesheet" />
    <link href="{{ asset("assets/plugins/bootstrap-select/css/select2.css") }}" rel="stylesheet" />
    <link href="{{ asset("assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css") }}" rel="stylesheet" />
    <link href="{{ asset("assets/plugins/switchery/js/switchery.min.css") }}" rel="stylesheet" />

    <link href="{{ asset("assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css") }}" rel="stylesheet"/>
    <link href="{{ asset("assets/plugins/bootstrap-daterangepicker/daterangepicker.css") }}" rel="stylesheet"/>

    <link href="{{ asset("assets/plugins/custombox/css/custombox.css") }}" rel="stylesheet">

{% endblock %}

{% block content %}

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12 m-b-15">
            <div class="btn-group pull-right m-t-5">
                <button type="button" class="btn btn-inverse dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="true">Manage Widgets <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                <ul class="dropdown-menu drop-menu-right" role="menu">
                    <li><a id="manage-widget">Add Widget</a></li>
                </ul>
            </div>
            <h2 class="page-title">Dashboard</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-md-12">
                    {# Transaction Search #}
                    <div class="portlet">
                        <div class="portlet-heading">
                            <h3 class="portlet-title text-dark">Transaction Search</h3>
                            <div class="portlet-widgets">
                                <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                <span class="divider"></span>
                                <a data-toggle="collapse" data-parent="#accordion1" href="#transaction_search_portlet"><i class="ion-minus-round"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="transaction_search_portlet" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div class="filters">
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="trans_search_from">From</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control input-sm" placeholder="mm/dd/yyyy" id="trans_search_from">
                                                        <span class="input-group-addon bg-white text-default input-sm"><i class="icon-calender"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="trans_search_to">To</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control input-sm" placeholder="mm/dd/yyyy" id="trans_search_to">
                                                        <span class="input-group-addon bg-white text-default input-sm"><i class="icon-calender"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="trans_search_type">Type</label>
                                                    <select class="form-control input-sm selectpicker" id="trans_search_type" name="trans_search_type" multiple data-selected-text-format="count > 3" data-style="btn-white input-sm" data-live-search="true">
                                                        <option>All</option>
                                                        <option>Deposit</option>
                                                        <option>Withdrawal</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="trans_search_currency">Currency</label>
                                                    <select class="form-control input-sm selectpicker" id="trans_search_currency" name="trans_search_currency" multiple data-selected-text-format="count > 3" data-style="btn-white input-sm" data-live-search="true">
                                                        <option>PHP</option>
                                                        <option>BTC</option>
                                                        <option>USD</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="trans_search_status">Status</label>
                                                    <select class="form-control input-sm selectpicker" id="trans_search_status" name="trans_search_status" multiple data-selected-text-format="count > 3" data-style="btn-white input-sm" data-live-search="true">
                                                        <option>PROCESSED</option>
                                                        <option>REQUESTED</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <input type="text" id="trans_search_username" name="trans_search_username" class="form-control input-sm" placeholder="Search" data-toggle="tooltip" data-placement="right" title="Search by Member name / Product username / Member AMS username">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="pull-right">
                                                    <button class="btn btn-success waves-effect waves-light">Search</button>
                                                    <button class="btn btn-inverse waves-effect waves-light">Reset Filters</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {# Pending Transactions #}
                    <div class="portlet">
                        <div class="portlet-heading portlet-default">
                            <h3 class="portlet-title text-dark">
                                Pending Transactions
                            </h3>
                            <div class="portlet-widgets">
                                <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                <span class="divider"></span>
                                <a data-toggle="collapse" data-parent="#accordion1" href="#pending_trans_protlet"><i class="ion-minus-round"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="pending_trans_protlet" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div class="filters">
                                    <table id="pending-transactions" class="table table-hover table-bordered table-condensed dt-responsive nowrap" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Date and Time</th>
                                                <th class="all">Member</th>
                                                <th>Type</th>
                                                <th>Amount</th>
                                                <th class="all">Status</th>
                                                <th class="all">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>2016/11/23 22:30</td>
                                                <td>Aavid Hunter</td>
                                                <td>Deposit</td>
                                                <td>EUR 206.99</td>
                                                <td>Requested</td>
                                                <td>
                                                    <button class="btn btn-primary btn-xs waves-effect waves-light">View</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2016/11/23 22:30</td>
                                                <td>David Hunter</td>
                                                <td>Deposit</td>
                                                <td>EUR 206.99</td>
                                                <td>Requested</td>
                                                <td>
                                                    <button class="btn btn-primary btn-xs waves-effect waves-light">View</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Recent Transactions #}
                    <div class="portlet">
                        <div class="portlet-heading portlet-default">
                            <h3 class="portlet-title text-dark">
                                Recent Transactions
                            </h3>
                            <div class="portlet-widgets">
                                <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                <span class="divider"></span>
                                <a data-toggle="collapse" data-parent="#accordion1" href="#recent_trans_portlet"><i class="ion-minus-round"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="recent_trans_portlet" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <div class="filters">
                                    <table id="recent-transactions" class="table table-hover table-bordered table-condensed dt-responsive nowrap">
                                        <thead>
                                            <tr>
                                                <th class="all">Transaction #</th>
                                                <th>Date and Time</th>
                                                <th>Members</th>
                                                <th>Type</th>
                                                <th>Amount</th>
                                                <th class="all">Status</th>
                                                <th class="all">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="transaction-id">12345678901234567890</td>
                                                <td>2016/06/26 22:30</td>
                                                <td>David Hunter</td>
                                                <td>Deposit</td>
                                                <td>EUR 206.99</td>
                                                <td>Processed</td>
                                                <td>
                                                    <button class="btn btn-primary btn-xs waves-effect waves-light">Details</button>
                                                    <button class="btn btn-danger btn-xs waves-effect waves-light">Void</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="transaction-id">12345678901234567890</td>
                                                <td>2016/06/26 22:30</td>
                                                <td>James Jay</td>
                                                <td>Withdrawal</td>
                                                <td>GBPEUR 299.99</td>
                                                <td>Declined</td>
                                                <td>
                                                    <button class="btn btn-primary btn-xs waves-effect waves-light">Details</button>
                                                    <button class="btn btn-danger btn-xs waves-effect waves-light">Void</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="transaction-id">12345678901234567890</td>
                                                <td>2016/06/26 22:30</td>
                                                <td>David Hunter</td>
                                                <td>Transfer</td>
                                                <td>EUR 206.99</td>
                                                <td>Voided</td>
                                                <td>
                                                    <button class="btn btn-primary btn-xs waves-effect waves-light">Details</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            {# Member Search #}
            <div class="portlet">
                <div class="portlet-heading portlet-default">
                    <h3 class="portlet-title text-dark">Member Search</h3>
                    <div class="portlet-widgets">
                        <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion1" href="#cust_search_portlet"><i class="ion-minus-round"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="cust_search_portlet" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="filters">
                            <form>
                                <div class="row">
                                    <div class="col-lg-2 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label" for="cust_date_created_from">From</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control input-sm" placeholder="mm/dd/yyyy" id="cust_date_created_from">
                                                <span class="input-group-addon bg-white text-default input-sm"><i class="icon-calender"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label" for="cust_date_created_to">To</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control input-sm" placeholder="mm/dd/yyyy" id="cust_date_created_to">
                                                <span class="input-group-addon bg-white text-default input-sm"><i class="icon-calender"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-12 col-sm-12">
                                        <div class="form-group country-list">
                                            <label class="control-label" for="cust_search_country">Country</label>

                                            <select class="selectpicker" multiple data-selected-text-format="count > 3" data-style="btn-white input-sm" data-live-search="true" id="cust_search_country" name="cust_search_country" data-actions-box="true">
                                                <option>Philippines</option>
                                                <option>Netherlands</option>
                                                <option>Australia</option>
                                                <option>United States</option>
                                                <option>Germany</option>
                                                <option>Philippines</option>
                                                <option>Netherlands</option>
                                                <option>Australia</option>
                                                <option>United States</option>
                                                <option>Germany</option>
                                                <option>Philippines</option>
                                                <option>Netherlands</option>
                                                <option>Australia</option>
                                                <option>United States</option>
                                                <option>Germany</option>
                                                <option>Philippines</option>
                                                <option>Netherlands</option>
                                                <option>Australia</option>
                                                <option>United States</option>
                                                <option>Germany</option>
                                                <option>Philippines</option>
                                                <option>Netherlands</option>
                                                <option>Australia</option>
                                                <option>United States</option>
                                                <option>Germany</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label" for="cust_search_currency">Currency</label>
                                            <select class="form-control input-sm selectpicker" multiple data-selected-text-format="count > 3" data-style="btn-white input-sm" data-live-search="true" id="cust_search_currency" name="cust_search_currency">
                                                <option>PHP</option>
                                                <option>BTC</option>
                                                <option>USD</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label" for="cust_search_status">Status</label>
                                            <select class="form-control input-sm selectpicker" multiple data-selected-text-format="count > 3" data-style="btn-white input-sm" data-live-search="true" id="cust_search_status" name="cust_search_status">
                                                <option>PROCESSED</option>
                                                <option>REQUESTED</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label" for="cust_search_kyc">KYC</label>
                                            <select class="form-control input-sm selectpicker" multiple data-selected-text-format="count > 3" data-style="btn-white input-sm" data-live-search="true" id="cust_search_kyc" name="cust_search_kyc">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <input type="text" id="cust_search" name="cust_search" placeholder="Search" class="form-control input-sm" data-toggle="tooltip" data-placement="right" title="Search by Member name / Product username / Member AMS username">
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="pull-right">
                                            <button class="btn btn-success waves-effect waves-light">Search</button>
                                            <button class="btn btn-inverse waves-effect waves-light">Reset Filters</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {# Recent Members #}
            <div class="portlet">
                <div class="portlet-heading portlet-default">
                    <h3 class="portlet-title text-dark">Recent Members</h3>
                    <div class="portlet-widgets">
                        <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion1" href="#recent-cust-portlet"><i class="ion-minus-round"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="recent-cust-portlet" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="filters">
                            <table id="recent-customers" class="table table-hover table-bordered table-condensed  dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th class="all">Name</th>
                                        <th>Country</th>
                                        <th>Currency</th>
                                        <th>KYC Status</th>
                                        <th class="all">Status</th>
                                        <th class="all">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Paul Wilson</td>
                                        <td>Netherlands</td>
                                        <td>EUR</td>
                                        <td>Verified</td>
                                        <td>Requested</td>
                                        <td>
                                            <button class="btn btn-primary btn-xs waves-effect waves-light">View</button>
                                            <button class="btn btn-danger btn-xs waves-effect waves-light">Void</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Paul Wilson</td>
                                        <td>Netherlands</td>
                                        <td>GBP</td>
                                        <td>Not Verified</td>
                                        <td>Requested</td>
                                        <td>
                                            <button class="btn btn-primary btn-xs waves-effect waves-light">View</button>
                                            <button class="btn btn-danger btn-xs waves-effect waves-light">Void</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            {# Daily Win/Loss #}
            <div class="portlet">
                <div class="portlet-heading">
                    <h3 class="portlet-title text-dark">Daily Win/Loss</h3>
                    <div class="portlet-widgets">
                        <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                        <span class="divider"></span>
                        <a data-toggle="collapse" data-parent="#accordion1" href="#bg-default"><i class="ion-minus-round"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="bg-default" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="filters">
                                <form>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label" for="wl_products">Products</label>
                                            <select class="form-control input-sm selectpicker" multiple data-selected-text-format="count > 3" data-style="btn-white input-sm" data-live-search="true" id="wl_products" name="wl_products">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label" for="wl_currency">Currency</label>
                                            <select class="form-control input-sm selectpicker" multiple data-selected-text-format="count > 3" data-style="btn-white input-sm" data-live-search="true" id="wl_currency" name="wl_currency">
                                                <option>EUR</option>
                                                <option>PHP</option>
                                                <option>BTC</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label" for="wl_status">Status</label>
                                            <select class="form-control input-sm selectpicker" multiple data-selected-text-format="count > 3" data-style="btn-white input-sm" data-live-search="true" id="wl_status" name="wl_status">
                                                <option>PROCESSED</option>
                                                <option>REQUESTED</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="pull-right">
                                            <button class="btn btn-success waves-effect waves-light">Search</button>
                                            <button class="btn btn-inverse waves-effect waves-light">Reset Filters</button>
                                            <button class="btn btn-warning waves-effect waves-light">Upload File</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals -%}
    {% include "AppBundle:Form:widget-form.html.twig" %}
{%- endblock modals %}

{% block javascripts -%}
    <script src="{{ asset("assets/plugins/datatables/jquery.dataTables.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/plugins/datatables/dataTables.bootstrap.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/plugins/datatables/dataTables.buttons.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/plugins/datatables/buttons.bootstrap.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/plugins/datatables/buttons.html5.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/plugins/datatables/buttons.print.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/plugins/datatables/dataTables.responsive.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/plugins/datatables/responsive.bootstrap.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/pages/datatables.init.js") }}" type="text/javascript"></script>

    <script src="{{ asset("assets/plugins/multiselect/js/jquery.multi-select.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/plugins/multiselect/js/jquery.quicksearch.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/plugins/select2/js/select2.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/plugins/bootstrap-select/js/bootstrap-select.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/plugins/switchery/css/switchery.min.css") }}" type="text/javascript"></script>

    <script src="{{ asset("assets/plugins/moment/moment.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/plugins/bootstrap-daterangepicker/daterangepicker.js") }}" type="text/javascript"></script>

    <script src="{{ asset("assets/plugins/custombox/js/custombox.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset("assets/plugins/custombox/js/legacy.min.js") }}" type="text/javascript"></script>
    <script>
        jQuery( document ).ready(function() {
            //jQuery("#trans_search_type")[0].selectedIndex = 0;
            //jQuery('#trans_search_type').selectpicker('selectAll');

            $('#pending-transactions, #recent-transactions, #recent-customers').DataTable({
                responsive:true,
                searching: false,
                lengthChange: false,
                paging: false,
                info: false
            });
            $('#trans_search_from, #trans_search_to,#cust_date_created_from, #cust_date_created_to').datepicker({ autoclose:true });
        });
        TableManageButtons.init();

        jQuery(function($){
            $('.transaction-ids').each(function() {
                var that = $(this),
                    title = that.text(),
                    chars = title.length;

                if (chars > 10) {
                    var newTitle = title.substring(0, 10) + "...";
                    that.text(newTitle);
                }
            });

            $('#manage-widget').click(function (e) {
                $('#widgetForm').modal('show');
            });
        });

    </script>

{%- endblock %}
