{% extends 'AppBundle:Layout:base.html.twig' %}

{% form_theme form 'GatewayBundle:Form:gateway.html.twig' %}

{% block title %}{{ "page.title.create"|trans({},"GatewayBundle") }}{% endblock %}

{% block stylesheet_plugins %}
    {{ form_assetcss(form) }}
{% endblock %}

{% block javascript_plugins %}
    {{ form_assetjs(form) }}
{% endblock %}

{% block pageTitle -%}
    {{ "page.Create Gateway"|trans({},"GatewayBundle") }}
{%- endblock %}

{% block pageHeaderExtra %}
    <div class="pull-right">
        {% if is_granted('ROLE_GATEWAY_VIEW') %}
        <a class="btn btn-inverse waves-effect waves-light pull-right m-b-10" href="{{ path("gateway.list_page") }}"><span><i class="ti-arrow-left m-r-5 "></i></span> {{ "menus.BackToGatewayList"|trans({},"GatewayBundle") }}</a>
        {% endif %}
        <ul class="list-inline quicklinks font-13 font-normal text-right">
            <li>Quick Links:</li>
            {% if is_granted('ROLE_CURRENCY_VIEW') %}
            <li><a href="{{ path("currency.list_page") }}">Currency</a></li>|
            {% endif %}
            {% if is_granted('ROLE_PRODUCT_VIEW') %}
            <li><a href="{{ path("product.list_page") }}">Product</a></li>|
            {% endif %}
        </ul>
    </div>
{% endblock pageHeaderExtra %}

{% block breadcrumb %}
    <li>{{ "breadcrumb.finance"|trans({},"AppBundle") }}</li>
    <li>
        <a href="{{ path("gateway.list_page") }}">{{ "Gateway List"|trans({},"GatewayBundle") }}</a>
    </li>
    <li class="active">{{ "menus.Create"|trans({},"AppBundle") }}</li>
{% endblock %}

{% block page -%}
    {% include "GatewayBundle:Form:gateway-form.html.twig" %}
{%- endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var paymentOptionModes = {{ (paymentOptions|json_encode(true))|raw }};
    </script>

    {{ form_javascript(form) }}
{% endblock %}